<section class="dashboard">

    <div class="container-fluid">            
            

            
        <div class="row">

                


            <div class="col-md-3 col-12 dash-menu">


                {if="$user.inplancontext == 0"}

                    {include="dashboard-menu-free"}


                {elseif="!$validate"}

                    {include="dashboard-menu-expirated"}
               

                {else}

                    {include="dashboard-menu"}

                {/if}
                    

            </div><!--col-->




            <div class="col-md-9 col-12 dash-panel">


         





                <div class="row">
                    
                    <div class="col-12">

                        <a href="/dashboard/sua-carteira">
                            <div class="dash-title">
                                <h1>Sua Carteira</h1>
                            </div>
                        </a>

                    </div>

                </div>

        

                <div class="row">

                    <div class="col-9">
                
                        <div class="button-header">
                
                            <a href="/dashboard/painel-financeiro">
                                <div class="button3 centralizer">
                                    <i class="fa fa-angle-left"></i>
                                </div>
                            </a>
                
                        </div>
                
                    </div>
                
                    
                
                </div>
            



                {if="$success != ''"}
                        <div class="row">
                            <div class="col-12">
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    {$success}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div> 
                        </div>  
                    {/if}

                    {if="$error != ''"}
                        <div class="row">
                            <div class="col-12">
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    {$error}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div> 
                        </div>  
                    {/if} 



                




                <div class="row card-dash2">





                    {if="$bankExists"}


                    <div class="col-md-7">
                        


                        <div class="row card-dash-row1 padding-header green1">


                                                       



                            <div class="col-12">

                                <div class="card-dash-field2">


                                    <div class="card-dash-content2">
                                        <span title="Sua Carteira">{$account.desaccountcode}</span>
                                    </div>


                                    

                                </div><!--card-dash-field2-->


                            </div><!--col-->







                            





                        </div><!--row-->




                        <div class="row card-dash-row2 padding5">




                            <div class="col-12">

                                <div class="card-dash-field2">


                                    <div class="card-dash-content">
                                        <span>{$account.desname}</span>
                                    </div>


                                    <div class="card-dash-header4">
                                        <hr>
                                        <span>Nome</span>
                                    </div>

                                </div><!--card-dash-field2-->


                            </div><!--col-->


                            


                            






                       
                            

                            





                        </div><!--row-->




                        

                        <div class="row card-dash-row2 padding5">




                            


                            


                            <div class="col-12">

                                <div class="card-dash-field2">


                                    <div class="card-dash-content">
                                        <span>{$account.desdocument}</span>
                                    </div>

                                    <div class="card-dash-header4">

                                        <hr>
                                        {if="$account.intypedoc == 0"}
                                        <span>CPF</span>
                                        {else}
                                        <span>CNPJ</span>
                                        {/if}
                                    </div>


                                </div><!--card-dash-field2-->

                                
                            </div><!--col-->




                    


                            





                        </div><!--row-->








                        <div class="row card-dash-row2 padding5">









                            <div class="col-12">

                                <div class="card-dash-field2">


                                    <div class="card-dash-content">
                                        <span>{$account.desemail}</span>
                                    </div>

                                    <div class="card-dash-header4">

                                        <hr>
                                        <span>E-mail</span>
                                        
                                    </div>


                                </div><!--card-dash-field2-->

                                
                            </div><!--col-->






                       
                            

                            





                        </div><!--row-->






                        <div class="row card-dash-row2 padding5">




                            <div class="col-12">

                                <div class="card-dash-field2">


                                    <div class="card-dash-content">
                                        <span>({$account.nrddd}) {$account.nrphone}</span>
                                    </div>

                                    <div class="card-dash-header4">

                                        <hr>
                                        <span>Telefone</span>
                                        
                                    </div>


                                </div><!--card-dash-field2-->

                                
                            </div><!--col-->






                            <div class="col-md-4 col-12 padding5">

                                <div class="card-dash-field2">


                                    &nbsp;


                                </div><!--card-dash-field2-->

                                
                            </div><!--col-->






                        </div>






                        <div class="row card-dash-row2 padding5">





                            <div class="col-12">

                                <div class="card-dash-field2">


                                    <div class="card-dash-content">
                                        <span>{$account.desaddress}, {$account.desnumber}
                                        {$account.desdistrict}
                                        {$account.descity}
                                        {$account.desstate}</span>
                                    </div>

                                    <div class="card-dash-header4">

                                        <hr>
                                        <span>Endereço</span>
                                        
                                    </div>


                                </div><!--card-dash-field2-->

                                
                            </div><!--col-->




                            <div class="col-md-4 col-12">

                                <div class="card-dash-field2">


                                    &nbsp;


                                </div><!--card-dash-field2-->

                                
                            </div><!--col-->






                        </div>




                    </div><!--col-->



                    <div class="col-md-5 col-12 color2">



                        <div class="row card-dash-row1 padding-header">

                            <div class="col-md-8 col-12">

                                <div class="card-dash-field2">


                                    <div class="card-dash-content4">
                                        <span title="ID Conta Bancária">{$bank.desbankcode}</span>
                                    </div>



                                </div><!--card-dash-field2-->

                                
                            </div><!--col-->



                        </div>

                        
                        <div class="row card-dash-row1 padding5">

                            <div class="col-md-8 col-12">

                                <div class="card-dash-field2">


                                    <div class="card-dash-content">
                                        <span>{$bankName}</span>
                                    </div>

                                    <div class="card-dash-header4">

                                        <hr>
                                        <span>Banco</span>
                                    </div>


                                </div><!--card-dash-field2-->

                                
                            </div><!--col-->

                            <div class="col-md-4 col-12">

                                <div class="card-dash-field2">


                                    <div class="card-dash-content">
                                        <span>{$bank.desbanknumber}</span>
                                    </div>

                                    <div class="card-dash-header4">

                                        <hr>
                                        <span>Código</span>
                                    </div>


                                </div><!--card-dash-field2-->

                                
                            </div><!--col-->



                        </div>



                        <div class="row card-dash-row1 padding5">


                            
                            
                            <div class="col-md-6 col-12">

                                <div class="card-dash-field2">


                                    <div class="card-dash-content">
                                        <span>{$bank.desdocument}</span>
                                    </div>

                                    <div class="card-dash-header4">

                                        <hr>
                                        {if="$account.intypedoc == 0"}
                                        <span>CPF</span>
                                        {else}
                                        <span>CNPJ</span>
                                        {/if}
                                    </div>


                                </div><!--card-dash-field2-->

                                
                            </div><!--col-->







                            <div class="col-md-6 col-12">

                                <div class="card-dash-field2">


                                    <div class="card-dash-content">
                                        {if="$bank.desaccounttype == 'CHECKING'"}
                                        <span>Conta Corrente</span>
                                        {else}
                                        <span>Conta Poupança</span>
                                        {/if}
                                    </div>

                                    <div class="card-dash-header4">

                                        <hr>
                                        <span>Tipo</span>
                                    </div>


                                </div><!--card-dash-field2-->

                                
                            </div><!--col-->
                            



                          

                            





                        </div><!--row-->








                        
                        <div class="row card-dash-row1 padding5">





                            


                            
                            <div class="col-12">

                                <div class="card-dash-field2">


                                    <div class="card-dash-content">
                                        <span>{$bank.desname}</span>
                                    </div>


                                    <div class="card-dash-header4">
                                        <hr>
                                        <span>Titular</span>
                                    </div>

                                </div><!--card-dash-field2-->


                            </div><!--col-->






                            





                        </div><!--row-->






                        <div class="row card-dash-row1 padding5">


                            
                            <div class="col-md-4 col-12">

                                <div class="card-dash-field2">


                                    <div class="card-dash-content">
                                        <span>{$bank.desagencynumber}</span>
                                    </div>

                                    <div class="card-dash-header4">

                                        <hr>
                                        <span>Agência</span>
                                    </div>


                                </div><!--card-dash-field2-->

                                
                            </div><!--col-->


                            <div class="col-md-8 col-12">

                                <div class="card-dash-field2">


                                    <div class="card-dash-content">
                                        <span>{$bank.desagencycheck}</span>
                                    </div>

                                    <div class="card-dash-header4">

                                        <hr>
                                        <span>Dígito</span>
                                    </div>


                                </div><!--card-dash-field2-->

                                
                            </div><!--col-->




                            
                           



                            






                            





                        </div><!--row-->







                        <div class="row card-dash-row1 padding5">


                    




                            <div class="col-md-4 col-12">

                                <div class="card-dash-field2">


                                    <div class="card-dash-content">
                                        <span>{$bank.desaccountnumber}</span>
                                    </div>

                                    <div class="card-dash-header4">

                                        <hr>
                                        <span>Conta</span>
                                    </div>


                                </div><!--card-dash-field2-->

                                
                            </div><!--col-->


                            <div class="col-md-8 col-12">

                                <div class="card-dash-field2">


                                    <div class="card-dash-content">
                                        <span>{$bank.desaccountcheck}</span>
                                    </div>

                                    <div class="card-dash-header4">

                                        <hr>
                                        <span>Dígito</span>
                                    </div>


                                </div><!--card-dash-field2-->

                                
                            </div><!--col-->
                           



                            






                            





                        </div><!--row-->







                        <div class="row card-dash-row1 centralizer padding5">


                


                            <div class="button-header">
                                <a title="Editar" href='/dashboard/conta-bancaria/{function="setHash($bank.idbank)"}'>
                                    <div class="button9 text-center">
                                        <i class="fa fa-pencil"></i>
                                    </div>
                                </a>
                            </div> 



                            <div class="button-header">
                                <a title="Apagar" class="del-button" href='/dashboard/conta-bancaria/deletar/{function="setHash($bank.idbank)"}' onclick="return confirm('Deseja realmente excluir este ítem?')">
                                    <div class="button5 text-center">
                                        <i class="fa fa-trash"></i>
                                    </div>
                                </a>
                            </div>  
                           

        

                            






                            





                        </div><!--row-->

                       



                        


                    
                    
                    
                    </div>



                    {else}



                    <div class="col-md-7">
                        


                        <div class="row card-dash-row1 padding-header grey1">


                                                       



                            <div class="col-12">

                                <div class="card-dash-field2">


                                    <div class="card-dash-content3">
                                        <span title="Sua Carteira">{$account.desaccountcode}</span>
                                    </div>


                                   

                                </div><!--card-dash-field2-->


                            </div><!--col-->







                            





                        </div><!--row-->




                        <div class="row card-dash-row2 padding5">




                            <div class="col-12">

                                <div class="card-dash-field2">


                                    <div class="card-dash-content">
                                        <span>{$account.desname}</span>
                                    </div>


                                    <div class="card-dash-header4">
                                        <hr>
                                        <span>Nome</span>
                                    </div>

                                </div><!--card-dash-field2-->


                            </div><!--col-->


                            


                            






                       
                            

                            





                        </div><!--row-->




                        

                        <div class="row card-dash-row2 padding5">




                            


                            


                            <div class="col-12">

                                <div class="card-dash-field2">


                                    <div class="card-dash-content">
                                        <span>{$account.desdocument}</span>
                                    </div>

                                    <div class="card-dash-header4">

                                        <hr>
                                        {if="$account.intypedoc == 0"}
                                        <span>CPF</span>
                                        {else}
                                        <span>CNPJ</span>
                                        {/if}
                                    </div>


                                </div><!--card-dash-field2-->

                                
                            </div><!--col-->




                    


                            





                        </div><!--row-->








                        <div class="row card-dash-row2 padding5">









                            <div class="col-12">

                                <div class="card-dash-field2">


                                    <div class="card-dash-content">
                                        <span>{$account.desemail}</span>
                                    </div>

                                    <div class="card-dash-header4">

                                        <hr>
                                        <span>E-mail</span>
                                        
                                    </div>


                                </div><!--card-dash-field2-->

                                
                            </div><!--col-->






                       
                            

                            





                        </div><!--row-->






                        <div class="row card-dash-row2 padding5">




                            <div class="col-12">

                                <div class="card-dash-field2">


                                    <div class="card-dash-content">
                                        <span>({$account.nrddd}) {$account.nrphone}</span>
                                    </div>

                                    <div class="card-dash-header4">

                                        <hr>
                                        <span>Telefone</span>
                                        
                                    </div>


                                </div><!--card-dash-field2-->

                                
                            </div><!--col-->






                            <div class="col-md-4 col-12 padding5">

                                <div class="card-dash-field2">


                                    &nbsp;


                                </div><!--card-dash-field2-->

                                
                            </div><!--col-->






                        </div>






                        <div class="row card-dash-row2 padding5">





                            <div class="col-12">

                                <div class="card-dash-field2">


                                    <div class="card-dash-content">
                                        <span>{$account.desaddress}, {$account.desnumber}
                                        {$account.desdistrict}
                                        {$account.descity}
                                        {$account.desstate}</span>
                                    </div>

                                    <div class="card-dash-header4">

                                        <hr>
                                        <span>Endereço</span>
                                        
                                    </div>


                                </div><!--card-dash-field2-->

                                
                            </div><!--col-->




                            <div class="col-md-4 col-12">

                                <div class="card-dash-field2">


                                    &nbsp;


                                </div><!--card-dash-field2-->

                                
                            </div><!--col-->






                        </div>




                    </div><!--col-->



                    <div class="col-md-5 col-12 color1 centralizer">


                        <div class="row card-dash-row1">





                            <div class="col-12">
                        
                                <div class="card-dash-field2">
                        
                        
                                    <a href='/dashboard/conta-bancaria/adicionar'>
                                        <div class="button7 text-center">
                                            <i class="fa fa-plus"></i>
                                            <p>Adicionar Conta Bancária</p>
                                        </div>
                                        
                                    </a>  
                                    
                        
                                </div><!--card-dash-field2-->
                        
                                
                            </div><!--col-->
                           
                        
                        
                        
                            
                        
                        
                        
                        
                        
                        
                            
                        
                        
                        
                        
                        
                        </div><!--row-->


                    </div>



                    {/if}




                </div><!--row-->
             












                








            </div><!--col-->
        



      
        </div><!--row-->
    
    </div><!--container-->

</section>

