<section class="dashboard">

    <div class="container-fluid">            
            

            
        <div class="row">

                


            <div class="col-md-3 col-12 dash-menu">


                {if="$user.inplancontext == 0"}

                    {include="dashboard-menu-free"}


                {elseif="!$validate"}

                    {include="dashboard-menu-expirated"}
               

                {else}

                    {include="dashboard-menu"}

                {/if}
                    

            </div><!--col-->




            <div class="col-md-9 col-12 dash-panel">











                <div class="row">
                    
                    <div class="col-12">

                        <a href="/dashboard/sua-carteira">
                            <div class="dash-title">
                                <h1>Sua Carteira</h1>
                            </div>
                        </a>

                    </div>

                </div>






                








                <div class="row">

                    <div class="col-9">

                        <div class="button-header">

                            <a href="/dashboard/painel-financeiro">
                                <div class="button3 centralizer">
                                    <i class="fa fa-angle-left"></i>
                                </div>
                            </a>

                        </div>

                    </div>

                    <div class="col-3">
                        <div class="button-header">
                            <a href="/dashboard/sua-carteira">
                                <div class="button2 centralizer">
                                    <i class="fa fa-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>




                {if="$success != ''"}
                    <div class="row">
                        <div class="col-12">
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                {$success}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div> 
                    </div>  
                {/if}

                {if="$error != ''"}
                    <div class="row">
                        <div class="col-12">
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                {$error}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div> 
                    </div>  
                {/if}



                
                




                <div class="row">
                    <div class="col-12">
                        <div class="card-wrapper">



                            {if="$nrtotal == 0"}
        
                            <div class="row">
                                <div class="col-12">
                                    <div class="alert alert-info alert-domain" role="alert">
                                        <h1>Ainda não há imagens cadastradas</h1>
                                    </div><!--alert-->
                                </div><!--col-->
                            </div><!--row-->
        
                                    
                            {else}
        
                            {loop="$account"}
        
        
                            <div class="card1">
                                
        
                               
                                    
                                
        
        
                                <div class="body-header">
        
                                    <div class="card-image">
                                    
                                        <h2>{$value.desaccountcode}</h2>
        
                                    </div><!--card-photo-->
        
                                </div><!--card-header-->
        
        
        
        
        
                                <div class="card-body">
                                    
        
        
                                    <div class="title">
        
        
                                        <h5>{$value.desname}</h5>
        
                                        <hr>
        
        
                                    </div><!--body-title-->
        
        
        
        
        
                                    <div class="body-row">
        
                                        <h5>{$value.desemail}</h5>
        
                                    </div><!--body-row-->
        
        
                                    <div class="body-row">
        
                                        <h5>{$value.desemail}</h5>
        
                                    </div><!--body-row-->
        
        
        
                                    


                                    <div class="body-footer body1">


                                        <div class="buttons-wrapper">
                                            
                                            <a target="_blank" href=''>
            
                                                <button>Bicicleta</button>
            
                                            </a>
                                            
            
            
                                            <a target="_blank" href=''>
            
                                                <button>Transporte Público</button>
            
                                            </a>
            
            
                                            
            
            
                                            <a target="_blank" href=''>
            
                                                <button>Carro</button>
            
                                            </a>
            
                                        </div><!--buttons-wrapper-->
                                            
                                           
                                    </div><!--body-footer-->  
        
        
        
        
        
                                </div><!--card-body-->
        
        
                                 
        
                                
                                    
                                
                            </div><!--card1-->
        
                                        
                            {/loop}
        
                            {/if} 
        
        
                        </div><!--wrapper-->






                    </div>
                </div>












                    <div class="row">




                        
                        <div class="col-md-3 col-12">

                            &nbsp;

                        </div><!--col-->





                        <div class="col-md-9 col-12">

                            &nbsp;

                        </div><!--col-->





                        

                    </div><!--row-->





























            </div><!--col-->
        

      
        </div><!--row-->
    
    </div><!--container-->

</section>

