<section class="dashboard">

    <div class="container-fluid">            
            

            
        <div class="row">

                


            <div class="col-md-3 col-12 dash-menu">


                {if="$user.inplancontext == 0"}

                    {include="dashboard-menu-free"}


                {elseif="!$validate"}

                    {include="dashboard-menu-expirated"}
               

                {else}

                    {include="dashboard-menu"}

                {/if}
                    

            </div><!--col-->




            <div class="col-md-9 col-12 dash-panel">


        

               <form id="dataBank" method="post" action='/dashboard/conta-bancaria/{function="setHash($bank.idbank)"}'>

                    <div class="row">
                        <div class="col-md-12">
                            
                            <div class="dash-title">
                                <h1>Conta Bancária</h1>
                            </div><!--dash-title-->

                        </div><!--col-->
                    </div><!--row-->



                    



                    {if="$success != ''"}
                        <div class="row">
                            <div class="col-12">
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    {$success}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div> 
                        </div>  
                    {/if}

                    {if="$error != ''"}
                        <div class="row">
                            <div class="col-12">
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    {$error}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div> 
                        </div>  
                    {/if}




                    <div class="row">
                        
                        <div class="col-md-9 dash-column">


                                

                            <div class="dash-input-row">
                                


                                <label class="input-group-text" for="desbanknumber">Instituição Bancária</label>


                                <select form="dataBank" id="desbanknumber" name="desbanknumber">

                                    {loop="$bankvalues"}
                                        <option {if="$bankvalues.$counter.value == $bank.desbanknumber"}selected{/if} value="{$bankvalues.$counter.value}">{$bankvalues.$counter.name}</option>
                                    {/loop}

                                </select>


                            </div><!--dash-input-row-->









                            <div class="dash-input-row input-date">
                                
                                <div class="input-group mb-3">

                                  <div class="input-group-prepend">

                                    <label class="input-group-text" for="desaccounttype">Tipo de Conta</label>

                                  </div><!--input-group-prepend-->

                                  <select form="dataBank" id="desaccounttype" name="desaccounttype" class="custom-select">

                                    <option {if="$bank.desaccounttype === 'SAVING'"}selected{/if} value="SAVING">Conta Poupança</option>
                                    <option {if="$bank.desaccounttype === 'CHECKING'"}selected{/if} value="CHECKING">Conta Corrente</option>

                                  </select>

                                
                                </div><!--mb-3-->

                            </div><!--dash-input-row-->





                            <div class="row dash-input-row row-2-columns account-row">



                                <div class="col-md-12">

                                    <label for="desname">Nome do Titular</label>

                                    <div id="desname">

                                        <input type="text" class="form-control" id="desname" name="desname" value="{$bank.desname}">
                                        

                                        
                                    </div><!--nrddd-->

                                </div><!--col-->



                                



                            </div><!--row-->














                            





                            <div class="row dash-input-row row-2-columns account-row">



                                <div class="col-md-12">

                                    <label for="desdocument">CPF do Titular</label>

                                    <div id="desdocument">

                                        <input type="text" disabled class="form-control" id="desdocument" name="desdocument" value="{$bank.desdocument}">
                                        

                                        
                                    </div><!--nrddd-->

                                </div><!--col-->



                                



                            </div><!--row-->














                            <div class="row dash-input-row row-2-columns account-row">



                                <div class="col-md-9">

                                    <label for="desagencynumber">Agência</label>

                                    <div id="desagencynumber">

                                        <input type="text" class="form-control" id="desagencynumber" name="desagencynumber" value="{$bank.desagencynumber}">

                                        
                                    </div><!--nrddd-->

                                </div><!--col-->



                                <div class="col-md-3">

                                    <label for="desagencycheck">Dígito Verificador</label>

                                    <div id="desagencycheck">

                                        <input type="text" class="form-control" id="desagencycheck" name="desagencycheck" value="{$bank.desagencycheck}">
                                        
                                    </div><!--nrphone-->

                                </div><!--col-->



                            </div><!--row-->










                            <div class="row dash-input-row row-2-columns account-row">



                                <div class="col-md-9">

                                    <label for="desaccountnumber">Número da Conta</label>

                                    <div id="desaccountnumber">

                                        <input type="text" class="form-control" id="desaccountnumber" name="desaccountnumber" value="{$bank.desaccountnumber}">


                                        
                                    </div><!--nrddd-->

                                </div><!--col-->



                                <div class="col-md-3">

                                    <label for="desaccountcheck">Dígito Verificador</label>

                                    <div id="desaccountcheck">

                                        <input type="text" class="form-control" id="desaccountcheck" name="desaccountcheck" value="{$bank.desaccountcheck}">
                                        
                                    </div><!--nrphone-->

                                </div><!--col-->



                            </div><!--row-->




                            <div class="row dash-input-row row-2-columns account-row">
                                <input type="hidden" class="form-control" id="idbank" name="idbank" value='{function="setHash($bank.idbank)}'>
                            </div>

                       

                        </div><!--col-md-6-->







                        <div class="col-md-3">
                            
                            
                            &nbsp;

                            
                            
                        </div><!--col-md-6-->


                    </div><!--row-->





                    <div class="row">

                        <div class="col-md-6">

                            <div class="dash-input-row input-footer">
                                
                                <button type="submit" class="btn btn-primary">Salvar</button>

                                <a href="/dashboard/sua-carteira" class="btn btn-danger">Voltar</a>

                            </div><!--dash-input-row-->
                            
                        </div><!--col-->



                        <div class="col-md-6">

                            &nbsp;
                            
                        </div><!--col-->



                    </div><!--row-->



                </form>


               
            </div><!--col-->
        



      
        </div><!--row-->
    
    </div><!--container-->

</section>





