<section class="dashboard">

    <div class="container-fluid">            
            

            
        <div class="row">

                


            <div class="col-md-3 col-12 dash-menu">


                {if="!$validate"}

                    {if="$user.incheckout == 0 or $user.inaccount == 0"}

                        {include="dashboard-menu-noorders"}

                    {else}

                        {include="dashboard-menu-expirated"}

                    {/if}

                {elseif="$validate.incontext == 0"}

                    {include="dashboard-menu-free"}

                {else}

                    {include="dashboard-menu"}

                {/if}
                    

            </div><!--col-->




            <div class="col-md-9 col-12 dash-panel">




                <div class="row">
                    <div class="col-12">

                        <div class="dash-title">
                            <h1>Padrinhos e Madrinhas</h1>
                        </div>

                    </div>
                </div>



                

        

                


                {if=" $maxBestFriends > $nrtotal "}

                <div class="row">

                    <div class="col-12">

                        <div class="button-header">

                            <a href="/dashboard/padrinhos-madrinhas/adicionar">
                                <button>
                                    Criar Padrinho ou Madrinha
                                </button>
                            </a>
                        
                        </div>

                    </div>

                </div>

                {else}

                <div class="row">

                    <div class="col-12">

                        <div class="button-header">

                            
                            <button id="popover1" data-container="body" data-toggle="popover" data-placement="right" data-content='{$popover1.1}' class="disabled pointer-none">
                                Criar Padrinho ou Madrinha
                            </button>
                        
                        </div>

                    </div>

                </div>

                {/if}

            



                {if="$success != ''"}
                <div class="row centralizer">
                    <div class="col-md-8 col-12">
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {$success}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div> 
                </div>  
                {/if}

                {if="$error != ''"}
                <div class="row centralizer">
                    <div class="col-md-8 col-12">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {$error}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div> 
                </div>  
                {/if}
 









                {loop="$bestfriend"}
                <div class="row card-dash">



                    <div class="col-md-7 col-12">
                        


                        <div class="row card-dash-row1">
                            



                            <div class="col-md-2 col-12">

                                <div class="card-dash-field">


                                    <div class="card-dash-content">
                                        <span>{$value.inposition}</span>
                                    </div>


                                    <div class="card-dash-header">
                                        <hr>
                                        <span>Posição</span>
                                    </div>

                                </div><!--card-dash-field-->


                            </div><!--col-->
                        






                            <div class="col-md-6 col-12">

                                <div class="card-dash-field">


                                    <div class="card-dash-content">
                                        <span>{$value.desbestfriend}</span>
                                    </div>

                                    <div class="card-dash-header">

                                        <hr>
                                        <span>Nome</span>
                                        
                                    </div>


                                </div><!--card-dash-field-->

                                
                            </div><!--col-->









                            <div class="col-md-4 col-12">

                                <div class="card-dash-field">


                                    <div class="card-dash-content">
                                        {if="$value.instatus == 0"}
                                            <span>Não-visível</span>
                                        {elseif="$value.instatus == 1"}
                                            <span>Visível</span>
                                        {/if}
                                    </div>

                                    <div class="card-dash-header">

                                        <hr>
                                        <span>Status</span>
                                        
                                    </div>


                                </div><!--card-dash-field-->

                                
                            </div><!--col-->






                            





                        </div><!--row-->




                        <div class="row card-dash-row2">





                            
                            
                            

                            <div class="col-12">

                                <div class="card-dash-field">


                                    <div class="card-dash-content">
                                        <span>{$value.desdescription}</span>
                                    </div>

                                    <div class="card-dash-header">

                                        <hr>
                                        <span>Descrição</span>
                                        
                                    </div>


                                </div><!--card-dash-field-->

                                
                            </div><!--col-->




                    



                        </div><!--row-->




                    </div><!--col-->










                    <div class="col-md-3 col-12 card-dash-row3">
                        

                        <div class="card-dash-field">




                            <div data-toggle="modal" data-target='#modal{$counter+1}' class="card-photo">
                                <img src="/uploads/bestfriends/{$value.desphoto}">
                            </div>

                            




                            <div class="modal fade" id='modal{$counter+1}' tabindex="-1" role="dialog" aria-labelledby='{$counter+1}Title' aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="modal-photo">
                                            <img src="/uploads/bestfriends/{$value.desphoto}">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                                </div>
                            </div>


                           
                        </div><!--card-buttons-wrappe-->




                    </div><!--col-->











                    <div class="col-md-2 col-12 card-dash-row3">
                        

                        <div class="card-dash-field">



                            <a href='/dashboard/padrinhos-madrinhas/{function="setHash($value.idbestfriend)"}'>

                                <button class="button1">Editar</button>

                            </a>
                            


                            <a onclick="return confirm('Deseja realmente excluir este ítem?')"  href='/dashboard/padrinhos-madrinhas/{function="setHash($value.idbestfriend)"}/deletar'>

                                <button class="del-button">Deletar</button>

                            </a>

                           
                        </div><!--card-buttons-wrappe-->




                    </div><!--col-->




                </div><!--row-->
                {else}
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-info">
                            Nenhuma Padrinho ou Madrinha foi encontrada
                        </div>
                    </div>
                </div>
                {/loop}











            </div><!--col-->
        



      
        </div><!--row-->
    
    </div><!--container-->

</section>

