<section class="dashboard">

    <div class="container-fluid">            
            

            
        <div class="row">

                


            <div class="col-md-3 col-12 dash-menu">


              {if="!$validate"}

                {if="$user.incheckout == 0 or $user.inaccount == 0"}

                    {include="dashboard-menu-noorders"}

                {else}

                    {include="dashboard-menu-expirated"}

                {/if}

              {elseif="$validate.incontext == 0"}

                {include="dashboard-menu-free"}

              {else}

                {include="dashboard-menu"}

              {/if}
                    

            </div><!--col-->




            <div class="col-md-9 col-12 dash-panel">


         

              <div class="row main-title">
                
                <div class="col-10">
              

                  <div class="title">
                    
                    <h1>CERIMONIAL E DECORAÇÃO</h1>

                  </div> 


                </div><!--col-->


                <div id="print-wrapper" class="col-2">
                  
                  <a href="javascript:window.print();">

                    <img src="/res/images/print.png" alt="Imprimir">

                  </a> 

                </div><!--col-->


                <hr/>

              </div><!--row-->











              <div class="row paragraph">
      
                <div class="col-12">
                  
                  <div class="title">
                   
                    <strong>CERIMONIAL</strong>

                  </div>

                  <div class="blockquote">

                    <p>
                    
                      O cerimonial do casamento nada mais é que o conjunto de passos que vão da entrada na Igreja (ou local escolhido para a celebração) até o término da cerimônia (incluindo a festa).

                    </p>

                    

                    <p>
                      
                      Pois é, são muitos detalhes, né?

                    </p>

                    <p>
                      
                      O nome também é utilizado para o serviço que cuida desses momentos. Para as noivas ou para os noivos, o serviço pode ser uma ajuda ímpar neste momento.

                    </p>

                   

                    <p>
                      
                      Não podemos esquecer que o profissional de um Cerimonial de Casamento tem experiência e jogo de cintura suficientes para fazer um casamento impecável em todos os detalhes.

                    </p>

                    <p>
                      
                      A Cerimonialista terá em mente todos os passos do casamento, deixando os noivos ou noivas tranquilos. A Cerimonialista cuidará também de inconvenientes que podem ocorrer.

                    </p>

                    <p>
                      No entanto, é opção dos noivos ou das noivas contratarem o serviço ou incubirem algum amigo ou familiar para a função.
                    </p>

                  </div>
                  
                </div><!--col-->

              </div><!--row-->














              <div class="row paragraph">
      
                <div class="col-12">
                  
                  <div class="title">
                   
                    <strong>DECORAÇÃO</strong>

                  </div>

                  <div class="blockquote">

                    <p>
                    
                      Como falamos anteriormente, é fundamental que os noivos ou as noivas escolham um estilo a ser seguido e encontrem uma identidade para o casamento.

                    </p>

                    <p>
                      
                      Isto é, se o casamento for na praia, de dia e ao ar livre, o convite, a decoração e até mesmo as roupas dos convidados, assim como as dos futuros cônjuges, devem ser bem pensados.

                    </p>


                    <p>
                      
                      O mesmo vale para casamentos rústicos, casamentos clássicos, casamentos minimalistas, casamentos bucólicos, casamentos vintage e por aí vai.

                    </p>

                    <p>
                      
                      A dica é encontrar o seu estilo preferido e segui-lo em todos os detalhes. Para isso, ajuda especializada é fundamental para que não ocorra erros ou misturas descabidas.

                    </p>



                  </div>
                  
                </div><!--col-->

              </div><!--row-->





            </div><!--col-->
        

      
        </div><!--row-->
    
    </div><!--container-->

</section>




