<section class="dashboard">

    <div class="container-fluid">            
            

            
        <div class="row">

                


            <div class="col-md-3 col-12 dash-menu">


              {if="!$validate"}

                {if="$user.incheckout == 0 or $user.inaccount == 0"}

                    {include="dashboard-menu-noorders"}

                {else}

                    {include="dashboard-menu-expirated"}

                {/if}

              {elseif="$validate.incontext == 0"}

                {include="dashboard-menu-free"}

              {else}

                {include="dashboard-menu"}

              {/if}
                    

            </div><!--col-->




            <div class="col-md-9 col-12 dash-panel">


         

              <div class="row main-title">
                
                <div class="col-10">
              

                  <div class="title">
                    
                    <h1>LISTAS</h1>

                  </div> 


                </div><!--col-->


                <div id="print-wrapper" class="col-2">
                  
                  <a href="javascript:window.print();">

                    <img src="/res/images/print.png" alt="Imprimir">

                  </a> 

                </div><!--col-->


                <hr/>

              </div><!--row-->











              <div class="row paragraph">
      
                <div class="col-12">
                  
                  <div class="title">
                   
                    <strong>CONFIRMAÇÃO DE PRESENÇA (RSVP)</strong>

                  </div>

                  <div class="blockquote">

                    <p>
                    
                      A sigla para Répondez S'il Vous Plait (RSPV), ou a Confirmação de Presença, é muito importante para que os noivos e as noivas possam se organizar

                    </p>

                    

                    <p>
                      
                      Afinal, é muito difícil realizar uma festa onde não se sabe ao certo quantas pessoas comparecerão ao evento.

                    </p>

                    <p>
                      
                      A falta de definição de um número influencia no buffet e na disposição das mesas, além de causar expectativa nos noivos e nas noivas.

                    </p>

                   

                    <p>
                      
                      Algumas dicas:

                    </p>

                    <p>
                      
                      Os casais começam a unir a vida a partir de um teto e, para dar aquela ajuda e promover um momento de descontração e união, o Chá da Casa Nova é uma ótima opção.

                    </p>

                    <p>
                      <ul>
                        <li>Sempre coloque um número de contato;</li>
                        <li>Pode ter um e-mail ou Whatsapp também;</li>
                        <li>Coloque uma data limite para a Confirmação: isso é essencial;</li>
                        <li>Ative a opção do RSPV em seu site de casamento;</li>
                        <li>Deixe alguém responsável para buscar as confirmações depois da data estabelecida como limite. Afinal, sempre tem quem esqueça!</li>
                        
                      </ul>
                    </p>

                  </div>
                  
                </div><!--col-->

              </div><!--row-->














              <div class="row paragraph">
      
                <div class="col-12">
                  
                  <div class="title">
                   
                    <strong>FAZENDO A LISTA DE PRESENTES DE CASAMENTO</strong>

                  </div>

                  <div class="blockquote">

                    <p>
                    
                      É comum que os noivos ou as noivas pensem que esta parte será mamão com açúcar e que, por este mesmo motivo, pode ser umas das últimas tarefas.

                    </p>

                    <p>
                      
                      Mas não caia neste erro.

                    </p>


                    <p>
                      
                      Fazer uma Lista de Presentes de Casamento é muito trabalhoso do que se imagina, afinal é complicado puxar da memória coisas que uma casa (e uma nova vida) precisará.

                    </p>

                    <p>
                      
                      Os noivos ou as noivas têm uma grande vantagem hoje em dia: a Internet, que consegue ajudar neste quesito com muito louvor.

                    </p>

                    <p>Outra boa notícia é que um site voltado para casamentos, como o Amar Casar, facilita a vida do casal, possibilitando que eles ou elas recebam os presentes em dinheiro.</p>


                    <p>
                                      
                      Mas, se preferirem, o casal pode escolher uma ou algumas lojas favoritas e montar uma lista completa de produtos comercializados por elas.

                    </p>


                    <p>
                      
                      Assim, ao fechamento da lista, basta esperar e receber todos os produtos adquiridos pelos convidados em casa.

                    </p>

                    <p>
                      
                      Para montar uma boa lista de presentes de casamento, separamos duas dicas muito básicas que fazem toda a diferença:

                    </p>

                    <p>
                      <ol>
                        <li>Monte sua lista por cômodos: é o melhor jeito de se organizar e não esquecer de tudo. Afinal, é muito mais fácil lembrar de tudo que tem em um banheiro do que de tudo que tem em uma casa;</li>
                        <li>Monte sua lista com valores variados: dessa forma, os convidados ficarão mais à vontade para escolher presentes que cabem no bolso deles. Assim mais convidados participam e todo mundo sai feliz.</li>
                        <li></li>
                      </ol>
                    </p>


                  </div>
                  
                </div><!--col-->

              </div><!--row-->












            </div><!--col-->
        

      
        </div><!--row-->
    
    </div><!--container-->

</section>



