<section class="dashboard">

    <div class="container-fluid">            
            

            
        <div class="row">

                


            <div class="col-md-3 col-12 dash-menu">


                {if="$user.inplancontext == 0"}

                    {include="dashboard-menu-free"}


                {elseif="!$validate"}

                    {include="dashboard-menu-expirated"}
               

                {else}

                    {include="dashboard-menu"}

                {/if}
                    

            </div><!--col-->




            <div class="col-md-9 col-12 dash-panel">


         

              <div class="row main-title">
                
                <div class="col-10">
              

                  <div class="title">
                    
                    <h1>EVENTOS</h1>

                  </div> 


                </div><!--col-->


                <div id="print-wrapper" class="col-2">
                  
                  <a href="javascript:window.print();">

                    <img src="/res/images/print.png" alt="Imprimir">

                  </a> 

                </div><!--col-->


                <hr/>

              </div><!--row-->











              <div class="row paragraph">
      
                <div class="col-12">
                  
                  <div class="title">
                   
                    <strong>EVENTOS PRÉ-CASAMENTO</strong>

                  </div>

                  <div class="blockquote">

                    <p>
                    
                      Até a hora do sim, muitos eventos podem ocorrer. Afinal, o casamento nada mais é que a construção de uma vida. E, como tal, ela acontece de forma escalável!

                    </p>

                    

                    <p>
                      
                      Muitos eventos, tradicionalmente falando, foram desenhados de uma forma, atingindo principalmente o público feminino. Mas os tempos agora são outros, né não?!

                    </p>

                    <p>
                      
                      A maioria dos eventos agora podem (e devem) ser realizados tanto pelas noivas como pelos noivos - além de unir os gêneros na lista de convidados.

                    </p>

                  </div>
                  
                </div><!--col-->

              </div><!--row-->














              <div class="row paragraph">
      
                <div class="col-12">
                  
                  <div class="title">
                   
                    <strong>CHÁ DA CASA NOVA</strong>

                  </div>

                  <div class="blockquote">

                    <p>
                    
                      Já dizia o ditado: “quem casa, quer casa”. Nada mais verdadeiro, nada mais único e nada mais justo.

                    </p>

                    <p>
                      
                      Os casais começam a unir a vida a partir de um teto e, para dar aquela ajuda e promover um momento de descontração e união, o Chá da Casa Nova é uma ótima opção.

                    </p>
                  
                    
                    <p>
                      
                      Os noivos ou as noivas podem optar em fazer uma pequena reunião ou promover uma festa com direito a brincadeiras, rosto pintado e perguntas embaraçosas.

                    </p>

                    <p>
                      
                      Eles também devem decidir se a lista de presentes será toda online ou se escolherão objetos e utensílios domésticos para que os convidados levem no dia.

                    </p>




                  </div>
                  
                </div><!--col-->

              </div><!--row-->














              <div class="row paragraph">
      
                <div class="col-12">
                  
                  <div class="title">
                   
                    <strong>CHÁ-BAR</strong>

                  </div>

                  <div class="blockquote">

                    <p>
                    
                      O Chá-Bar é uma espécie de despedida de solteiro, só que é mais comportada, longe de ser uma daquelas cenas de filme com noites muito loucas.

                    </p>

                    <p>
                      
                      Mas se divertir continua sendo essencial!

                    </p>

                    <p>O Chá-Bar em sua tradição, portanto, seria algo mais voltado para os homens, onde os noivos oferecem uma festa ou recepção e ganham coisas para o bar da futura casa.</p>


                    <p>
                                      
                      Mas, pera lá, quem disse que mulher não gosta de bar?

                    </p>


                    <p>
                      
                      Por isso mesmo, o Chá-Bar também pode ser vista como uma espécie de despedida de solteira, onde as noivas oferecem uma recepção e ganham coisas para o bar da casa, sim!

                    </p>

                    <p>
                      
                      Para os casais héteros, o Chá-Bar pode ser misto, aproveitando a ocasião para curtir com os amigos do noivo e da noiva.

                    </p>




                  </div>
                  
                </div><!--col-->

              </div><!--row-->























              <div class="row paragraph">
      
                <div class="col-12">
                  
                  <div class="title">
                   
                    <strong>CHÁ DE BARNELA</strong>

                  </div>

                  <div class="blockquote">

                    <p>
                    
                      A junção do nome já dá a dica para você! E, provavelmente, você acertou: o Cha de Barnela é a mistura do Chá-Bar com o Chá de Panela.

                    </p>


                    <p>

                      A ideia é misturar o público feminino e masculino, transformando dois eventos em apenas um só.

                    </p>

                    <p>
                      
                      Os convidados devem presentear os noivos e as noivas com coisas para o bar e para a casa.

                    </p>


                    <p>
                      
                      É de bom tom que os noivos e as noivas façam uma lista com itens de valores diversos para que todos os convidados possam participar da brincadeira sem causar constrangimentos.

                    </p>




                  </div>
                  
                </div><!--col-->

              </div><!--row-->

















              <div class="row paragraph">
      
                <div class="col-12">
                  
                  <div class="title">
                   
                    <strong>CHÁ DE LINGERIE E SAMBA-CANÇÃO</strong>

                  </div>

                  <div class="blockquote">

                    <p>Ao contrário do Chá-Bar, o Chá de Lingerie é essencialmente algo voltado para as mulheres, que se reúnem para presentear as noivas com lingeries.</p>


                    <p>Mas, pera lá, homem também quer se sentir bonito, sexy e quer surpreender o parceiro com lingeries que vão além do básico, né não?</p>

                    <p>Portanto, rapazes, se vocês quiserem, façam um Chá de Samba-Canção também! Una os amigos, levem bebidas e divirtam-se!</p>

                   




                  </div>
                  
                </div><!--col-->

              </div><!--row-->




















              <div class="row paragraph">
      
                <div class="col-12">
                  
                  <div class="title">
                   
                    <strong>QUEM ORGANIZA OS EVENTOS?</strong>

                  </div>

                  <div class="blockquote">


                    <p>Geralmente o dever de organizar os eventos que citamos acima é das madrinhas e dos padrinhos.</p>


                    <p>No entanto, são os noivos ou as noivas que devem sentar e definir quais são os itens que gostariam de ganhar, montando uma lista.</p>

                    <p>Apesar da tradição, muitos noivos e muitas noivas têm pegado para si a responsabilidade de criar os eventos, deixando aos padrinhos e madrinhas apenas a organização no dia.</p>




                  </div>
                  
                </div><!--col-->

              </div><!--row-->

















            </div><!--col-->
        

      
        </div><!--row-->
    
    </div><!--container-->

</section>





