<section class="dashboard">

    <div class="container-fluid">            
            

            
        <div class="row">

                


            <div class="col-md-3 col-12 dash-menu">


            {if="!$validate"}

              {if="$user.incheckout == 0 or $user.inaccount == 0"}

                  {include="dashboard-menu-noorders"}

              {else}

                  {include="dashboard-menu-expirated"}

              {/if}

            {elseif="$validate.incontext == 0"}

                {include="dashboard-menu-free"}

            {else}

                {include="dashboard-menu"}

            {/if}
                    

            </div><!--col-->




            <div class="col-md-9 col-12 dash-panel">


         

              <div class="row main-title">
                
                <div class="col-10">
              

                  <div class="title">
                    
                    <h1>Fotos, Filmagens e DJ</h1>

                  </div> 


                </div><!--col-->


                <div id="print-wrapper" class="col-2">
                  
                  <a href="javascript:window.print();">

                    <img src="/res/images/print.png" alt="Imprimir">

                  </a> 

                </div><!--col-->


                <hr/>

              </div><!--row-->











              <div class="row paragraph">
      
                <div class="col-12">
                  
                  <div class="title">
                   
                    <strong>FOTOS E FILMAGENS</strong>

                  </div>

                  <div class="blockquote">

                    <p>
                    
                      Hoje em dia os profissionais de foto e filmagem de casamento se expõem muito nas redes sociais, especialmente pelo Instagram. Usando as hashtags certas, você os encontrará!



                    </p>

                    

                    <p>
                      
                      Isso é muito bom, é verdade, pois você poderá ter acesso à várias fotos produzidas sem nem mesmo precisa entrar em contato com o/a profissional.

                    </p>

                    <p>
                      
                      Mas esse primeiro contato só servirá como peneira para vocês. É necessário muito mais para encontrar o fotógrafo ideal para o seu casamento.

                    </p>

                    <p>
                      <ol>
                        <li>Agora que você já tem um estilo definido para seu casamento, procure checar se o/a profissional já tem um trabalho parecido ou se ele tem um portfólio com estilos variados, mostrando que consegue atender diversos pedidos;</li>
                        <li>Faça sua pesquisa com antecedência: assim como locais para a realização do casamento, os fotógrafos costumam encher a agenda bem rápido. Nunca deixe esta parte para a última hora;</li>
                        <li>Assim como vários outros serviços mencionados aqui, vale (e muito) ver as opiniões de pessoas que contrataram o serviço anteriormente;</li>
                        <li>Sempre marque uma reunião pessoalmente. Se não for possível, tente por telefone ou Skype. É importante sentir que existe um click entre o profissional e os noivos ou noivas;</li>
                        <li>Tire suas dúvidas sem medo e procure entender o trabalho: é importante que os noivos ou noivas trabalhem como uma equipe com o profissional escolhido. Por isso, forneça detalhes sem medo e peça detalhes também, como número de pessoas na equipe e se ele realiza outras serviços, como o de filmagem. Caso ele não faça, certamente tem alguém para indicar!;</li>
                        <li>Procure analisar trabalhos que tenham ido além das redes sociais. Pedir para ver álbuns e/ou portfólio é algo muito comum, e você poderá ver o trabalho de um casamento ou evento como um todo;</li>
                        <li>O mesmo vale para o/a profissional da filmagem. Aquelas longas gravações são coisas do passado e os cinegrafistas têm se esforçado para entregar um material bem feito, bem roteirizado e bem editado! Em suma: bom de ser assistido mil vezes;</li>
                        <li>Crie um laço com o fotógrafo: é importante que o casal se sinta à vontade com o profissional e vice-versa. Ele terá um peso grande em sua união e, por isso, entender as nuances da história é um diferencial incrível que dará todo toque especial nas suas memórias.</li>
                      </ol>
                    </p>

                  </div>
                  
                </div><!--col-->

              </div><!--row-->














              <div class="row paragraph">
      
                <div class="col-12">
                  
                  <div class="title">
                   
                    <strong>ENSAIOS FOTOGRÁFICOS</strong>

                  </div>

                  <div class="blockquote">

                    <p>
                    
                      A fotografia para casamentos vai muito além do registro da cerimônia e da festa. Assim como o casamento envolve vários outros eventos, o mesmo acontece com a fotografia.

                    </p>

                    <p>
                      
                      Para celebrar a data e guardar para sempre as memórias de um momento tão especial, os noivos ou as noivas contam com diversas opções sobressalentes:

                    </p>

                    <p>
                      <ul>
                        <li>Pré-Wedding: O pré-wedding ou o pré-casamento deve ser produzido com alguns meses de antecedência ao dia do Sim. Trata-se de um ensaio mais à vontade, geralmente no campo, parque ou na praia, mas o casal pode liberar a imaginação e criatividade para fazer algo que seja mais a sua cara. Lembre-se apenas de procurar manter uma identidade com o estilo do casamento. As fotos do pré-wedding podem ser utilizadas no site do casal, na confecção do Save the Date, nas redes sociais, na decoração do casamento e na decoração da própria casa do casal, é claro!;</li>
                        <li>First Look: O First Look é um ensaio que tem ganhado forças entre os casais aqui no Brasil. Trata-se de um ensaio rápido, porém cheio de emoção, onde os noivos ou as noivas se vêem momentos antes de entrar na Igreja ou no local de celebração da união. Acontece apenas entre o casal e o profissional e é ótimo para captar os sentimentos e expressões, além de quebrar a tensão pré momento do Sim.;</li>
                        <li>Trash the Dress: O Trash the Dress é um ensaio pós-casamento pensado primordialmente nas noivas, mas que pode ser adaptado aos noivos também. Nos casamentos héteros, inclusive, o noivo costuma participar do momento. Em resumo, depois de todos os cuidados com o vestido e de todas as fotos oficiais tiradas, que tal se divertir com o vestido ou com o terno? Isso envolve pular na piscina, brincar com o cachorro molhado, deitar no chão, sentar em uma arquibancada, dar comida para uma vaca no pasto… Por quê não? A única regra é não ter regras.;</li>
                        </ul>
                    </p>

                  </div>
                  
                </div><!--col-->

              </div><!--row-->



















              <div class="row paragraph">
      
                <div class="col-12">
                  
                  <div class="title">
                   
                    <strong>ROUPAS PARA A FESTA</strong>

                  </div>

                  <div class="blockquote">

                    <p>
                      Os homens não sofrem muito com isso, podendo apenas tirar o paletó para curtir a festa mais à vontade, depois que as fotos oficiais forem tiradas.
                    </p>
                  
                    <p>
                      
                      Já as meninas podem ficar menos à vontade com vestidos pesados e longos. Para isso, procure vestimentas igualmente elegantes, porém mais confortáveis para a festa.

                    </p>

                    <p>
                      
                      Para os dois gêneros, uma opção em comum são calçados mais confortáveis, como tênis ou chinelos, para dançarem o tempo todo sem sentir dores nos pés.

                    </p>

                  </div>
                  
                </div><!--col-->

              </div><!--row-->





















              <div class="row paragraph">
      
                <div class="col-12">
                  
                  <div class="title">
                   
                    <strong>ROUPAS PARA A FESTA</strong>

                  </div>

                  <div class="blockquote">

                    <p>
                    
                      Outro ponto de atenção para todos que querem dar um up no visual e garantir a melhor versão de si no grande dia, é a contratação de cabeleireiros e maquiadores.

                    </p>

                    <p>
                      
                      Assim como todos os profissionais que falamos ao longo deste texto, existem dicas preciosas na hora de contratar os cabeleireiros e maquiadores.

                    </p>

                    <p>
                      <ul>
                        <li>A definição de estilo: a esta altura do campeonato, você já deve saber isso de cor. Que bom! Pois é muito importante! É essencial que o cabelo e a maquiagem esteja dentro do look pretendido a partir do estilo definido;</li>
                        <li>O melhor para cada pessoa: da mesma forma, é importante que o cabelo e a maquiagem combine com o formato de rosto de cada um. É praticamente impossível dizer que existe corte e maquiagem padrão, mesmo os mais básicos;</li>
                        <li>Pense no ambiente: é fundamental que o profissional esteja a par do ambiente e do horário onde ocorrerá a cerimônia. Maquiagem de noite é totalmente diferente da maquiagem para o dia, por exemplo;</li>
                        <li>As mesmas orientações servem para os penteados, que devem ser pensados quanto a estilo, look pretendido e ambiente;</li>
                        <li>Todos os passos do casamento são importantes, mas o cabelo e a maquiagem estarão no foco, uma vez que você será o foco do casamento. Por isso, analise tudo com calma e antecedência. Não dê espaço para jeitinhos!;</li>
                        <li>Analise os profissionais a partir do seu atendimento e do seu portfólio, sinta confiança e segurança nele/nela;</li>
                        <li>Assim como na escolha do buffet, é natural pedir provas ou testes de maquiagem e penteado!</li>
                      </ul>
                    </p>

                  </div>
                  
                </div><!--col-->

              </div><!--row-->









            </div><!--col-->
        

      
        </div><!--row-->
    
    </div><!--container-->

</section>

