<section class="dashboard">

    <div class="container-fluid">            
            

            
        <div class="row">

                


            <div class="col-md-3 col-12 dash-menu">


              {if="!$validate"}

                {if="$user.incheckout == 0 or $user.inaccount == 0"}

                    {include="dashboard-menu-noorders"}

                {else}

                    {include="dashboard-menu-expirated"}

                {/if}

              {elseif="$validate.incontext == 0"}

                {include="dashboard-menu-free"}

              {else}

                {include="dashboard-menu"}

              {/if}
                    

            </div><!--col-->




            <div class="col-md-9 col-12 dash-panel">


         

              <div class="row main-title">
                
                <div class="col-10">
              

                  <div class="title">
                    
                    <h1>LUA DE MEL</h1>

                  </div> 


                </div><!--col-->


                <div id="print-wrapper" class="col-2">
                  
                  <a href="javascript:window.print();">

                    <img src="/res/images/print.png" alt="Imprimir">

                  </a> 

                </div><!--col-->


                <hr/>

              </div><!--row-->











              <div class="row paragraph">
      
                <div class="col-12">
                  
                  <div class="title">
                   
                    <strong>LUA DE MEL</strong>

                  </div>

                  <div class="blockquote">

                    <p>
                    
                      Depois de toda a agitação e meses de preparação para o grande dia, nada mais justo do que tirar uns dias de folga para curtir com o amor da sua vida.



                    </p>

                    

                    <p>
                      
                      Mas, para garantir que a sua Lua de Mel seja puro sucesso e curtição, é essencial que o casal se prepare com antecedência - que será nossa palavra-chave aqui neste tópico.

                    </p>

                    <p>
                      
                      Afinal, a Lua de Mel nada mais é que uma viagem. E para que a viagem dê certo, existem muitos detalhes que precisam ser definidos.

                    </p>

                  </div>
                  
                </div><!--col-->

              </div><!--row-->














              <div class="row paragraph">
      
                <div class="col-12">
                  
                  <div class="title">
                   
                    <strong>DEFINA O DESTINO</strong>

                  </div>

                  <div class="blockquote">

                    <p>
                      Existem aqueles destinos que são clássicos para a Lua de Mel, como Paris, Grécia, Fernando de Noronha, Gramado e muito mais.
                    </p>

                    <p>Mas a escolha dependerá apenas do casal. Alguns preferem lugares exóticos como a Tailândia ou agitados como Nova York e Rio de Janeiro.</p>

                  </div>
                  
                </div><!--col-->

              </div><!--row-->



















              <div class="row paragraph">
      
                <div class="col-12">
                  
                  <div class="title">
                   
                    <strong>DEFINA AS DATAS</strong>

                  </div>

                  <div class="blockquote">

                    <p>
                    
                      As datas têm grande influência sobre o destino da Lua de Mel e vice-versa. Alguns lugares podem ser visitados o ano todo, como Natal e Lisboa, por exemplo.

                    </p>

                    <p>
                      Outros destinos podem apresentar temperaturas muito baixas ou tempo muito chuvoso durante determinadas épocas, como a Costa Rica, Peru ou Canadá.
                    </p>

                    <p>
                      De uma forma ou de outra, é comum que o casal viaje logo após o casamento - por isso que muitos, inclusive, gostam de tirar férias do trabalho no mesmo período.
                    </p>
                  
                    <p>
                      
                      Então vale levar esta parte em consideração também na hora de definir a data do casamento. Mas não se preocupe: tem muitos lugares legais no mundo!

                    </p>


                  </div>
                  
                </div><!--col-->

              </div><!--row-->





















              <div class="row paragraph">
      
                <div class="col-12">
                  
                  <div class="title">
                   
                    <strong>ESCOLHER UMA AGÊNCIA OU IR POR CONTA PRÓPRIA?</strong>

                  </div>

                  <div class="blockquote">

                    <p>
                    
                      Hoje em dia é muito fácil montar uma viagem, realizar a compra das passagens, reserva de hotel e definição dos passeios por conta própria.

                    </p>

                    <p>Afinal, está tudo na internet e a alcance de qualquer pessoa que tenha uma conexão razoável ao meio online.</p>

                    <p>Estima-se que a viagem feita por conta própria, isto é, sem a ajuda de agências pode ser bem mais barata, conferindo ao casal uma chance de economizar.</p>

                    <p>No entanto, temos que lembrar de uma verdade absoluta que poucos falam: planejar uma viagem já é muito trabalhoso. Planejar viagem E casamento é mil vezes mais trabalhoso.</p>

                    <p>Tendo isso em vista, a economia pode acabar saindo cara para os noivos ou para as noivas que, cheios de tarefas, terão que se preocupar com mais uma.</p>

                    <p>Cabe aos noivos ou as noivas decidirem. De um jeito ou de outro, a viagem com certeza será incrível para os dois ou para as duas.</p>

                    <p>Como dicas gerais, nunca se esqueça de pesquisar sobre os sites, hotéis e agências antes de realizar qualquer tipo de pagamento. Segurança sempre em primeiro lugar!</p>

                  </div>
                  
                </div><!--col-->

              </div><!--row-->
























              <div class="row paragraph">
      
                <div class="col-12">
                  
                  <div class="title">
                   
                    <strong>QUANDO COMPRAR AS PASSAGENS AÉREAS?</strong>

                  </div>

                  <div class="blockquote">

                    <p>Como falamos no início deste tópico, a palavra-chave quando o assunto é viagem é antecedência. Ela faz toda a diferença no valor final da sua Lua de Mel.</p>
                  
                    <p>No entanto, a tarefa não é tão simples quanto parece. Para destinos nacionais, estima-se que a antecedência entre 1 e 2 meses da data de embarque é excelente para comprar.</p>

                    <p>Mas vale lembrar: se for um destino muito procurado durante a alta temporada, como Salvador no verão, por exemplo, essa realidade vai mudar.</p>

                    <p>Já para os destinos internacionais, a antecedência ideal para a compra de passagens é entre 2 e 3 meses ao dia do embarque. O raciocínio para a alta temporada permanece!</p>




                  </div>
                  
                </div><!--col-->

              </div><!--row-->
































              <div class="row paragraph">
      
                <div class="col-12">
                  
                  <div class="title">
                   
                    <strong>O QUE LEVAR EM CONTA NA HORA DE ENCONTRAR UM HOTEL?</strong>

                  </div>

                  <div class="blockquote">

                      <p>A escolha de um hotel deve ser estratégica na maior parte das viagens, mas como estamos falando sobre Lua de Mel, o cenário muda um pouco.</p>

                      <p>Afinal, o hotel para a Lua de Mel precisa ir além da praticidade: ele tem que dar todo o conforto e promover todo romantismo que as noivas ou noivos merecem.</p>

                      <p>Procurando unir o útil ao agradável, separamos algumas dicas para você seguir na hora de escolher um hotel para a Lua de Mel:</p>


                      <p>
                        <ul>
                          <li>Seja durante um dia ou por toda Lua de Mel, procure um hotel bem estruturado e com boa qualidade;</li>
                          <li>Procure hotéis que ofereçam mais do que o básico como SPA, massagens, passeios, tratamentos de pele e muito mais;</li>
                          <li>Serviços como deslocamento, guarda-malas, concierge, restaurante próprio etc fazem toda a diferença;</li>
                          <li>Procure hospedagens com boas avaliações de outros hóspedes: eles serão seus melhores amigos na hora de tomar a decisão;</li>
                          <li>Suítes para Lua de Mel são grandes diferenciais também, afinal quem não ama um mimo?;</li>
                          <li>Ao mesmo tempo, procure hotéis em boas localizações, tanto por questões de segurança quanto por praticidade e economia;</li>
                          <li>Os valores de hotéis não costumam variar tanto quanto os de passagens aéreas, mas ainda assim não é bom deixar as coisas para em cima da hora. Reserve sempre com antecedência.</li>
                        </ul>
                      </p>

                  </div>
                  
                </div><!--col-->

              </div><!--row-->







              <div class="row paragraph">
      
                <div class="col-12">
                  
                  <div class="title">
                   
                    <strong>DOCUMENTOS PARA VIAJAR</strong>

                  </div>

                  <div class="blockquote">

                      <p>Os documentos necessários dependerão do destino. A maioria dos destinos internacionais necessitam de passaporte, já os destinos nacionais apenas o RG basta.</p>

                      <p>Confira nossas dicas:</p>
                      
                      <p>
                        <ul>
                          <li>Alguns destinos internacionais, todos aqueles pertencentes ao Mercosul, como a Argentina e o Chile, por exemplo, não precisam do passaporte;</li>
                          <li>Para todos os outros que precisam do passaporte, verifique com antecedência a validade do documento para garantir o embarque;</li>
                          <li>Se você ainda não tem um passaporte, entre no site da Polícia Federal para fazer o requerimento do seu o quanto antes!;</li>
                          <li>Para embarques feitos com o RG: verifique se o mesmo está em boas condições de uso e com letras legíveis;</li>
                          <li>Também é necessário que o RG tenha menos de 10 anos de expedição. Isto é, se ele foi feito em 2004, já não serve mais para embarcar;</li>
                          <li>Verifique se seu destino exige a vacinação contra  Febre Amarela: será necessário mostrar o comprovante na hora do embarque e isso pode impedi-lo(a) de viajar!;</li>
                          <li>Verifique se seu destino necessita de visto. Se sim, verifique o processo. O processo para os Estados Unidos é demorado e dificultoso. Portanto, faça com antecedência.</li>
                          
                        </ul>
                      </p>
                  </div>
                  
                </div><!--col-->

              </div><!--row-->







              <div class="row paragraph">
      
                <div class="col-12">
                  
                  <div class="title">
                   
                    <strong>COMPRAR MALAS E ARRUMÁ-LAS: CHATO OU MÃO NA RODA?</strong>

                  </div>

                  <div class="blockquote">

                    <p>Arrumar a mala é uma daquelas coisas que são bem chatinhas, mas que nos faz sorrir quando lembramos do motivo: a viagem de Lua de Mel.</p>
                      

                    <p>A arrumação da mala merece atenção e, frequentemente, acabamos esquecendo várias coisas, tendo que comprá-las no destino ou empurrar conteúdos para dentro da mala.</p>

                    <p>Para evitar esses perrengues, separamos algumas dicas básicas:</p>

                    <p>
                      <ul>
                        <li>A arrumação da mala vai depender do destino da viagem. Se for para um lugar muito frio, não faz sentido levar short, certo?;</li>
                        <li>Para evitar esquecer das coisas, comece a arrumação da sua mala dias antes da viagem, tipo uns sete dias antes. Na véspera, faça uma revisão para eliminar exageros;</li>
                        <li>Outra tática para não esquecer de nada é montar um check-list. Com um roteiro em mãos, tudo fica mais fácil;</li>
                        <li>Verifique no site da companhia aérea o que é permitido e o que não é permitido levar nas malas. Dessa forma, você evita ter que abrir malas no aeroporto e atrasar o seu embarque e os dos outros;</li>
                        <li>Sempre leve uma roupa sobressalente na sua mala de mão. Em caso de desvios, você não passa perrengue;</li>
                        <li>Não coloque nada de valor na mala despachada. Eletrônicos, dinheiro, jóias e documentos viajam com você, na mala de mão;</li>
                        <li>Procure sempre otimizar o espaço da sua mala, colocando meias dentro dos sapatos e utilizando as laterais para colocar pequenas peças de roupas.</li>
                        <li>Verifique no site da companhia aérea os limites de bagagem que você pode levar. Assim você evita pagar pelo peso extra;</li>
                        <li>Ao comprar as suas malas, procure por materiais que sejam resistentes - assim a mala terá maior tempo de vida útil e os seus pertences estarão protegidos;</li>
                        <li>Ao comprar suas malas, lembre-se de levar as novas regras de bagagem em consideração. No site da companhia aérea tem todos os detalhes;</li>
                        <li>Procure comprar malas que lhe dêem maior agilidade e praticidade. Malas com cinco rodinhas e que girem em 360º são ótimas opções!;</li>
                        <li>Compre um acessório para prender na mala, assim você a localiza de longe, com muito mais facilidade.</li>
                      </ul>
                    </p>

                  </div>
                  
                </div><!--col-->

              </div><!--row-->













              <div class="row paragraph">
      
                <div class="col-12">
                  
                  <div class="title">
                   
                    <strong>CÂMBIO E DICAS PARA VIAGEM</strong>

                  </div>

                  <div class="blockquote">

                      <p>Esteja no aeroporto com antecedência: pelo menos 1h30 para voos nacionais e 3h para voos internacionais;</p>

                      <p>Para isso, leve em consideração o trânsito da sua cidade;</p>

                      <p>Viaje com roupas simples e sem nada nos bolsos para evitar transtornos e atrasos nos detectores de metais;</p>

                      <p>Esteja atento aos painéis que informam sobre o voo: assim, caso ocorra mudanças no seu embarque, você não terá que correr pelo aeroporto;</p>

                      <p>Evite realizar o câmbio no aeroporto, pois são sempre mais caros do que em casas de câmbio dentro da cidade;</p>

                      <p>Muitos viajantes gostam de utilizar o dólar, mas nem sempre fazer duas conversões (Real para Dólar e Dólar para a outra moeda) é jogo;</p>

                      <p>Procure sempre realizar a troca de dinheiro em casas de câmbio e nunca faça na rua. Além de ser perigoso em qualquer lugar do mundo, em Buenos Aires, por exemplo, existem muitas notas falsas em circulação;</p>

                      <p>Uma opção comum é usar cartões pré-pagos para não sofrer com a atualização da cotação do Dólar;</p>

                      <p>Procure usar cartões de crédito apenas para emergências ou para contas grandes, lembre-se que o IOF é alto e pode transformar o valor final da sua viagem.</p>

                  </div>
                  
                </div><!--col-->

              </div><!--row-->


















              <div class="row paragraph">
      
                <div class="col-12">
                  
                  <div class="title">
                   
                    <strong>FELICIDADES AO CASAL!</strong>

                  </div>

                  <div class="blockquote">

                    <p>Chegamos ao final do nosso Guia do Casamento: do pedido à Lua de Mel. Esperamos que os noivos ou as noivas que nos leram tenham gostado e aprendido com a gente!</p>

                    <p>Sinta-se mais do que à vontade para compartilhar o material com familiares, amigos, padrinhos e madrinhas - afinal, eles te ajudarão muito com o casamento.</p>

                    <p>Em caso de dúvidas ou sugestões, você é nosso convidado a deixar sua mensagem nos comentários logo abaixo!</p>

                    <p>E para vocês, que estão se casando, desejamos toda a felicidade e todo amor do mundo! Conte conosco para deixar seu casamento ainda mais especial.</p>

                  </div>
                  
                </div><!--col-->

              </div><!--row-->










            </div><!--col-->
        

      
        </div><!--row-->
    
    </div><!--container-->

</section>




