<section class="dashboard dashboard-index">

    <div class="container-fluid">            
            

            
        <div class="row">

                


            <div class="col-md-3 col-12 dash-menu">


                {if="!$validate"}

                    {if="$user.incheckout == 0 or $user.inaccount == 0"}

                        {include="dashboard-menu-noorders"}

                    {else}

                        {include="dashboard-menu-expirated"}

                    {/if}

                {elseif="$validate.incontext == 0"}

                    {include="dashboard-menu-free"}

                {else}

                    {include="dashboard-menu"}

                {/if}
                    

            </div><!--col-->




            <div class="col-md-9 col-12 dash-panel">


                

                
                {if="$success != ''"}
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {$success}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div> 
                </div>  
                {/if}

                {if="$error != ''"}
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {$error}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div> 
                </div>  
                {/if}





                    

                <div class="row resume-row">
                    
                    <div class="col-md-6 resume-wrapper">

                        <div class="resume-box">

                            

                            <div class="resume-content">
                                <h2>{$rsvp_confirmed}</h2>

                                {if="$rsvp_confirmed == 1"}
                                    <h6>Presença</h6><h6>Confirmada</h6>
                                {else}
                                    <h6>Presenças</h6><h6>Confirmadas</h6>
                                {/if}
                            </div>

                        </div>

                    </div><!--col-lg-3-->




                    <div class="col-md-6 resume-wrapper">

                        <div class="resume-box">

                            

                            <div class="resume-content">
                                <h2>{$message}</h2>

                                {if="$message == 1"}
                                    <h6>Mensagem</h6>
                                    <h6>Recebida</h6>
                                {else}
                                    <h6>Mensagens</h6>
                                    <h6>Recebidas</h6>
                                {/if}
                            </div>



                        </div>

                    </div><!--col-lg-3-->


                </div><!--row-->



                






            </div><!--col-->
        


      
        </div><!--row-->
    
    </div><!--container-->

</section>

