<section class="dashboard">

    <div class="container-fluid">            
            

            
        <div class="row">

                


            <div class="col-md-3 col-12 dash-menu">


                {if="!$validate"}

                    {if="$user.incheckout == 0 or $user.inaccount == 0"}

                        {include="dashboard-menu-noorders"}

                    {else}

                        {include="dashboard-menu-expirated"}

                    {/if}

                {elseif="$validate.incontext == 0"}

                    {include="dashboard-menu-free"}

                {else}

                    {include="dashboard-menu"}

                {/if}
                    

            </div><!--col-->




            <div class="col-md-9 col-12 dash-panel">





                <div class="row">
                    
                    <div class="col-12">

                        <a href="/dashboard/mensagens">
                            <div class="dash-title">
                                <h1>Mensagens</h1>
                            </div>
                        </a>

                    </div>

                </div>

                


                {if="$success != ''"}
                <div class="row centralizer">
                    <div class="col-md-8 col-12">
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {$success}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div> 
                </div>  
                {/if}

                {if="$error != ''"}
                <div class="row centralizer">
                    <div class="col-md-8 col-12">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {$error}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div> 
                </div>  
                {/if}




                <div class="row">

                   <div class="col-12">


                        <div class="account-box-wrapper">
                            <div class="account-box">
                                <div class="account-box-main">
                                    <span>{$nrtotal}</span>
                                </div>

                                <div class="account-box-title">
                                    {if="$nrtotal > 1"}
                                        <span>Mensagens</span>
                                            <br>
                                        <span>Recebidas</span>
                                    {else}
                                        <span>Mensagem</span>
                                            <br>
                                        <span>Recebida</span>
                                    {/if}
                                </div>
                            </div>
                        </div>

                    </div>

               </div>

            



                


                




                {loop="$message"}
                <div class="row card-dash">

                    <div class="col-md-10 col-12">
                        


                        <div class="row card-dash-row1">
                            



                            <div class="col-md-2 col-12">

                                <div class="card-dash-field">


                                    <div class="card-dash-content">
                                        <span>{function="formatDate($value.dtregister)"}</span>
                                    </div>


                                    <div class="card-dash-header">
                                        <hr>
                                        <span>Data</span>
                                    </div>

                                </div><!--card-dash-field-->


                            </div><!--col-->
                        






                            <div class="col-md-6 col-12">

                                <div class="card-dash-field">


                                    <div class="card-dash-content">
                                        <span>{$value.desmessage}</span>
                                    </div>

                                    <div class="card-dash-header">

                                        <hr>
                                        <span>Nome</span>
                                        
                                    </div>


                                </div><!--card-dash-field-->

                                
                            </div><!--col-->









                            <div class="col-md-4 col-12">

                                <div class="card-dash-field">


                                    <div class="card-dash-content">
                                        {if="$value.instatus == 0"}
                                            <span class="message-moderate">Não-visível</span>
                                        {elseif="$value.instatus == 1"}
                                            <span class="message-approve">Visível</span>
                                        {/if}
                                    </div>

                                    <div class="card-dash-header">

                                        <hr>
                                        <span>Status</span>
                                        
                                    </div>


                                </div><!--card-dash-field-->

                                
                            </div><!--col-->






                            





                        </div><!--row-->




                        <div class="row card-dash-row2">
                            
                            

                            <div class="col-md-8 col-12">

                                <div class="card-dash-field">


                                    <div class="card-dash-content">
                                        <span>{$value.desdescription}</span>
                                    </div>

                                    <div class="card-dash-header">

                                        <hr>
                                        <span>Mensagem</span>
                                        
                                    </div>


                                </div><!--card-dash-field-->

                                
                            </div><!--col-->





                            <div class="col-md-4 col-12">

                                <div class="card-dash-field">


                                    <div class="card-dash-content">
                                        <span>{$value.desemail}</span>
                                    </div>

                                    <div class="card-dash-header">

                                        <hr>
                                        <span>E-mail</span>
                                        
                                    </div>


                                </div><!--card-dash-field-->

                                
                            </div><!--col-->


                            

                    



                        </div><!--row-->




                    </div><!--col-->






                    <div class="col-md-2 col-12 card-dash-row3">
                        

                        <div class="card-dash-field">

                            


                            {if="$value.instatus == 0"}
                                <a href='/dashboard/mensagens/{function="setHash($value.idmessage)"}/aprovar'>

                                    <button class="message-approve">Aprovar</button>

                                </a>
                            {elseif="$value.instatus == 1"}
                                <a href='/dashboard/mensagens/{function="setHash($value.idmessage)"}/moderar'>

                                    <button class="message-moderate">Moderar</button>

                                </a>
                            {/if}


                            <a onclick="return confirm('Deseja realmente excluir este ítem?')"  href='/dashboard/mensagens/{function="setHash($value.idmessage)"}/deletar'>

                                <button class="del-button">Deletar</button>

                            </a>


                           
                        </div><!--card-buttons-wrappe-->




                    </div><!--col-->




                </div><!--row-->
                {else}
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-info">
                            Nenhuma mensagem foi recebida
                        </div>
                    </div>
                </div>
                {/loop}












                    <div class="row">




                        
                        <div class="col-md-3 col-12">

                            <div class="search">

                                <form action="/dashboard/mensagens">

                                    <div class="input-group input-group-sm">

                                        <a href="/dashboard/mensagens">
                                            <button type="button" class="btn btn-default">

                                                <i class="fa fa-undo"></i>

                                            </button>
                                        </a>
                                        
                                        <input type="text" name="buscar" class="form-control" placeholder="Buscar..." value="{$search}">

                                        <div class="input-group-btn">

                                            <button type="submit" class="btn btn-default">

                                                <i class="fa fa-search"></i>

                                            </button>

                                        </div><!--input-group-btn--->

                                    </div><!--input-group-->

                                </form>
                                
                            </div><!--search-->

                        </div><!--col-->





                        <div class="col-md-9 col-12">

                            <div class="pagination">
                                
                                <ul>
                                    {loop="$pages"}
                                        <li><a href="{$value.href}">{$value.text}</a></li>                             
                                                               
                                    {/loop}
                                </ul>

                            </div>

                        </div><!--col-->





                        

                    </div><!--row-->
























            </div><!--col-->
        



      
        </div><!--row-->
    
    </div><!--container-->

</section>

