<section class="dashboard">

    <div class="container-fluid">            
            

            
        <div class="row">

                


            <div class="col-md-3 col-12 dash-menu">


                {if="!$validate"}

                    {include="dashboard-menu-expirated"}
               

                {elseif="$user.inplancontext == 0"}

                    {include="dashboard-menu-free"}

                {else}

                    {include="dashboard-menu"}

                {/if}
                    

            </div><!--col-->




            <div id="checkout" class="col-md-9 col-12 dash-panel">


                {if="$success != ''"}
                        <div class="row">
                            <div class="col-12">
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    {$success}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div> 
                        </div>  
                    {/if}

                    {if="$error != ''"}
                        <div class="row">
                            <div class="col-12">
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    {$error}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div> 
                        </div>  
                    {/if}

                <div class="row">
                	
                	<div class="col-md-5">
               
                
						<div id="purchase-resume">

							<table width="100%" border="0" cellspacing="2" cellpadding="20">
								<thead>
									<tr>
										<th class="column2">Plano</th>
										<th class="column2">Periodo</th>
										<th class="column2">Valor</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td align="left">
											{$inplan.desplan}  
										</td>
										<td>
											<span><strong>{$inplan.inperiod} {$inplan.desperiod}</strong></span>
										</td>
										<td>
											<span>R${function="formatPrice($inplan.vlprice)"}</span>
										</td>
		                            </tr>

		                            
		                            
								</tbody>
								<tfoot>
									<tr>

		                            	<td id="tfoot-tr-firs-child" align="left">
		                            		
		                            		<div id="installment-title" align="right"><span>Parcelamento</span></div>
		                            	</td>
										<td colspan="2" align="left">
											  <select id="installment" form="checkout-form" name="installment">
								                    <option value="1" selected="selected">À vista - {function="formatPrice($inplan.vlprice)"}</option> 
								                    <option value="2">2 x R$ {function="formatPrice($inplan.vlprice/2)"}</option> 
								                    <option value="3">3 x R$ {function="formatPrice($inplan.vlprice/3)"}</option> 
								                    <option value="4" >4 x R$ {function="formatPrice($inplan.vlprice/4)"}</option> 
								                    <option value="5">5 x R$ {function="formatPrice($inplan.vlprice/5)"}</option>
								                    <option value="6">6 x R$ {function="formatPrice($inplan.vlprice/6)"}</option>
								                </select>
										</td>
		                            </tr>
										
									<tr>
										<td align="right" class="column2" colspan="2">Total</td>
										<td class="column2"><strong><span>R${function="formatPrice($inplan.vlprice)"}</span></strong> </td>
									</tr>
								</tfoot>
							</table>

																
						</div><!--purchase-resume-->

						

						<div id="user-credentials">
							

							<table width="100%" border="0" cellspacing="2" cellpadding="10">
								<tbody>
									<tr>
										<td colspan="3" align="right">
											<span><strong>{$user.desperson}</strong></span>
										</td>
		                            </tr>
		                            <tr>
										<td colspan="3" align="right">
											<span><strong>{$user.desemail}</strong></span>
										</td>
		                            </tr>
								</tbody>
							</table>

						</div>



		            </div><!--col-->






		            <div class="col-md-7">


		            	
		            	<div class="row">
		            	
							<div class="col-md-12">

								<ul class="nav">
									<li id="options-payments1" class="nav-item options-button options-selected"><button>Cartão de Crédito Próprio</button></li>
									<li id="options-payments2" class="nav-item options-button"><button>Boleto</button></li>
									<li id="options-payments3" class="nav-item options-button"><button>Cartão de Crédito de Terceiro</button></li>

								</ul>

							</div><!--col-->

						</div><!--row-->






						<div class="row">
							
							<div class="col-md-12">

								
								<div id="error-container">
									
									{if="$error != ''"}
						            <div class="alert alert-danger alert-dismissible fade show" role="alert">
						                {$error}
						                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
						            </div>
						            {/if}

								</div><!--error-container-->

						    </div><!--col--> 
						    
						</div><!--row-->


						<div class="row">
							
							<div class="col-md-12">

								<form id="checkout-form" action="/dashboard/meu-plano/comprar/checkout" class="checkout" method="post" name="checkout">

								<input type="hidden" value="{$inplan.inplancode}" name="inplancode">




								<div id="payment-inputs">
								            				
								
								
									
									
									<div class="payment-block">
							          					
										<div id="payment_cardnumber_1_field">
											<input type="text" placeholder="Número do Cartão" id="payment_cardnumber_1" name="descardcode_number" class="input-text ">
										</div>

										<div id="payment_cardname_1_field">
											<input type="text" placeholder="Nome tal como está impresso no cartão" id="payment_cardname_1" name="desholdername" class=" input-text">
										</div>


										<div class="row row-2-columns">

											<div class="col-md-6">
												<div id="payment_cardmonth_1_field">
													<input type="text" placeholder="Mês" id="payment_cardmonth_1" name="descardcode_month" class="input-text ">
													
												</div>
											</div>



											<div class="col-md-6">
												<div id="payment_cardyear_1_field">
													<input type="text" placeholder="Ano" id="payment_cardyear_1" name="descardcode_year" class="input-text ">
													
												</div>
											</div>

										</div>



										<div id="payment_cardcvc_1_field">
											<input type="text" placeholder="Código de Segurança" id="payment_cardcvc_1" name="descardcode_cvc" class="input-text ">
										</div>		


										<div>
											<input id="checkout-button" type="submit" value="Efetuar Pagamento" name="checkout-own-card">
										</div>
									


								

									</div><!--payment-block-->

								

								</div><!--col-->

							</div><!--payment-inputs-->



						</form>


						</div><!--row-->



		           	
		            </div><!--col-md-5-->

                </div><!--row-->



            </div><!--col-->
        



      
        </div><!--row-->
    
    </div><!--container-->

</section>

