<section class="dashboard">

    <div class="container-fluid">            
            

            
        <div class="row">

                


            <div class="col-md-3 col-12 dash-menu">


                {if="!$validate"}

                    {include="dashboard-menu-expirated"}
               

                {elseif="$user.inplancontext == 0"}

                    {include="dashboard-menu-free"}

                {else}

                    {include="dashboard-menu"}

                {/if}
                    

            </div><!--col-->




            <div class="col-md-9 col-12 dash-panel">





                <div class="row">
                
                    <div class="col-12">
                        
                        <div class="payment-warn dash-input-row width70">
                            
                            <h1>Olá, {$user.desperson}<h1>

                        </div>

                        <div class="payment-warn dash-input-row">
                            
                            <h3>Preencha com seus dados pessoais</h3>

                        </div>


                        <div class="payment-warn dash-input-row">
                            
                            <h4 id="desdocument-warn">O CPF utilizado aqui deve ser o mesmo da conta bancária que irá receber os valores<br><small>(<a target="_blank" href="/termos-lista#bancos">Ver bancos aceitos</a>)</small></h4>

                        </div>


                    </div><!--col-->

                </div><!--row-->


                

                

                  

                {if="$success != ''"}
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {$success}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div> 
                </div>  
                {/if}

                {if="$error != ''"}
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {$error}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div> 
                </div>  
                {/if}







                  <form id="dash-form" action="/dashboard/comprar-plano/cadastrar" method="post">

                    <input type="hidden" name="plano" value="{$inplancode}">

                    <div class="row">
                        
                        <div class="col-md-6 dash-column">
                            

                           <div class="dash-input-row">

                                <input class="disabled" type="text" value="{$user.desperson}" placeholder="Nome" name="desperson" class="form-control" disabled>

                            </div><!--dash-input-row-->


                            <div class="dash-input-row">

                                <input class="disabled" type="text" value="{$user.desemail}" placeholder="E-mail" name="desemail" class="form-control" disabled>

                            </div><!--dash-input-row-->


                            <div class="dash-input-row">

                                <input type="text" placeholder="CPF" name="desdocument" class="form-control" value="{$planPurchaseRegisterValues.desdocument}">

                            </div><!--dash-input-row-->





                            <div class="dash-input-row row">

                                <div class="col-md-3 col-4 width40">

                                    <input type="text" placeholder="DDD" name="nrddd" class="form-control" value="{$planPurchaseRegisterValues.nrddd}">

                                </div><!--col-->



                                <div class="col-md-9 col-8 width60">

                                    <input type="text" placeholder="Telefone" name="nrphone" class="form-control" value="{$planPurchaseRegisterValues.nrphone}">

                                </div><!--col-->

                            </div><!--row-->







                            <div class="dash-input-row row">

                                <div class="col-md-3 col-4 width30">
                                    
                                    <label for="payment_birth_1">Nascimento:</label>
                                    
                                </div><!--col-->



                                <div class="col-md-9 col-8 width70">

                                    <input type="date" placeholder="Nascimento" name="dtbirth" class="form-control" value="{$planPurchaseRegisterValues.dtbirth}">

                                </div><!--col-->

                            </div><!--row-->


                            
                            





                        </div><!--col-md-6-->





                        <div class="col-md-6">
                            
                            

                            <div class="dash-input-row">
                    
                                <input type="text" placeholder="CEP apenas com números" name="zipcode" class="form-control" value="{$planPurchaseRegisterValues.zipcode}">

                            </div>


                            <div class="dash-input-row">
                                
                                <input type="text" placeholder="Logradouro, rua, avenida" name="desaddress" class="form-control" value="{$planPurchaseRegisterValues.desaddress}">
                                
                            </div>


                            <div class="dash-input-row">
                                
                                <input type="text" placeholder="Número" name="desnumber" class="form-control" value="{$planPurchaseRegisterValues.desnumber}">
                                
                            </div>


                            <div class="dash-input-row">
                                
                                <input type="text" placeholder="Complemento (opcional)" name="descomplement" class="form-control" value="{$planPurchaseRegisterValues.descomplement}">
                                
                            </div>


                            <div class="dash-input-row">
                                
                                <input type="text" placeholder="Bairro" name="desdistrict" class="form-control" value="{$planPurchaseRegisterValues.desdistrict}">
                                
                            </div>

                                



                            <div class="dash-input-row">
                                
                                <div class="dash-state-city">
                                
                                    <label for="state">Estado</label>
                                
                                    <select id="state" form="dash-form" name="desstate">

                                        {loop="$state"} 
                                            <option value="{$value.idstate}">{$value.desstate}</option>
                                        {/loop}

                                        
                                    </select>

                                </div><!--dash-state-city-->

                            </div><!--dash-input-row-->





                            <div class="dash-input-row">
                                
                                <div class="dash-state-city">

                                    <label for="city">Cidade</label>
                                
                                    <select id="city" form="dash-form" name="descity">

                                        {loop="$city"}
                                            <option value="{$value.idcity}">{$value.descity}</option> 

                                        {/loop}

                                    </select>

                                </div><!--dash-state-city-->

                            </div><!--dash-input-row-->

                           
                            
                            
                        </div><!--col-md-6-->


                    </div><!--row-->





                    <div class="row">

                        <div class="col-md-12">

                            <div class="body-footer">
                    
                                <input type="submit" value="Continuar" id="button1" name="button1">
                                
                            </div>


                            <div class="dash-input-row buttons-wrapper1">
                                    
                                <input type="checkbox" class="input-text" id="interms-check" name="interms" value="1">
                                <div id="interms-text" for="interms-check">Li e Concordo com os <a href="/termos-uso">Termos de Uso</a>, os <a href="/termos-lista">Termos da Lista de Presentes Virtuais</a> e a <a href="/politica-privacidade">Política de Privacidade</a>.</div>

                            </div>                            
                        </div><!--col-->

                    </div><!--row-->



                </form>



            </div><!--col-->
        



      
        </div><!--row-->
    
    </div><!--container-->

</section>


