<section class="dashboard">

    <div class="container-fluid">            
            

            
        <div class="row">

                


            <div class="col-md-3 col-12 dash-menu">


                {if="!$validate"}

                    {include="dashboard-menu-expirated"}
               

                {elseif="$user.inplancontext == 0"}

                    {include="dashboard-menu-free"}

                {else}

                    {include="dashboard-menu"}

                {/if}
                    

            </div><!--col-->




            <div class="col-md-9 col-12 dash-panel">


                

                <form id="dash-form" method="post" action="/dashboard/presentes-virtuais/configurar">

                    <div class="row">
                        
                        <div class="col-md-6 dash-column">


                            <div class="row">
                                <div class="col-md-12">
                                    
                                    <div class="dash-title">
                                        <h1>Configurações</h1>
                                    </div><!--dash-title-->

                                </div><!--col-->
                            </div><!--row-->




                            {if="$success != ''"}
                                <div class="row">
                                    <div class="col-12">
                                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                                            {$success}
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    </div> 
                                </div>  
                            {/if}

                            {if="$error != ''"}
                                <div class="row">
                                    <div class="col-12">
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                            {$error}
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    </div> 
                                </div>  
                            {/if}


                            <div class="dash-input-row">
                                
                                    <label for="incharge">Quem arca com as tarifas bancárias:</label>

                                    <select id="incharge" name="incharge">

                                        <option value="0" {if="$productconfig.incharge == '0'"}selected{/if}>Casal</option>
                                        <option value="1" {if="$productconfig.incharge == '1'"}selected{/if}>Convidado</option>

                                  </select>

                            </div><!--dash-input-row-->








                            <div class="dash-input-row">

                                <input type="hidden" class="form-control" id="idproductconfig" name="idproductconfig" value="{$productconfig.idproductconfig}">

                            </div><!--dash-input-row-->





                                

                        </div><!--col-md-6-->





                        <div class="col-md-6">
                            
                            
                            
                            &nbsp;

                            
                            
                        </div><!--col-md-6-->


                    </div><!--row-->





                    <div class="row">

                        <div class="col-md-12">

                            <div class="dash-input-row">
                                
                                <button type="submit" class="btn btn-primary">Salvar</button>

                                <a href="/dashboard/presentes-virtuais" class="btn btn-danger">Voltar</a>

                            </div><!--dash-input-row-->
                            
                        </div><!--col-->

                    </div><!--row-->



                </form>



            </div><!--col-->
        



      
        </div><!--row-->
    
    </div><!--container-->

</section>








