<section class="dashboard">

    <div class="container-fluid">            
            

            
        <div class="row">

                


            <div class="col-md-3 col-12 dash-menu">


            {if="!$validate"}

				{if="$user.incheckout == 0 or $user.inaccount == 0"}

					{include="dashboard-menu-noorders"}

				{else}

					{include="dashboard-menu-expirated"}

				{/if}

			{elseif="$validate.incontext == 0"}

				{include="dashboard-menu-free"}

			{else}

				{include="dashboard-menu"}

			{/if}
                    

            </div><!--col-->




            <div class="col-md-9 col-12 dash-panel">

                
               <form method="post" action="/dashboard/rsvp/enviar">

                    <div class="row">
                        <div class="col-md-12">
                            
                            <div class="dash-title">
                                <h1>Enviar Convites</h1>
                            </div><!--dash-title-->

                        </div><!--col-->
                    </div><!--row-->



                    {if="$success != ''"}
                        <div class="row">
                            <div class="col-12">
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    {$success}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div> 
                        </div>  
                    {/if}

                    {if="$error != ''"}
                        <div class="row">
                            <div class="col-12">
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    {$error}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div> 
                        </div>  
                    {/if}




                    

                    <div class="row">
                        
                        <div class="col-md-6 dash-column">


                            <div class="form-check bottom2">

                              <input class="form-check-input" type="checkbox" name="rsvp-send-store" value="1" id="rsvp-send-store">

                              <label class="form-check-label" for="rsvp-send-store">
                                Enviar o link da Loja Virtual do Casal no e-mail
                              </label>

                            </div>

                                

                        </div><!--col-md-6-->





                        <div class="col-md-6">
                            
                            
                            
                            &nbsp;

                            
                            
                        </div><!--col-md-6-->


                    </div><!--row-->

















                    <div class="row">
                        
                        <div class="col-md-6 dash-column">






                            <div class="form-check">
                              <input class="form-check-input" type="radio" name="rsvp-send-message" id="rsvp-send-message1" value="1" checked="checked">
                              <label class="form-check-label" for="rsvp-send-message1">
                                Message1
                              </label>
                            </div>


                            <div class="form-check">
                              <input class="form-check-input" type="radio" name="rsvp-send-message" id="rsvp-send-message2" value="2">
                              <label class="form-check-label" for="rsvp-send-message2">
                                Message2
                              </label>
                            </div>


                            <div class="form-check">
                              <input class="form-check-input" type="radio" name="rsvp-send-message" id="rsvp-send-message3" value="3" checked="checked">
                              <label class="form-check-label" for="rsvp-send-message3">
                                Message3
                              </label>
                            </div>


                            




                        </div><!--col-md-6-->





                        <div class="col-md-6">
                            
                            
                            
                            &nbsp;

                            
                            
                        </div><!--col-md-6-->


                    </div><!--row-->








                    <div class="row">
                        
                        <div class="col-md-6 dash-column">






                            <h2>teste</h2>

                            <textarea class="description-area" rows="5" maxlength="500" id="rsvp-send-message0" name="rsvp-send-message0"></textarea>

                              




                        </div><!--col-md-6-->





                        <div class="col-md-6">
                            
                            
                            
                            &nbsp;

                            
                            
                        </div><!--col-md-6-->


                    </div><!--row-->












                    <div class="row">

                        <div class="col-md-6">







                            <div class="dash-input-row input-footer">
                                
                                <button type="submit" class="btn btn-primary">Enviar</button>

                                <a href="/dashboard/rsvp" class="btn btn-danger">Voltar</a>

                            </div><!--dash-input-row-->





                            
                        </div><!--col-->



                        <div class="col-md-6">

                            &nbsp;
                            
                        </div><!--col-->



                    </div><!--row-->



                </form>



            </div><!--col-->
        



      
        </div><!--row-->
    
    </div><!--container-->

</section>

