<section class="dashboard">

    <div class="container-fluid">            
            

            
        <div class="row">

                


            <div class="col-md-3 col-12 dash-menu">


                {if="!validatePlan()"}

                    {include="dashboard-menu-expirated"}
               

                {elseif="validatePlanFree()"}

                    {include="dashboard-menu-free"}

                {else}

                    {include="dashboard-menu"}

                {/if}
                    

            </div><!--col-->




            <div class="col-md-9 col-12 dash-panel">


            {if="$success != ''"}
            <div class="row">
                <div class="col-12">
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {$success}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div> 
            </div>  
            {/if}

            {if="$error != ''"}
            <div class="row">
                <div class="col-12">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {$error}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div> 
            </div>  
            {/if}

                


                <div class="row row-tags ">

                    <div class="col-md-12 tag-title">

                        <h3 style="color: #690782">Tags de Mesa - Freedom</h3>

                    </div>
                    
                    <div class="col-md-12">

                        <div class="tags-box">

                            {loop="$tag.freedom"}
                                <div class="tag-card">
                                
  
                                    
                                    <div class="tag-card-photo">
                                        
                                        <a target="_blank" href="/res/images/papelaria/freedom/tag/{$value.file}" ><img src="/res/images/papelaria/freedom/{$value.thumb}"></a>

                                    </div>

                                       

                                </div><!--tag-card-->

                            {/loop}
                        </div><!--box-->

                    </div><!--col-->
                   
                </div><!--row-->








                <div class="row row-tags ">

                    <div class="col-md-12 tag-title">

                        <h3 style="color: #dd716f">Tags de Mesa - Love</h3>
                        
                    </div>
                    
                    <div class="col-md-12">

                        <div class="tags-box">

                            {loop="$tag.love"}
                                <div class="tag-card">
                                
  
                                    
                                    <div class="tag-card-photo">
                                        
                                        <a target="_blank" href="/res/images/papelaria/love/tag/{$value.file}" ><img src="/res/images/papelaria/love/{$value.thumb}"></a>

                                    </div>

                                       

                                </div><!--tag-card-->

                            {/loop}
                        </div><!--box-->

                    </div><!--col-->
                   
                </div><!--row-->
















                <div class="row row-tags ">

                    <div class="col-md-12 tag-title">

                        <h3 style="color: #03a9f4">Tags de Mesa - Classic</h3>
                        
                    </div>
                    
                    <div class="col-md-12">

                        <div class="tags-box">

                            {loop="$tag.classic"}
                                <div class="tag-card">
                                
  
                                    
                                    <div class="tag-card-photo">
                                        
                                        <a target="_blank" href="/res/images/papelaria/classic/tag/{$value.file}" ><img src="/res/images/papelaria/classic/{$value.thumb}"></a>

                                    </div>

                                       

                                </div><!--tag-card-->

                            {/loop}
                        </div><!--box-->

                    </div><!--col-->
                   
                </div><!--row-->




















                <div class="row row-tags ">

                    <div class="col-md-12 tag-title">

                        <h3 style="color: #CFB53B">Tags de Mesa - Gold</h3>
                        
                    </div>
                    
                    <div class="col-md-12">

                        <div class="tags-box">

                            {loop="$tag.gold"}
                                <div class="tag-card">
                                
  
                                    
                                    <div class="tag-card-photo">
                                        
                                        <a target="_blank" href="/res/images/papelaria/gold/tag/{$value.file}" ><img src="/res/images/papelaria/gold/{$value.thumb}"></a>

                                    </div>

                                       

                                </div><!--tag-card-->

                            {/loop}
                        </div><!--box-->

                    </div><!--col-->
                   
                </div><!--row-->

















           

                <div class="row row-tags ">

                    <div class="col-md-12 tag-title">

                        <h3 style="color: #5e299a">Convites</h3>
                        
                    </div>
                    
                    <div class="col-md-12">

                        <div class="tags-box">

                            {loop="$tag.convite"}
                                <div class="tag-card">
                                
  
                                    
                                    <div class="tag-card-photo">
                                        
                                        <a target="_blank" href="/res/images/papelaria/convite/tag/{$value.file}" ><img src="/res/images/papelaria/convite/{$value.thumb}"></a>

                                    </div>

                                       

                                </div><!--tag-card-->

                            {/loop}
                        </div><!--box-->

                    </div><!--col-->
                   
                </div><!--row-->
















                     <div class="row row-tags ">

                    <div class="col-md-12 tag-title">

                        <h3 style="color: #dd716f">Plaquinhas</h3>
                        
                    </div>
                    
                    <div class="col-md-12">

                        <div class="tags-box">

                            {loop="$tag.plaquinha"}
                                <div class="tag-card">
                                
  
                                    
                                    <div class="tag-card-photo">
                                        
                                        <a target="_blank" href="/res/images/papelaria/plaquinha/tag/{$value.file}" ><img src="/res/images/papelaria/plaquinha/{$value.thumb}"></a>

                                    </div>

                                       

                                </div><!--tag-card-->

                            {/loop}
                        </div><!--box-->

                    </div><!--col-->
                   
                </div><!--row-->







            </div><!--col-->
        



      
        </div><!--row-->
    
    </div><!--container-->

</section>

