<section class="dashboard templates-models">

    <div class="container-fluid">            
            

            
        <div class="row">

                


            <div class="col-md-3 col-12 dash-menu">


                {if="$user.inplancontext == 0"}

                    {include="dashboard-menu-free"}


                {elseif="!$validate"}

                    {include="dashboard-menu-expirated"}
               

                {else}

                    {include="dashboard-menu"}

                {/if}
                    

            </div><!--col-->




            <div class="col-md-9 col-12 dash-panel">


                




                <form id="dash-form" method="post" action="/dashboard/meu-template">


                    <div class="row">
                        <div class="col-md-12">
                            
                            <div class="dash-title">
                                <h1>Meu Template</h1>
                            </div><!--dash-title-->

                        </div><!--col-->
                    </div><!--row-->





                    


                    {if="$success != ''"}
                    <div class="row">
                        <div class="col-12">
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                {$success}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div> 
                    </div>  
                    {/if}

                    {if="$error != ''"}
                    <div class="row">
                        <div class="col-12">
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                {$error}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div> 
                    </div>  
                    {/if}
                    



                    



                    <div class="row">
                        
                        <div class="col-12">
                            
                           <div class="preview">


                                <div id="preview-button">
                                    
                                    <!-- Botão para acionar modal -->
                                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#ModalTemplate">
                                        Template {$preview.name}
                                    </button>

                                </div>
                               

                                <div id="preview">
                                    
                                    <img src="/res/images/template/thumb/{$preview.thumb}">

                                </div><!-- #preview -->

                                


                           </div><!-- .preview -->

                        </div><!-- col -->

                    </div><!-- row -->


                    



                    <div class="row">
                        
                        <div class="col-md-6 col-12">



                            <div class="thumb row2">
                                


                                <input type="radio" class="form-control" id="template1" name="idtemplate" value="1" {if="$customstyle.idtemplate == '1'"}checked="checked"{/if}>

                            </div><!--thumb row2-->


                            
                                

                        </div><!--col-md-6-->




                        <div class="col-md-6 col-12">




                            <div class="thumb row2">

                                <input type="radio" class="form-control" id="template2" name="idtemplate" value="2" {if="$customstyle.idtemplate == '2'"}checked="checked"{/if}>

                            </div><!--thumb row2-->

                                

                        </div><!--col-md-6-->



                    </div><!--row-->































                    <div class="row">
                        
                        <div class="col-md-6 col-12">

                            

                            <div class="thumb row2">

                                <input type="radio" class="form-control" id="template3" name="idtemplate" value="3" {if="$customstyle.idtemplate == '3'"}checked="checked"{/if}>

                            </div><!--thumb row2-->



            

                                

                        </div><!--col-md-6-->




                        <div class="col-md-6 col-12">




                            <div class="thumb row2">

                                <input type="radio" class="form-control" id="template4" name="idtemplate" value="4" {if="$customstyle.idtemplate == '4'"}checked="checked"{/if}>

                            </div><!--thumb row2-->

                                

                        </div><!--col-md-6-->



                    </div><!--row-->






















                    <div class="row">
                        
                        <div class="col-md-6 col-12">



                            <div class="thumb row2">
                                    
                                    <input type="radio" class="form-control" id="template5" name="idtemplate" value="5" {if="$customstyle.idtemplate == '5'"}checked="checked"{/if}>

                                </div><!--thumb row2-->

                                    

                            </div><!--col-md-6-->




                        <div class="col-md-6 col-12">




                            &nbsp;

                                

                        </div><!--col-md-6-->



                    </div><!--row-->



















                    <div class="row">

                        <div class="col-md-12">

                            <div class="input-footer">
                                
                                <button type="submit" class="btn btn-primary">Salvar</button>

                                <a href="/dashboard" class="btn btn-danger">Voltar</a>

                            </div><!--row2-->
                            
                        </div><!--col-->

                    </div><!--row-->


                    <div class="row">
                        <div class="col-md-12">
                            
                           <input type="hidden" class="form-control" id="idcustomstyle" name="idcustomstyle" value="{$customstyle.idcustomstyle}">

                        </div><!--col-->
                    </div><!--row-->



                </form>



            </div><!--col-->
        



      
        </div><!--row-->




        <!-- Modal -->
        <div class="modal fade" id="ModalTemplate" tabindex="-1" role="dialog" aria-labelledby="TituloCentralizado" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="TituloCentralizado">Escolha seu Template</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                

















                <div class="row">
                    
                    <div class="col-md-6 col-12">



                        <div class="thumb row2">
                            


                            <img id="thumb1" data-idtemplate="1" {if="$customstyle.idtemplate == '1'"}class="checked"{/if} src="/res/images/template/thumb/{$templateInfoFullArray.1.thumb}">

                            <span>{$templateInfoFullArray.1.name}</span>


                        </div><!--thumb row2-->


                        
                            

                    </div><!--col-md-6-->




                    <div class="col-md-6 col-12">




                        <div class="thumb row2">

                            <img id="thumb2" data-idtemplate="2" {if="$customstyle.idtemplate == '2'"}class="checked"{/if} src="/res/images/template/thumb/{$templateInfoFullArray.2.thumb}">

                            
                            <span>{$templateInfoFullArray.2.name}</span>

                        </div><!--thumb row2-->

                            

                    </div><!--col-md-6-->



                </div><!--row-->































                <div class="row">
                    
                    <div class="col-md-6 col-12">

                        

                        <div class="thumb row2">

                            <img id="thumb3" data-idtemplate="3" {if="$customstyle.idtemplate == '3'"}class="checked"{/if}src="/res/images/template/thumb/{$templateInfoFullArray.3.thumb}">
                            
                            <span>{$templateInfoFullArray.3.name}</span>
                        </div><!--thumb row2-->



        

                            

                    </div><!--col-md-6-->




                    <div class="col-md-6 col-12">




                        <div class="thumb row2">


                            <img id="thumb4" data-idtemplate="4" {if="$customstyle.idtemplate == '4'"}class="checked"{/if} src="/res/images/template/thumb/{$templateInfoFullArray.4.thumb}">
                            
                            <span>{$templateInfoFullArray.4.name}</span>

                        </div><!--thumb row2-->

                            

                    </div><!--col-md-6-->



                </div><!--row-->






















                <div class="row">
                    
                    <div class="col-md-6 col-12">



                        <div class="thumb row2">
                                
                                <img id="thumb5" data-idtemplate="5" {if="$customstyle.idtemplate == '5'"}class="checked"{/if} src="/res/images/template/thumb/{$templateInfoFullArray.5.thumb}">



                                <span>{$templateInfoFullArray.5.name}</span>

                            </div><!--thumb row2-->

                                

                        </div><!--col-md-6-->




                    <div class="col-md-6 col-12">




                        &nbsp;

                            

                    </div><!--col-md-6-->



                </div><!--row-->
















              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
              </div>
            </div>
          </div>
        </div>
    
    </div><!--container-->

</section>
