<section class="dashboard">

    <div class="container-fluid">            
            

            
        <div class="row">

                


            <div class="col-md-3 col-12 dash-menu">


              {if="$user.inplancontext == 0"}

                  {include="dashboard-menu-free"}

              
              {elseif="$user.incheckout == 0"}

                  {include="dashboard-menu-nocheckout"}
              

              {elseif="!$validate"}

                  {include="dashboard-menu-expirated"}
              

              {else}

                  {include="dashboard-menu"}

              {/if}
                    

            </div><!--col-->




            <div class="col-md-9 col-12 dash-panel">


         

    




<!------------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------------>

<section id="terms">



  <div class="">






    <div class="row main-title">
      
      <div class="col-10">
    

        <div class="title">
          
          <h1>Termos de Uso</h1>

        </div> 


      </div><!--col-->


      <div id="print-wrapper" class="col-2">
        
        <a href="javascript:window.print();">

          <img src="/res/images/print.png" alt="Imprimir">

        </a> 

      </div><!--col-->


      <hr/>

    </div><!--row-->




    <div class="row">
      
      <div class="col-12">
        
        <p>
          
          O seguinte documento estabelece os  direitos e obrigações entre o Bem Casei e as pessoas físicas que utilizarem os  serviços prestados pelo site, doravante denominadas CASAL.

        </p>

        <p>
          
          Ao utilizar o site, o  CASAL declara estar em acordo as condições expostas neste Termo de Uso, com a Política de Privacidade e com os Termos da Lista de Presentes Virtuais do Bem Casei, os quais podem ser acessados pelos seguintes links:

        </p>

      </div><!--col-->

    </div><!--row-->


    <div class="row introduction-links">
      
      <div class="col-12">
        
                
        <p>
          <a href="/dashboard/politica-privacidade"><i class="fa fa-angle-right"></i> Política de Privacidade</a>
        </p>


        <p>
          <a href="/dashboard/termos-lista"><i class="fa fa-angle-right"></i> Termos da Lista de Presentes Virtuais</a>
        </p>


      </div>

    </div>
    


    <div class="row introduction">
      
      <div class="col-12">
        
        <p>
          
          Considerando que o CASAL possui  amigos e familiares, aqui denominados CONVIDADOS, que acessarão seu site de  casamento Bem Casei, temos:

        </p>



      </div><!--col-->


    </div><!--row-->








    <div class="row paragraph">
      
      <div class="col-12">
        
        <div class="title">
         
          <strong>1. OBJETO</strong>

        </div>

        <div class="blockquote">

          <p>
            
            1.1. O presente Termo define de que forma se dá ao  CASAL a permissão temporária para utilizar o software Bem Casei, de agora em  diante designado como &ldquo;site Bem Casei&rdquo; ou somente &ldquo;site&rdquo;.

          </p>
          
          
        </div>
        
      </div><!--col-->

    </div><!--row-->












    <div class="row paragraph">
      
        <div class="col-12 title">
         
          <strong>2. USO DO SITE</strong>

        </div><!--col-->

        <div class="col-12 blockquote">

          <p>
            
            2.1. O site Bem Casei será acessado pela internet utilizando dados de login do CASAL, ou seja, um e-mail e uma senha;

          </p>

          <p>
            
            2.2.  O CASAL utilizará os serviços do site mediante o pagamento de um dos planos por um período de tempo.

          </p>

        </div><!--col-->


        

    </div><!--row-->

















    <div class="row paragraph">
      
        
        <div class="col-12 title">
         
          <strong>3. SERVIÇOS</strong>

        </div><!--col-->

        <div class="col-12 blockquote">

          <p>
            
            3.1. O Bem Casei disponibilizará o acesso a um Painel de Controle para que o CASAL configure o seu site de casamento e o divulgue para seus CONVIDADOS;

          </p>


          <p>
            
            3.2.  O serviços prestados pelo site Bem Casei incluem, entre outros:

          </p>

        </div><!--col-->


        <div class="col-12 blockquote2">

            
            <p>
              A)  Diferentes modelos personalizáveis de templates;
            </p>

                       
            <p>
              B)  Confirmação de Presença On-line;
            </p>
            
            <p>
              C)  Configuração de Eventos (Chá-Bar, Chá da Casa Nova etc.);
            </p>

            <p>           
              D)  Mural de Recados com mensagens de felicitações de amigos e familiares;
            </p>
            
            <p>
              E)  Álbum de fotos;
            </p>
            
            <p>
              F)  Álbum de vídeos;
            </p>
 
            <p>
              G)  Lista de Presentes Virtuais e Lista de Presentes em Lojas;
            </p>

            <p>
              H)  Listas de Presentes em Outras Lojas;
            </p>
            
            <p>
              I)  Disponibilização dos valores líquidos dos presentes virtuais em dinheiro;
            </p>
            
            <p>
              J)  Saques gratuitos e ilimitados para a conta bancária indicada pelo CASAL;
            </p>
            

        </div><!--col-->

    </div><!--row-->















    <div class="row paragraph">
      
        <div class="col-12 title">
         
          <strong>4. PLANOS</strong>

        </div><!--col-->




        <div class="col-12 blockquote">

          <p>
            
            4.1. O Bem Casei disponibilizará os serviços do {$plans.103.desplan}, mediante o qual o CASAL pagará o valor de R$ {function="formatPrice($plans.103.vlprice)"} ({$plans.103.desvlprice}) referente a {$plans.103.inperiod} {$plans.103.desperiod}; R$ {function="formatPrice($plans.104.vlprice)"} ({$plans.104.desvlprice}) referente a {$plans.104.inperiod} {$plans.104.desperiod}; e R$ {function="formatPrice($plans.106.vlprice)"} ({$plans.106.desvlprice}) referente a {$plans.106.inperiod} {$plans.106.desperiod}; R$ {function="formatPrice($plans.109.vlprice)"} ({$plans.109.desvlprice}) referente a {$plans.109.inperiod} {$plans.109.desperiod} e R$ {function="formatPrice($plans.112.vlprice)"} ({$plans.112.desvlprice}) referente a {$plans.112.inperiod} {$plans.112.desperiod} de hospedagem;

          </p>

          <p>
            
            4.2.  O Bem Casei disponibilizará os serviços do {$plans.203.desplan}, mediante o qual o CASAL pagará o valor de R$ {function="formatPrice($plans.203.vlprice)"} ({$plans.203.desvlprice}) referente a {$plans.203.inperiod} {$plans.203.desperiod}; R$ {function="formatPrice($plans.204.vlprice)"} ({$plans.204.desvlprice}) referente a {$plans.204.inperiod} {$plans.204.desperiod}; e R$ {function="formatPrice($plans.206.vlprice)"} ({$plans.206.desvlprice}) referente a {$plans.206.inperiod} {$plans.206.desperiod}; R$ {function="formatPrice($plans.209.vlprice)"} ({$plans.209.desvlprice}) referente a {$plans.209.inperiod} {$plans.209.desperiod} e R$ {function="formatPrice($plans.212.vlprice)"} ({$plans.212.desvlprice}) referente a {$plans.212.inperiod} {$plans.212.desperiod} de hospedagem;

          </p>

          <p>
            
            4.3.  O Bem Casei disponibilizará os serviços do {$plans.303.desplan} mediante o qual o CASAL pagará o valor de R$ {function="formatPrice($plans.303.vlprice)"} ({$plans.303.desvlprice}) referente a {$plans.303.inperiod} {$plans.303.desperiod}; R$ {function="formatPrice($plans.304.vlprice)"} ({$plans.304.desvlprice}) referente a {$plans.304.inperiod} {$plans.304.desperiod}; e R$ {function="formatPrice($plans.306.vlprice)"} ({$plans.306.desvlprice}) referente a {$plans.306.inperiod} {$plans.306.desperiod}; R$ {function="formatPrice($plans.309.vlprice)"} ({$plans.309.desvlprice}) referente a {$plans.309.inperiod} {$plans.309.desperiod} e R$ {function="formatPrice($plans.312.vlprice)"} ({$plans.312.desvlprice}) referente a {$plans.312.inperiod} {$plans.312.desperiod} de hospedagem;

          </p>

          <p>
            
            4.4.  O Bem Casei disponibilizará {$plans.0.inperiod} {$plans.0.desperiod} sem qualquer ônus para o Casal a título de cortesia para testar os serviços do site;

          </p>

          <p>
            
            4.5.  Estendem-se os períodos supracitados, gratuitamente, na quantidade de tempo que porventura tenha sido adquirido no momento da compra do plano por efeito de campanha promocional.

          </p>

        </div><!--col-->


      
    </div><!--row-->









    




    































    <div class="row paragraph">
      
        <div class="col-12 title">
         
          <strong>5. FORMAS DE PAGAMENTO</strong>

        </div><!--col-->

        <div class="col-12 blockquote">

          <p>
            
            5.1. Os planos podem ser pagos por Boleto Bancário ou Cartão de Crédito à vista ou parcelado – sem juros;

          </p>

          <p>
            
            5.2.  O Bem Casei utiliza a Wirecard como processador de todos os pagamentos efetuados pelo CASAL e pelos CONVIDADOS no site;

          </p>

          <p>
            
            5.3.  O endereço eletrônico da Wirecard é: <a target="_blank" href="https://wirecard.com.br"><u>www.wirecard.com.br</u></a>

          </p>

          <p>
            
            5.4.  Todas as cláusulas e itens destes Termos de Uso, dos Termos e Condições da Lista de Presente Virtuais e da Política de Privacidade do Bem Casei estão em concordância com os Termos de Uso e com a Política de Privacidade da Wirecard.

          </p>

        </div><!--col-->

        

    </div><!--row-->














    <div class="row paragraph">
      
        <div class="col-12 title">
         
          <strong>6. OBRIGAÇÕES DO CASAL</strong>

        </div><!--col-->

        <div class="col-12 blockquote">

          <p>
            
            6.1. O CASAL se responsabiliza por inserir conteúdo em sua página pessoal, bem como pelo teor deste;

          </p>

          <p>
            
            6.2.  O CASAL se responsabiliza pela criação, guarda e manutenção da senha de acesso à sua conta de usuário dentro do Bem Casei, não a divulgando ou repassando a terceiros sob qualquer hipótese;

          </p>

          <p>
            
            6.3.  O CASAL se compromete a não utilizar os serviços do Bem Casei para fraudes e atos ilícitos.

          </p>

        </div><!--col-->
       

    </div><!--row-->
































    <div class="row paragraph">
      
        <div class="col-12 title">
         
          <strong>7. OBRIGAÇÕES DO Bem Casei</strong>

        </div><!--col-->

        <div class="col-12 blockquote">

          <p>
            
            7.1. O Bem Casei se compromete a manter um ambiente seguro para os dados e informações do CASAL e dos CONVIDADOS;

          </p>

          <p>
            
            7.2.  Os valores recebidos pelo CASAL não sofrerão qualquer tipo de acréscimo ou alteração, tais como atualização monetária e juros, independentemente do período durante o qual permanecerem disponibilizados pelo Bem Casei antes de serem transferidos para a conta bancária do Casal;

          </p>

          <p>
            
            7.2.  O Bem Casei garantirá a confidencialidade e o sigilo dos dados e informações do CASAL.

          </p>

        </div><!--col-->       

    </div><!--row-->























    <div class="row paragraph">
      
        <div class="col-12 title">
         
          <strong>8. CONDIÇÕES GERAIS</strong>

        </div><!--col-->

        <div class="col-12 blockquote">

          <p>
            
            8.1. Salva oposição feita através no item &quot;Privacidade&quot; da seção &quot;Conta do Usuário&quot; do Painel de Controle do CASAL, os mesmos dão ao Bem Casei a permissão de utilizar seu site de casamento em peças publicitárias;

          </p>

          <p>
            
            8.2.  O conteúdo do site dos noivos será armazenado por até 5 anos depois de encerrado o período contratado pelo CASAL para uso do site, sendo completamente removido após este período, sem a possibilidade de recuperação do conteúdo.

          </p>

        </div><!--col-->

       

    </div><!--row-->

















    <div class="row paragraph">
      
        <div class="col-12 title">
         
          <strong>9. TÉRMINO DO PRESENTE TERMO</strong>

        </div><!--col-->

        <div class="col-12 blockquote">

          <p>
            
            9.1.  A duração do presente Termo está condicionada à duração do período pelo qual o uso do site foi contratado, incluindo os meses gratuitos que porventura tenham sido adquiridos por efeito de campanha promocional no momento da contratação;

          </p>


          <p>
            
            9.2. Fica facultada a qualquer das partes encerrar o presente Termo, dentro do período em vigor do mesmo, em caso de descumprimento de qualquer de suas cláusulas, sendo garantida e certa, excetuando os casos de fraude e contravenção legal, a disponibilização dos valores líquidos que porventura tenham sido recebidos pelo CASAL, para transferência para sua conta bancária.

          </p>

        </div><!--col-->

        

    </div><!--row-->






















    <div class="row paragraph">
      
        <div class="col-12 title">
         
          <strong>10. FORO</strong>

        </div><!--col-->

        <div class="col-12 blockquote">

          <p>
            
            11.1.  As partes elegem o foro da Comarca da cidade de Belo Horizonte/MG, para dirimir quaisquer dúvidas oriundas da efetivação do presente Termo, com exclusão de qualquer outro, por mais privilegiado que seja; regendo-se pela legislação em vigor todos os casos não previstos no presente instrumento.

          </p>

           

        </div><!--col-->

       

    </div><!--row-->








  </div><!--container-->

</section>

<!------------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------------>






            </div><!--col-->
        



      
        </div><!--row-->
    
    </div><!--container-->

</section>

