<section class="dashboard">

    <div class="container-fluid">            
            

            
        <div class="row">

                


            <div class="col-md-3 col-12 dash-menu">


            {if="!$validate"}

				{if="$user.incheckout == 0 or $user.inaccount == 0"}

					{include="dashboard-menu-noorders"}

				{else}

					{include="dashboard-menu-expirated"}

				{/if}

			{elseif="$validate.incontext == 0"}

				{include="dashboard-menu-free"}

			{else}

				{include="dashboard-menu"}

			{/if}
                    

            </div><!--col-->




            <div class="col-md-9 col-12">







                <div class="row">
                    
                    <div class="col-12">

                        <div class="dash-title">
                            <h1>Transferências</h1>
                           
                        </div>

                    </div>


                </div>







                <div class="row">

                    <div class="col-12">


                        <div class="button-header">

                            <a href="/dashboard/transferencias/transferir-saldo">
                                <button>
                                    Transferir Saldo para Conta Bancária
                                </button>
                            </a>

                            <a href="/dashboard/painel-financeiro">
                                <button>
                                    Voltar
                                </button>
                            </a>
                     
                        </div>

                    </div>

                </div>




            



                {if="$success != ''"}
                <div class="row centralizer">
                    <div class="col-md-8 col-12">
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {$success}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div> 
                </div>  
                {/if}

                {if="$error != ''"}
                <div class="row centralizer">
                    <div class="col-md-8 col-12">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {$error}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div> 
                </div>  
                {/if}







                {loop="$transfer"}
                <div class="row card-dash">

                    <div class="col-md-10 col-12">
                        


                        <div class="row card-dash-row1">
                            



                            <div class="col-md-4 col-12">

                                <div class="card-dash-field">


                                    <div class="card-dash-content">
                                        <span>{$value.destransfercode}</span>
                                    </div>


                                    <div class="card-dash-header">
                                        <hr>
                                        <span>Transferência</span>
                                    </div>

                                </div><!--card-dash-field-->


                            </div><!--col-->
                        






                            <div class="col-md-5 col-12">

                                <div class="card-dash-field">


                                    <div class="card-dash-content">
                                        <span>{$value.desbanknumber}</span>
                                    </div>

                                    <div class="card-dash-header">

                                        <hr>
                                        <span>Instituição</span>
                                        
                                    </div>


                                </div><!--card-dash-field-->

                                
                            </div><!--col-->





                            <div class="col-md-3 col-12">

                                <div class="card-dash-field">


                                    <div class="card-dash-content">
                                        <span>{$value.desagencynumber}-{$value.desagencycheck}</span>
                                    </div>

                                    <div class="card-dash-header">

                                        <hr>
                                        <span>Agência</span>
                                        
                                    </div>


                                </div><!--card-dash-field-->

                                
                            </div><!--col-->

                           




                        </div><!--row-->








                        <div class="row card-dash-row2">




                           





                            <div class="col-md-3 col-12">

                                <div class="card-dash-field">


                                    <div class="card-dash-content">
                                        <span>{$value.desaccountnumber}-{$value.desaccountcheck}</span>
                                    </div>

                                    <div class="card-dash-header">

                                        <hr>
                                        <span>Conta</span>
                                        
                                    </div>


                                </div><!--card-dash-field-->

                                
                            </div><!--col-->












                            <div class="col-md-3 col-12">

                                <div class="card-dash-field">


                                    <div class="card-dash-content">
                                        <span>R$ {function="formatPrice($value.vlamount)"}</span>
                                    </div>

                                    <div class="card-dash-header">

                                        <hr>
                                        <span>Valor</span>
                                        
                                    </div>


                                </div><!--card-dash-field-->

                                
                            </div><!--col-->






                            




                            <div class="col-md-3 col-12">

                                <div class="card-dash-field">


                                    <div class="card-dash-content">
                                        <span>{$value.intransferstatus}</span>
                                    </div>

                                    <div class="card-dash-header">

                                        <hr>
                                        <span>Status</span>
                                        
                                    </div>


                                </div><!--card-dash-field-->

                                
                            </div><!--col-->









                            









                            







                            <div class="col-md-3 col-12">

                                <div class="card-dash-field">


                                    <div class="card-dash-content">
                                        <span>{function="formatDateTimeWithSeconds($value.dtregister)"}</span>
                                    </div>

                                    <div class="card-dash-header">

                                        <hr>
                                        <span>Data</span>
                                        
                                    </div>


                                </div><!--card-dash-field-->

                                
                            </div><!--col-->







                        </div><!--row-->




                    </div><!--col-->






                    <div class="col-md-2 col-12 card-dash-row3">
                        

                        <div class="card-dash-field">


                            <a href="/dashboard/transferencias/{$value.idtransfer}">

                                <button>Detalhes</button>

                            </a>
                            


                           
                        </div><!--card-buttons-wrappe-->




                    </div><!--col-->




                </div><!--row-->


























                {else}
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-info">
                            Nenhuma transferência foi realizada
                        </div>
                    </div>
                </div>
                {/loop}






                                                      
                            
  
            


            </div><!--col-->
        



      
        </div><!--row-->
    
    </div><!--container-->

</section>

