<style type="text/css">




    
    section h1{
        color: {if="$customstyle.descolor1 != ''"}#{$customstyle.descolor1}{else}#FFFFFF{/if};
        font-family: {if="$customstyle.desfontfamily1 != ''"}'{$customstyle.desfontfamily1}'{else}'Norican'{/if};
    }
    section h2{
        color: {if="$customstyle.descolordate != ''"}#{$customstyle.descolordate}{else}#FFFFFF{/if};
        font-family: {if="$customstyle.desfontfamilydate != ''"}'{$customstyle.desfontfamilydate}'{else}'Norican'{/if};
    }
    section h3{
        color: {if="$customstyle.descolor2 != ''"}#{$customstyle.descolor2}{else}#DD716F{/if};
        font-family: {if="$customstyle.desfontfamily1 != ''"}'{$customstyle.desfontfamily1}'{else}'Norican'{/if};
    }
    section h4{
        font-family: {if="$customstyle.desfontfamily1 != ''"}'{$customstyle.desfontfamily1}'{else}'Norican'{/if};
    }
    section h5{
        font-family: {if="$customstyle.desfontfamily2 != ''"}'{$customstyle.desfontfamily2}'{else}'OpenSans'{/if};
    }
    section h6{
        font-family: {if="$customstyle.desfontfamily2 != ''"}'{$customstyle.desfontfamily2}'{else}'OpenSans'{/if};
    }








    /********************************HEADER*****************************************/
    header .header-title h3{
        color: {if="$customstyle.descolor2 != ''"}#{$customstyle.descolor2}{else}#DD716F{/if};
        font-family: {if="$customstyle.desfontfamily1 != ''"}'{$customstyle.desfontfamily1}'{else}'Norican'{/if};

    }
    header #domain-dropdown-menu a:hover{
        color: {if="$customstyle.descolortexthover != ''"}#{$customstyle.descolortexthover}{else}#DD716F{/if};
    }
    header .cart-amount {
        color: {if="$customstyle.descolor2 != ''"}#{$customstyle.descolor2}{else}#DD716F{/if};
        font-weight: 700;
    }
    
    header #shopping-item-mobile .shopping-item:hover .product-count {
        background-color: {if="$customstyle.descolor2 != ''"}#{$customstyle.descolor2}{else}#DD716F{/if};
    }
    header .product-count {
        background: none repeat scroll 0 0 {if="$customstyle.descolor2 != ''"}#{$customstyle.descolor2}{else}#DD716F{/if};
    }
    /********************************HEADER*****************************************/








    /********************************FOOTER*****************************************/

    footer{
        padding: 5% 5% 2% 5%;
        color: {if="$customstyle.descolorfooter != ''"}#{$customstyle.descolorfooter}{else}#FFFFFF{/if};
        {if="$customstyle.inbgcolorgradient == '0'"}
        background-color: {if="$customstyle.desbgcolorfooter != ''"}#{$customstyle.desbgcolorfooter}{else}#DD716F{/if};
        {else}
        text-shadow: 4px 4px 4px rgba(0, 0, 0, .45);
        background: radial-gradient(ellipse at center, {if="$customstyle.desbgcolorfooter != ''"}#{$customstyle.desbgcolorfooter}99{else}#F7D9E199{/if} 0%, {if="$customstyle.desbgcolorfooter != ''"}#{$customstyle.desbgcolorfooter}{else}#F7D9E1{/if} 60%);
        {/if}
    }
    footer a{
        color: {if="$customstyle.descolorfooter != ''"}#{$customstyle.descolorfooter}{else}#FFFFFF{/if};
    }
    footer a:hover{
        color: {if="$customstyle.descolorfooterhover != ''"}#{$customstyle.descolorfooterhover}{else}#F7D9E1{/if};
    }
    footer .bottom-footer p {
      line-height: 24px;
      font-size: 15px;
      padding-top: 20px;
      border-top: 1px solid {if="$customstyle.descolorfooter != ''"}#{$customstyle.descolorfooter}{else}#FFFFFF{/if};
      color: {if="$customstyle.descolorfooter != ''"}#{$customstyle.descolorfooter}{else}#FFFFFF{/if};
    }
    footer .footer-title h3{
        font-size: 3rem;
        color: {if="$customstyle.descolorfooter != ''"}#{$customstyle.descolorfooter}{else}#FFFFFF{/if};
        font-family: {if="$customstyle.desfontfamily1 != ''"}'{$customstyle.desfontfamily1}'{else}'Norican'{/if};
    }
    footer .list-group-item{
        margin: 2% 0;
        background: none;
        color: {if="$customstyle.descolorfooter != ''"}#{$customstyle.descolorfooter}{else}#FFFFFF{/if};
    }
    footer .list-group-item:hover{
        background: none;
        color: {if="$customstyle.descolorfooterhover != ''"}#{$customstyle.descolorfooterhover}{else}#F7D9E1{/if};
    }
    footer .list-socials a {
      border: {if="$customstyle.descolorfooter != ''"}#{$customstyle.descolorfooter}{else}#FFFFFF{/if} 1px solid;
    }
    footer .list-socials a:hover {
      border: {if="$customstyle.descolorfooterhover != ''"}#{$customstyle.descolorfooterhover}{else}#F7D9E1{/if} 1px solid;
    }
    /********************************FOOTER*****************************************/







    /********************************DOMAIN*****************************************/
    .dropdown a:hover{
        color: {if="$customstyle.descolortexthover != ''"}#{$customstyle.descolortexthover}{else}#171F26{/if};

    }
    .section-title hr{
        background-color: {if="$customstyle.descolor2 != ''"}#{$customstyle.descolor2}{else}#171F26{/if};
    }
    /********************************DOMAIN*****************************************/





    
</style>

{if="!validatePlanDomain()"}
<section class="domain">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="alert alert-info alert-domain" role="alert">
                    <h1>Checkout Desabilitado</h1>
                </div><!--alert-->
            </div><!--col-->
        </div><!--row-->
    </div>
</section>

{elseif="$user.inplancontext == 0"}
<section class="domain">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="alert alert-info alert-domain" role="alert">
                    <h1>Para liberar as funcionalidades de sua Loja é necessário adquirir um plano</h1>
                </div><!--alert-->
            </div><!--col-->
        </div><!--row-->
    </div>
</section>

{else}






<section class="domain domain-checkout">
    
    <div class="container-fluid">
        


    	



        <div id="checkout-box" class="row">
            

        
            <div class="col-md-5 purchase-resume text-center">
               








				<div class="row table-header">

              
                        


	                <div class="col-8">


	                    <span>Presente</span>


	                    
	                </div>






	                 






	                <div class="col-4">


	                    <span>
                            Valor
                        </span>

	                    
	                </div>

      




	        
	            </div><!--row-->







	            {loop="$products"}
	            <div class="table-row row">

              
                        


	                <div class="col-8">

	                    <span>{$value.desproduct}</span>

	                    
	                </div>






	                 






	                <div class="col-4">


	                     <span>
                            R${function="formatPrice(getInterest($value.vlprice,'1','1',$productconfig.incharge))"}
                        </span>
	                    
	                </div>




	        
	            </div><!--row-->

	            {/loop}












	            <div id="nrinstallment">
	            	
	            	<div class="row installment centralizer">

              
                        



		                <div class="col-6 text-right">


		                        <div id="installment-title" class="card-dash-content">

		                            <span>Parcelamento</span>

		                        </div>


		                </div>

		          
		                        

		                

		                <div class="col-6">


		                    <select id="installment2" form="checkout-form5" name="installment">

			                    <option value="1" id="installment-first-child" data-interest='{function="roundValue(getInterestTotal("1","1",$productconfig.incharge))"}'>À vista - {function="formatPrice(getInterestTotal("1","1",$productconfig.incharge))"}</option>

			                    <option value="2" data-interest='{function="roundValue(getInterestTotal("1","2",$productconfig.incharge))"}'>2 x R$ {function="formatPrice(getInterestTotal('1','2',$productconfig.incharge)/2)"}</option> 
			                    
			                    <option value="3" data-interest='{function="roundValue(getInterestTotal("1","3",$productconfig.incharge))"}'>3 x R$ {function="formatPrice(getInterestTotal('1','3',$productconfig.incharge)/3)"}</option> 
			                    
			                    <option value="4" data-interest='{function="roundValue(getInterestTotal("1","4",$productconfig.incharge))"}'>4 x R$ {function="formatPrice(getInterestTotal('1','4',$productconfig.incharge)/4)"}</option> 
			                    
			                    <option value="5" data-interest='{function="roundValue(getInterestTotal("1","5",$productconfig.incharge))"}'>5 x R$ {function="formatPrice(getInterestTotal('1','5',$productconfig.incharge)/5)"}</option>
			                    
			                    <option value="6" data-interest='{function="roundValue(getInterestTotal("1","6",$productconfig.incharge))"}'>6 x R$ {function="formatPrice(getInterestTotal('1','6',$productconfig.incharge)/6)"}</option>
			                
			                </select>
		                    
		                </div>


		            </div><!--row-->

	            </div>















	            <div class="row table-totals">

              
                        


	                <div class="col-3">


	                    &nbsp;


	                    
	                </div>






	                 






	                <div class="col-3">


	                    &nbsp;

	                    
	                </div>



	                       



	                <div class="col-3">


	                    <span>Total</span>


	                </div>

	          
	                        

	                

	                <div class="col-3">


	                    <span id="interest" data-card='{function="formatPrice(getInterestTotal("1","1",$productconfig.incharge))"}' data-boleto='{function="formatPrice(getInterestTotal("0","1",$productconfig.incharge))"}'>R${function="formatPrice(getInterestTotal('1','1',$productconfig.incharge))"}</span>

	                    
	                </div>


	            </div><!--row-->

















            </div><!--col-->






            <div class="col-md-7">


          			
           	



    			<div class="row centralizer">
    				
    				<ul class="nav checkout-buttons">

						<li id="options-payments5" class="nav-item options-button options-selected"><button>Cartão de Crédito</button></li>
						<li id="options-payments4" class="nav-item options-button"><button>Boleto</button></li>
						
					</ul>

    			</div><!--row-->








				{if="$error != ''"}
				<div id="error-container">
	                <div class="alert alert-danger alert-dismissible fade show" role="alert">
	                    {$error}
	                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
	                </div>
    			</div><!--error-container-->
               	{/if}
               





















    			<div id="payment-inputs5" style="display:block;">

    				<div class="row">
    				
	    				<div class="col-12">
	    					
	    					<div class="payment-warn payment-block">

										    				
								<p>Preencha com os dados do titular do cartão!</p>


								<p id="desdocument-warn">Sabemos que é chato, mas pedimos que nos ajude a nos proteger de compras fraudulentas, e preencha com os dados exatos do <strong>Titular</strong> do cartão de crédito, inclusive o endereço!</p>

							</div>

	    				</div>

					</div>


					<div class="row">

						<div class="col-md-6">

							<div class="payment-block">
						                				
								
												
									
																	
								<form id="checkout-form5" action="/{$user.desdomain}/checkout" class="checkout" method="post" name="checkout">

									<input type="hidden" name="checkout-third-part-card" value="checkout-third-part-card">


									<div class="row2">
										<input type="text" placeholder="Nome do Titular do cartão" name="desname" class="input-text" value="{$domainCheckoutValues.desname}">
									</div>



									<div class="row2">
										<input type="email" placeholder="E-mail" email="desemail" name="desemail" class="input-text" value="{$domainCheckoutValues.desemail}">
									</div>
										


									<div class="row2">
										<input type="text" placeholder="Número do CPF" name="desholderdocument" class="input-text" value="{$domainCheckoutValues.desholderdocument}">
									</div>

										
									






									<div class="row2 row">

										<div class="col-md-5">
											<input type="text" placeholder="DDD" name="nrholderddd" class="input-text" value="{$domainCheckoutValues.nrholderddd}">
										</div>



										<div class="col-md-7">
											<input type="text" placeholder="Telefone" name="nrholderphone" class="input-text" value="{$domainCheckoutValues.nrholderphone}">
										</div>

									</div>









									<div class="row2 row">

										<div id="birth-field-text" class="col-md-4">
											
											<label for="payment_birth_1">Nascimento:</label>
											
										</div>



										<div class="col-md-8">
											<input type="date" placeholder="Nascimento" name="dtholderbirth" class="input-text" value="{$domainCheckoutValues.dtholderbirth}">
											
										</div>

									</div>


								</div><!--payment-block-->


								<div class="payment-block">



							
									<div class="row2">
										<input type="text" placeholder="CEP do Titular" name="zipcode" class="input-text" value="{$domainCheckoutValues.zipcode}">
										<!--<input type="submit" Atualizar CEP" id="place_order" class="button alt" formaction="/checkout" formmethod="get">-->
									</div>

									<div class="row2">
										<input type="text" placeholder="Logradouro, rua, avenida" name="desholderaddress" class="input-text" value="{$domainCheckoutValues.desholderaddress}">
									</div>

									<div class="row2">
										<input type="text" placeholder="Número" name="desholdernumber" class="input-text" value="{$domainCheckoutValues.desholdernumber}">
									</div>

									<div class="row2">
										<input type="text" placeholder="Complemento (opcional)" name="desholdercomplement" class="input-text" value="{$domainCheckoutValues.desholdercomplement}">
					                </div>

					                <div class="row2">
										<input type="text" placeholder="Bairro" name="desholderdistrict" class="input-text" value="{$domainCheckoutValues.desholderdistrict}">
									</div>




									


									<div class="state-city">
										
										<label for="state">Estado</label>
										<select id="state" form="checkout-form5" name="desholderstate">
					                    	<option value="1">Acre</option> 
					                    	<option value="2">Alagoas</option> 
					                    	<option value="3">Amazonas</option> 
					                    	<option value="4">Amapá</option> 
					                    	<option value="5">Bahia</option> 
					                    	<option value="6">Ceará</option> 
					                    	<option value="7">Distrito Federal</option> 
					                    	<option value="8">Espírito Santo</option> 
					                    	<option value="9">Goiás</option> 
					                    	<option value="10">Maranhão</option> 
					                    	<option value="11">Minas Gerais</option> 
					                    	<option value="12">Mato Grosso do Sul</option> 
					                    	<option value="13">Mato Grosso</option> 
					                    	<option value="14">Pará</option> 
					                    	<option value="15">Paraíba</option> 
					                    	<option value="16">Pernambuco</option> 
					                    	<option value="17">Piauí</option> 
					                    	<option value="18">Paraná</option> 
					                    	<option value="19">Rio de Janeiro</option> 
					                    	<option value="20">Rio Grande do Norte</option> 
					                    	<option value="21">Rondônia</option> 
					                    	<option value="22">Roraima</option> 
					                    	<option value="23">Rio Grande do Sul</option> 
					                    	<option value="24">Santa Catarina</option> 
					                    	<option value="25">Sergipe</option> 
					                    	<option value="26">São Paulo</option> 
					                    	<option value="27">Tocantins</option> 
					                	</select>

									</div>





									<div class="state-city">
										
										<label for="city">Cidade</label>
										<select id="city" form="checkout-form5" name="desholdercity">
					                    	<option value="79">Acrelândia</option> 
					                    	<option value="80">Assis Brasil</option> 
					                    	<option value="81">Brasiléia</option> 
					                    	<option value="82">Bujari</option> 
					                    	<option value="83">Capixaba</option> 
					                    	<option value="84">Cruzeiro do Sul</option> 
					                    	<option value="85">Epitaciolândia</option> 
					                    	<option value="86">Feijó</option> 
					                    	<option value="87">Jordão</option> 
					                    	<option value="88">Mâncio Lima</option> 
					                    	<option value="89">Manoel Urbano</option> 
					                    	<option value="90">Marechal Thaumaturgo</option> 
					                    	<option value="91">Plácido de Castro</option> 
					                    	<option value="92">Porto Acre</option> 
					                    	<option value="93">Porto Walter</option> 
					                    	<option value="94">Rio Branco</option> 
					                    	<option value="95">Rodrigues Alves</option> 
					                    	<option value="96">Santa Rosa do Purus</option> 
					                    	<option value="97">Sena Madureira</option> 
					                    	<option value="98">Senador Guiomard</option> 
					                    	<option value="99">Tarauacá</option> 
					                    	<option value="100">Xapuri</option> 
					                </select>

									</div>

								</div>

							</div>

							<div class="col-md-6">


								<div class="col-12 payment-block card-info">


									<div class='card-wrapper'></div>
												          					
									<div class="row2">
										<input type="text" placeholder="Número do Cartão" name="descardcode_number" class="input-text cc-number">
									</div>

									<div class="row2">
										<input type="text" placeholder="Nome como está no cartão" name="desholdername" class="input-text ">
									</div>


									<div class="row2 row">

										<div class="col-md-6">
											<input type="text" placeholder="Mês" name="descardcode_month" class="input-text ">
												
										</div>



										<div class="col-md-6">
											<input type="text" placeholder="Ano" id="payment_cardyear_1" name="descardcode_year" class="input-text ">
												
										</div>

									</div>



									<div class="row2">
										<input type="text" placeholder="Código de Segurança" name="descardcode_cvc" class="input-text ">
									</div>		


									<div>
										<input id="checkout-button5" class="checkout-button" type="submit" value="Efetuar Pagamento" name="checkout-third-part-card2">
									</div>

								</form>

							</div>

						</div>

    				</div>

    			</div>








    			<div id="payment-inputs4" style="display:none;"}>

    				<div class="row">
    				
	    				<div class="col-12">
	    					
	    					<div class="payment-warn payment-block">

										    				
								<p>Pagamento com Boleto!</p>


								<p id="desdocument-warn">Sabemos que é chato, mas devido a ser uma exigência do nosso <a target="_blank" href="/termos-uso#formas-de-pagamento">processador de pagamentos</a>, pedimos que insira os dados abaixo para podermos gerar o seu boleto!</p>

							</div>

	    				</div>

					</div>


					<div class="row">

						<div class="col-md-6">

							<div class="payment-block">
						                				
								
												
									
																	
								<form id="checkout-form4" action="/{$user.desdomain}/checkout" class="checkout" method="post" name="checkout">


								<input type="hidden" name="checkout-boleto" value="checkout-boleto">


								<div class="row2">
									<input type="text" placeholder="Nome" name="desname" class="input-text" value="{$domainCheckoutValues.desname}">
								</div>



								<div class="row2">
									<input type="email" placeholder="E-mail" email="desemail" name="desemail" class="input-text" value="{$domainCheckoutValues.desemail}">
								</div>
									


								<div class="row2">
									<input type="text" placeholder="Número do CPF" name="desholderdocument" class="input-text" value="{$domainCheckoutValues.desholderdocument}">
								</div>

									
								






								<div class="row2 row">

									<div class="col-md-5">
										<input type="text" placeholder="DDD" name="nrholderddd" class="input-text" value="{$domainCheckoutValues.nrholderddd}">
									</div>



									<div class="col-md-7">
										<input type="text" placeholder="Telefone" name="nrholderphone" class="input-text" value="{$domainCheckoutValues.nrholderphone}">
									</div>

								</div>









								<div class="row2 row">

									<div id="birth-field-text" class="col-md-4">
										
										<label for="payment_birth_1">Nascimento:</label>
										
									</div>



									<div class="col-md-8">
										<input type="date" placeholder="Nascimento" name="dtholderbirth" class="input-text" value="{$domainCheckoutValues.dtholderbirth}">
										
									</div>

								</div>


							</div><!--payment-block-->
	

						</div>



						<div class="col-md-6">


							<div class="payment-block">



						
								<div class="row2">
									<input type="text" placeholder="CEP do Titular" name="zipcode" class="input-text" value="{$domainCheckoutValues.zipcode}">
									<!--<input type="submit" Atualizar CEP" id="place_order" class="button alt" formaction="/checkout" formmethod="get">-->
								</div>

								<div class="row2">
									<input type="text" placeholder="Logradouro, rua, avenida" name="desholderaddress" class="input-text" value="{$domainCheckoutValues.desholderaddress}">
								</div>

								<div class="row2">
									<input type="text" placeholder="Número" name="desholdernumber" class="input-text" value="{$domainCheckoutValues.desholdernumber}">
								</div>

								<div class="row2">
									<input type="text" placeholder="Complemento (opcional)" name="desholdercomplement" class="input-text" value="{$domainCheckoutValues.desholdercomplement}">
				                </div>

				                <div class="row2">
									<input type="text" placeholder="Bairro" name="desholderdistrict" class="input-text" value="{$domainCheckoutValues.desholderdistrict}">
								</div>




								


								<div class="state-city">
									
									<label for="state">Estado</label>
									<select id="state" form="checkout-form4" name="desholderstate">
				                    	<option value="1">Acre</option> 
				                    	<option value="2">Alagoas</option> 
				                    	<option value="3">Amazonas</option> 
				                    	<option value="4">Amapá</option> 
				                    	<option value="5">Bahia</option> 
				                    	<option value="6">Ceará</option> 
				                    	<option value="7">Distrito Federal</option> 
				                    	<option value="8">Espírito Santo</option> 
				                    	<option value="9">Goiás</option> 
				                    	<option value="10">Maranhão</option> 
				                    	<option value="11">Minas Gerais</option> 
				                    	<option value="12">Mato Grosso do Sul</option> 
				                    	<option value="13">Mato Grosso</option> 
				                    	<option value="14">Pará</option> 
				                    	<option value="15">Paraíba</option> 
				                    	<option value="16">Pernambuco</option> 
				                    	<option value="17">Piauí</option> 
				                    	<option value="18">Paraná</option> 
				                    	<option value="19">Rio de Janeiro</option> 
				                    	<option value="20">Rio Grande do Norte</option> 
				                    	<option value="21">Rondônia</option> 
				                    	<option value="22">Roraima</option> 
				                    	<option value="23">Rio Grande do Sul</option> 
				                    	<option value="24">Santa Catarina</option> 
				                    	<option value="25">Sergipe</option> 
				                    	<option value="26">São Paulo</option> 
				                    	<option value="27">Tocantins</option> 
				                	</select>

								</div>





								<div class="state-city">
									
									<label for="city">Cidade</label>
									<select id="city" form="checkout-form4" name="desholdercity">
				                    	<option value="79">Acrelândia</option> 
				                    	<option value="80">Assis Brasil</option> 
				                    	<option value="81">Brasiléia</option> 
				                    	<option value="82">Bujari</option> 
				                    	<option value="83">Capixaba</option> 
				                    	<option value="84">Cruzeiro do Sul</option> 
				                    	<option value="85">Epitaciolândia</option> 
				                    	<option value="86">Feijó</option> 
				                    	<option value="87">Jordão</option> 
				                    	<option value="88">Mâncio Lima</option> 
				                    	<option value="89">Manoel Urbano</option> 
				                    	<option value="90">Marechal Thaumaturgo</option> 
				                    	<option value="91">Plácido de Castro</option> 
				                    	<option value="92">Porto Acre</option> 
				                    	<option value="93">Porto Walter</option> 
				                    	<option value="94">Rio Branco</option> 
				                    	<option value="95">Rodrigues Alves</option> 
				                    	<option value="96">Santa Rosa do Purus</option> 
				                    	<option value="97">Sena Madureira</option> 
				                    	<option value="98">Senador Guiomard</option> 
				                    	<option value="99">Tarauacá</option> 
				                    	<option value="100">Xapuri</option> 
				                </select>

								</div>

							</div>




							

						</div>

    				</div>

    				<div class="row centralizer">
    					
    					<div class="col-10">
    						
    						<div class="payment-block">

											          					
								<input id="checkout-boleto-button" class="checkout-button" type="submit" value="Gerar Boleto" name="checkout-boleto2">

							</form>

							</div>

    					</div>
    				</div>

    			</div>























				




















          	
           	
            </div><!--col-->

        </div><!--row-->


    </div><!--container-->
    

</section>

{/if}

