<style type="text/css">




    
    section h1{
        color: {if="$customstyle.descolor1 != ''"}#{$customstyle.descolor1}{else}#FFFFFF{/if};
        font-family: {if="$customstyle.desfontfamily1 != ''"}'{$customstyle.desfontfamily1}'{else}'Norican'{/if};
    }
    section h2{
        color: {if="$customstyle.descolordate != ''"}#{$customstyle.descolordate}{else}#FFFFFF{/if};
        font-family: {if="$customstyle.desfontfamilydate != ''"}'{$customstyle.desfontfamilydate}'{else}'Norican'{/if};
    }
    section h3{
        color: {if="$customstyle.descolor2 != ''"}#{$customstyle.descolor2}{else}#DD716F{/if};
        font-family: {if="$customstyle.desfontfamily1 != ''"}'{$customstyle.desfontfamily1}'{else}'Norican'{/if};
    }
    section h4{
        font-family: {if="$customstyle.desfontfamily1 != ''"}'{$customstyle.desfontfamily1}'{else}'Norican'{/if};
    }
    section h5{
        font-family: {if="$customstyle.desfontfamily2 != ''"}'{$customstyle.desfontfamily2}'{else}'OpenSans'{/if};
    }
    section h6{
        font-family: {if="$customstyle.desfontfamily2 != ''"}'{$customstyle.desfontfamily2}'{else}'OpenSans'{/if};
    }








    /********************************HEADER*****************************************/
    header .header-title h3{
        color: {if="$customstyle.descolor2 != ''"}#{$customstyle.descolor2}{else}#DD716F{/if};
        font-family: {if="$customstyle.desfontfamily1 != ''"}'{$customstyle.desfontfamily1}'{else}'Norican'{/if};

    }
    header #domain-dropdown-menu a:hover{
        color: {if="$customstyle.descolortexthover != ''"}#{$customstyle.descolortexthover}{else}#DD716F{/if};
    }
    header .cart-amount {
        color: {if="$customstyle.descolor2 != ''"}#{$customstyle.descolor2}{else}#DD716F{/if};
        font-weight: 700;
    }
    
    header #shopping-item-mobile .shopping-item:hover .product-count {
        background-color: {if="$customstyle.descolor2 != ''"}#{$customstyle.descolor2}{else}#DD716F{/if};
    }
    header .product-count {
        background: none repeat scroll 0 0 {if="$customstyle.descolor2 != ''"}#{$customstyle.descolor2}{else}#DD716F{/if};
    }
    header #menu-condensed i{
        font-size: 30px;
        color: {if="$customstyle.descolor2 != ''"}#{$customstyle.descolor2}99{else}#DD716F{/if};
    }
    header .bar-close .btn-close {
        background:none;
        border: none;
        color: {if="$customstyle.descolor2 != ''"}#{$customstyle.descolor2}{else}#DD716F{/if};
        font-size: 22px;
    }
    /********************************HEADER*****************************************/








    /********************************FOOTER*****************************************/

    footer{
        padding: 5% 5% 2% 5%;
        color: {if="$customstyle.descolorfooter != ''"}#{$customstyle.descolorfooter}{else}#FFFFFF{/if};
        background-color: {if="$customstyle.desbgcolorfooter != ''"}#{$customstyle.desbgcolorfooter}{else}#DD716F{/if};
    }
    footer a{
        color: {if="$customstyle.descolorfooter != ''"}#{$customstyle.descolorfooter}{else}#FFFFFF{/if};
    }
    footer a:hover{
        color: {if="$customstyle.descolorfooterhover != ''"}#{$customstyle.descolorfooterhover}{else}#F7D9E1{/if};
    }
    footer .bottom-footer p {
      line-height: 24px;
      font-size: 15px;
      padding-top: 20px;
      border-top: 1px solid {if="$customstyle.descolorfooter != ''"}#{$customstyle.descolorfooter}{else}#FFFFFF{/if};
      color: {if="$customstyle.descolorfooter != ''"}#{$customstyle.descolorfooter}{else}#FFFFFF{/if};
    }
    footer .footer-title h3{
        font-size: 3rem;
        color: {if="$customstyle.descolorfooter != ''"}#{$customstyle.descolorfooter}{else}#FFFFFF{/if};
        font-family: {if="$customstyle.desfontfamily1 != ''"}'{$customstyle.desfontfamily1}'{else}'Norican'{/if};
    }
    footer .list-group-item{
        margin: 2% 0;
        background: none;
        color: {if="$customstyle.descolorfooter != ''"}#{$customstyle.descolorfooter}{else}#FFFFFF{/if};
    }
    footer .list-group-item:hover{
        background: none;
        color: {if="$customstyle.descolorfooterhover != ''"}#{$customstyle.descolorfooterhover}{else}#F7D9E1{/if};
    }
    footer .list-socials a {
      border: {if="$customstyle.descolorfooter != ''"}#{$customstyle.descolorfooter}{else}#FFFFFF{/if} 1px solid;
    }
    footer .list-socials a:hover {
      border: {if="$customstyle.descolorfooterhover != ''"}#{$customstyle.descolorfooterhover}{else}#F7D9E1{/if} 1px solid;
    }
    /********************************FOOTER*****************************************/







    /***ALBUM,  BESTFRIENDS, EVENTS, MESSAGES, OUTERLISTS, STAKEHOLDERS, VIDEOS, STORE****/
    .alert-domain h1{
        text-align: center;
        color: {if="$customstyle.descolor2 != ''"}#{$customstyle.descolor2}{else}#DD716F{/if};
        font-family: {if="$customstyle.desfontfamily1 != ''"}'{$customstyle.desfontfamily1}'{else}'Norican'{/if};

    }
    /***ALBUM,  BESTFRIENDS, EVENTS, MESSAGES, OUTERLISTS, STAKEHOLDERS, VIDEOS, STORE****/











    /********************************DOMAIN*****************************************/
    .dropdown a:hover{
        color: {if="$customstyle.descolortexthover != ''"}#{$customstyle.descolortexthover}{else}#171F26{/if};

    }
    .section-title hr{
        background-color: {if="$customstyle.descolor2 != ''"}#{$customstyle.descolor2}{else}#171F26{/if};
    }
    /********************************DOMAIN*****************************************/

















    /****************INDEX, WEDDING, PARTY , EVENTS , MESSAGE, STORE ********************/

    .buttons-wrapper button{
      padding: 10px 34px;
      border-radius: {if="$customstyle.desborderradiusbutton != ''"}{$customstyle.desborderradiusbutton}px{else}20px{/if};
      font-family: {if="$customstyle.desfontfamily1 != ''"}'{$customstyle.desfontfamily1}'{else}'Norican'{/if};

      {if="$customstyle.inbgcolorbutton == '0'"}
      background-color: transparent;
      color: {if="$customstyle.descolor2 != ''"}#{$customstyle.descolor2}{else}#DD716F{/if};
      border: 1px solid {if="$customstyle.descolor2 != ''"}#{$customstyle.descolor2}{else}#DD716F{/if};
      {else}
      background-color: {if="$customstyle.descolor2 != ''"}#{$customstyle.descolor2}{else}#DD716F{/if};;
      color: #FFFFFF;
      border: none;
      {/if}
    }
    /****************INDEX, WEDDING, PARTY , EVENTS , MESSAGE, STORE ********************/















    /********************************STORE 2*****************************************/
    .card-add-cart button{
        font-family: 'OpenSans'!important;
        box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.16), 0 0 12px 0 rgba(0, 0, 0, 0.12);
        border: 0;
        border-radius: 12px;
        padding: 10px 34px;
        color: #fff;
        background-color: {if="$customstyle.descolor2 != ''"}#{$customstyle.descolor2}{else}#333333{/if};
    }
    .card-add-cart button:hover{
        color: #fff;
        background-color: {if="$customstyle.descolor2 != ''"}#{$customstyle.descolor2}DD{else}#333333{/if};
    }
    .card-add-continue button{
        font-family: 'OpenSans'!important;
        box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.16), 0 0 12px 0 rgba(0, 0, 0, 0.12);
        background: #e6e6e6;
        border: 0;
        border-radius: 12px;
        padding: 10px 34px;
        font-size: 0.9rem;
        color: {if="$customstyle.descolor2 != ''"}#{$customstyle.descolor2}{else}#333333{/if};
    }
    .card-add-continue button:hover{
      background: #e1e1e1;
      color: {if="$customstyle.descolor2 != ''"}#{$customstyle.descolor2}{else}#333333{/if};
      
    }
    /********************************STORE 2*****************************************/






    
</style>

{if="!$validate"}
<section class="domain">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="alert alert-info alert-domain" role="alert">
                    <h1>Mural de Mensagens Desabilitado</h1>
                </div><!--alert-->
            </div><!--col-->
        </div><!--row-->
    </div>
</section>

{elseif="$user.inplancontext == 0"}
<section class="domain">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="alert alert-info alert-domain" role="alert">
                    <h1>Para liberar as funcionalidades do Mural é necessário adquirir um plano</h1>
                </div><!--alert-->
            </div><!--col-->
        </div><!--row-->
    </div>
</section>

{else}






<section class="domain">

    <div class="container-fluid">

        
            
            



        <div class="section-header row">
            
            <div class="col-md-9 col-12">


                <div class="section-title">
                        

                    <a href="/{$user.desdomain}/mural-mensagens">
                        
                        <h3>
                            Mural de Mensagens
                        </h3>
                        
                    </a>

                    <hr>


                </div><!--section-title-->

                     
               
            </div><!--col-->

            <div class="col-md-3 col-12">
                
                <div class="buttons-wrapper">
                    <a href="/{$user.desdomain}/mural-mensagens/enviar" class="btn btn-default"><button>Enviar Mensagem</button></a>
                </div>

            </div>
        
        </div><!--row-->




        {if="$success != ''"}
        <div class="row">
            <div class="col-12">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {$success}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div> 
        </div>  
        {/if}


        {if="$error != ''"}
        <div class="row">
            <div class="col-12">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {$error}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div><!--alert-->
            </div><!--col-->
        </div><!--row--> 
        {/if} 
    


               


        {if="$nrtotal == 0"}

        <div class="row">
            <div class="col-12">
                <div class="alert alert-info alert-domain" role="alert">
                    <h1>Ainda não há Mensagens no Mural</h1>
                </div><!--alert-->
            </div><!--col-->
        </div><!--row-->

               


        {else}

        {loop="$message"}


        <div class="row">

            <div class="col-12">


                <div class="card-wrapper">


                    <div class="card3">
                        

                       
                            









                        <div class="body-row row">

                            <div class="col-12">
                                
                                <textarea readonly="readonly" class="description-area">{$value.desdescription}</textarea>

                            </div>

                        </div><!--big-body-row-->










                        <div class="body-footer row">
                    


                            <div class="col-md-6 col-12 inside-row">



                                <h4>
                                    {$value.desmessage}
                                </h4>


                                <hr>

                                <div class="card-label">

                                    <h6>Enviado por</h6>

                                </div><!--card-label-->

                            </div><!--col-->






                            <div class="col-md-6 col-12 inside-row">
                                
                                <h4>
                                    {function="formatDate($value.dtregister)"}
                                </h4>
                                <hr>

                                <div class="card-label">

                                    <h6>Data</h6>

                                </div><!--card-label-->

                            </div><!--col-->






                        </div><!--row-->



                                              
                        
                    </div><!--card-->

                </div><!--wrapper-->    

            </div><!--col-->
    
        </div><!--row-->


        {/loop}

        {/if} 


                

            


        




        <div class="row justify-content-center">
                
            <div class="col-6 centralizer">

                <div class="pagination">
                    
                    <ul>
                        {loop="$pages"}
                            <li><a href="{$value.href}">{$value.text}</a></li>                             
                        {/loop}
                    </ul>

                </div>

            </div><!--col-->

        </div><!--row-->






    </div><!--container-->

</section>
{/if}









