<footer id="template5" class="text-center">

    <div class="container-fluid">

        <div id="footer-first-row" class="row">



            <div class="col-md-4 footer-column">


                <div class="footer-title caption">
                    <a href='/template/{function="getTemplate()"}'><h3>{function="getTemplateNames()"}</h3></a>
                </div>

                <div class="caption">

                    &nbsp;

                </div><!--caption-->


                
                

            </div><!--col-lg-6-->





        





            <div class="col-md-4 footer-column">


                <div class="caption">

                    <h2>Páginas</h2>

                    <a href='/template/{function="getTemplate()"}' class="list-group-item list-group-item-action">Home</a>

                    <a href='/template/{function="getTemplate()"}/cerimonia' class="list-group-item list-group-item-action">Cerimônia</a>

                    <a href='/template/{function="getTemplate()"}/festa' class="list-group-item list-group-item-action">Festa</a>


                    <a href='/template/{function="getTemplate()"}/padrinhos-madrinhas' class="list-group-item list-group-item-action">Padrinhos e Madrinhas</a>


                    <a href='/template/{function="getTemplate()"}/rsvp' class="list-group-item list-group-item-action">RSVP</a>


                    <a href='/template/{function="getTemplate()"}/mural-mensagens' class="list-group-item list-group-item-action">Mensagens</a>


                    <a href='/template/{function="getTemplate()"}/loja' class="list-group-item list-group-item-action">Loja</a>

                    

                    <a href='/template/{function="getTemplate()"}/eventos' class="list-group-item list-group-item-action">Eventos</a>
                    
                    

                    <a href='/template/{function="getTemplate()"}/album' class="list-group-item list-group-item-action">Album</a>
                    
                    

                    <a href='/template/{function="getTemplate()"}/videos' class="list-group-item list-group-item-action">Vídeos</a>  

                     

                    <a href='/template/{function="getTemplate()"}/fornecedores' class="list-group-item list-group-item-action">Fornecedores</a> 
                    
                      

                    <a href='/template/{function="getTemplate()"}/listas-de-fora' class="list-group-item list-group-item-action">Listas de Fora</a>

                    <a href='/modelos-templates' class="list-group-item list-group-item-action"><i class="fa fa-sign-out"></i> Voltar para o Bem Casei</a>

                    <a data-toggle="modal" data-target="#ModalTemplate1" class="list-group-item list-group-item-action pointer"><i class="fa fa-eye"></i> Ver Outro Template</a>
                    

                </div><!--caption-->                


            </div><!--col-md-3-->







            <div class="col-md-4 footer-column socials">

                


                    <div class="row">
                     
                        <div class="col-12 caption">

                            <h2>Redes Sociais do Casal</h2>

                            <!-- <div class="col-xs-4 text-center"> <a href="#"><img src="<?php echo DIR_RESOURCES; ?>/images/twitter64.png" alt="Placeholder image" width="86" height="86" class="img-responsive"></a></div> -->


                            <ul class="list-socials list-unstyled list-group list-group-horizontal">

                                <li>
                                    <div class="social-icon-border"><i class="fa fa-facebook"></i></div>
                                </li>


                                <li>
                                    <div class="social-icon-border"><i class="fa fa-instagram"></i></div>
                                </li>

                                <li>
                                    <div class="social-icon-border"><i class="fa fa-youtube"></i></div>
                                </li>


                                <li>
                                    <div class="social-icon-border"><i class="fa fa-twitter"></i></div>
                                </li>

                            </ul>


                        </div><!--col-->

                    </div><!--row-->


                    <div class="row">
                     
                        <div class="col-12 caption">

                            <h2>Redes Sociais de {function="getTemplateNames(1)"}</h2>

                            <!-- <div class="col-xs-4 text-center"> <a href="#"><img src="<?php echo DIR_RESOURCES; ?>/images/twitter64.png" alt="Placeholder image" width="86" height="86" class="img-responsive"></div></div> -->


                            <ul class="list-socials list-unstyled list-group list-group-horizontal">

                                

                                <li>
                                    <div class="social-icon-border"><i class="fa fa-instagram"></i></div>
                                </li>

                                
                            </ul>


                        </div><!--col-->

                    </div><!--row-->







                    <div class="row">
                     
                        <div class="col-12 caption">

                            <h2>Redes Sociais de {function="getTemplateNames(2)"}</h2>

                            <!-- <div class="col-xs-4 text-center"> <a href="#"><img src="<?php echo DIR_RESOURCES; ?>/images/twitter64.png" alt="Placeholder image" width="86" height="86" class="img-responsive"></div></div> -->


                            <ul class="list-socials list-unstyled list-group list-group-horizontal">

                                <li>
                                    <div class="social-icon-border"><i class="fa fa-facebook"></i></div>
                                </li>


                                <li>
                                    <div class="social-icon-border"><i class="fa fa-youtube"></i></div>
                                </li>


                                <li>
                                    <div class="social-icon-border"><i class="fa fa-twitter"></i></div>
                                </li>

                            </ul>


                        </div><!--col-->

                    </div><!--row-->




            </div><!--col-md-3-->




    </div><!--row-->


















    <div class="row centralizer">

        <div class="col-md-12 bottom-footer">

            <div class="caption">

                <p>Bem Casei © {function="getYear()"} - CNPJ 34.700.513/0001-27<br><a target="_blank" href="/termos-uso">Termos de Uso</a> | <a target="_blank" href="/termos-lista">Termos da Lista de Presentes Virtuais</a> | <a target="_blank" href="/politica-privacidade">Política de Privacidade</a> | <a target="_blank" href="/central-ajuda">Dúvidas e Suporte</a></p>

            <h6><i class="fa fa-lock"></i>&nbsp;&nbsp;Site Protegido</h6>

            </div><!--caption-->

        </div><!--col-xs-12-->

    </div><!--row-->










    <!-- Modal -->
    <div class="modal fade" id="ModalTemplate1" tabindex="-1" role="dialog" aria-labelledby="TituloCentralizado" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="TituloCentralizado">Escolha seu Template</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            

















            <div class="row">
                
                <div class="col-md-6 col-12">



                    <div class="thumb row2">
                        


                        <a href="/template/1">
                            <img id="thumb1" data-idtemplate="1" {if="getTemplate() == '1'"}class="checked"{/if} src="/res/images/template/thumb/tpl1.jpg">
                        </a>

                        <span>Rainbow</span>


                    </div><!--thumb row2-->


                    
                        

                </div><!--col-md-6-->




                <div class="col-md-6 col-12">




                    <div class="thumb row2">


                        <a href="/template/2">
                            <img id="thumb2" data-idtemplate="2" {if="getTemplate() == '2'"}class="checked"{/if} src="/res/images/template/thumb/tpl2.jpg">
                        </a>

                        
                        <span>Freedom</span>

                    </div><!--thumb row2-->

                        

                </div><!--col-md-6-->



            </div><!--row-->































            <div class="row">
                
                <div class="col-md-6 col-12">

                    

                    <div class="thumb row2">


                        <a href="/template/3">
                            <img id="thumb3" data-idtemplate="3" {if="getTemplate() == '3'"}class="checked"{/if} src="/res/images/template/thumb/tpl3.jpg">
                        </a>
                        
                        <span>Gold</span>
                    </div><!--thumb row2-->





                        

                </div><!--col-md-6-->




                <div class="col-md-6 col-12">




                    <div class="thumb row2">


                        <a href="/template/4">
                            <img id="thumb4" data-idtemplate="4" {if="getTemplate() == '4'"}class="checked"{/if} src="/res/images/template/thumb/tpl4.jpg">
                        </a>
                        
                        <span>Hot</span>

                    </div><!--thumb row2-->

                        

                </div><!--col-md-6-->



            </div><!--row-->






















            <div class="row">
                
                <div class="col-md-6 col-12">



                    <div class="thumb row2">
                            
                            <a href="/template/5">
                                <img id="thumb5" data-idtemplate="5" {if="getTemplate() == '5'"}class="checked"{/if} src="/res/images/template/thumb/tpl5.jpg">
                            </a>

                            <span>Lovers</span>

                        </div><!--thumb row2-->

                            

                    </div><!--col-md-6-->




                <div class="col-md-6 col-12">




                    &nbsp;

                        

                </div><!--col-md-6-->



            </div><!--row-->
















            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
        </div>
    </div>
    <!--End Modal-->
















    <!-- Modal -->
    <div class="modal fade" id="ExemploModalCentralizado" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="TituloModalCentralizado">Adquira seu plano já!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Para ter acesso a estas e outras funcionalidades, é preciso adquirir um plano
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            <a href="/dashboard/meu-plano" role="button" class="btn btn-secondary popover-test" title="Título do popover" data-content="O conteúdo do popover é definido aqui.">Comprar já!</a>
          </div>
        </div>
      </div>
    </div>







    </div><!--container-->

</footer>
   
    <script src="/res/js/jquery-3.4.1.min.js"></script>
    <script src="/res/js/jquery-ui.min.js"></script>
    <script src="/res/js/jquery.easing.1.3.min.js"></script>

    <script src="/res/js/jscolor.js"></script>
    <script src="/res/js/popper.min.js"></script>

    <script src="/res/js/bootstrap.bundle.min.js"></script>
    <script src="/res/js/bootstrap.min.js"></script>
    
    <script src="/res/js/main.js"></script>
    

  </body>
</html>