#res/admin/yarn.lock
#uploads/gifts/
uploads/albuns/*
!uploads/albuns/0.jpg
!uploads/albuns/.htaccess


uploads/banners/*
!uploads/banners/0.jpg
!uploads/banners/.htaccess



uploads/bestfriends/*
!uploads/bestfriends/0.jpg
!uploads/bestfriends/.htaccess


uploads/consorts/*
!uploads/consorts/0.jpg
!uploads/consorts/.htaccess


uploads/events/*
!uploads/events/0.jpg
!uploads/events/.htaccess


uploads/images/*
!uploads/images/0.jpg
!uploads/images/.htaccess


uploads/parties/*
!uploads/parties/0.jpg
!uploads/parties/.htaccess


uploads/products/*
!uploads/products/0.jpg
!uploads/products/.htaccess


uploads/weddings/*
!uploads/weddings/0.jpg
!uploads/weddings/.htaccess
