<section id="site-404">
    
    <div class="container">
        
        <div class="row centralizer">
            

        	{if="$error != ''"}
            <div class="col-md-10 col-12 text-center">
                    
                <h3>{$error}</h3>

                
                <img alt="Olá! Estamos fazendo uma manutenção momentânea no nosso sistema" src="/res/images/banner/404.png">  

            </div>
            {else}
            <div class="col-md-10 col-12 text-center">
                    
                <h3>Olá! Estamos fazendo uma manutenção momentânea no nosso sistema :(</h3>

                <h5>Por favor, tente novamente mais tarde!</h5>
                
                <img alt="Olá! Estamos fazendo uma manutenção momentânea no nosso sistema" src="/res/images/banner/404.png">  

            </div>
            {/if}


         
        


        </div>

                    

    </div><!--container-->


</section>

