<div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button type="button" class="btn" data-toggle="collapse" data-target="#collapseOne">Boleto</button>                                 
                </h2>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <p>


                        <a href="/dashboard/meu-casamento" class="list-group-item list-group-item-action">Meu Casamento</a>
    
                        <a href="/dashboard/meu-amor" class="list-group-item list-group-item-action">Meu Amor</a>
                        
                        <a href="/dashboard/festa-de-casamento" class="list-group-item list-group-item-action">Festa</a>
                        

                        
                        <a href="/dashboard/padrinhos-madrinhas" class="list-group-item list-group-item-action">Padrinhos e 
                        Madrinhas</a>
                        


                    </p>
                </div>
            </div>
        </div>
        
   

    </div><!--accordion-->
