<section id="dash-forgot">
    
    <div class="container">
        
        <div class="row">
            
            <div class="col-md-12 dash-forgot-wrapper">
                



                <div class="dash-forgot-box">
                    
                  


                    <div class="dash-forgot-form">
                        
                        <form action="/forgot" method="post">

                        

                        <p>
                            
                            <div class="dash-forgot-logo">
                        
                                <img src="/res/images/logo/logo-main.png">

                            </div>


                        </p>


                        <div class="alert alert-success">

                            <h2 class="alert-heading">E-mail enviado!</h2>
                            
                            <p>Verifique seu e-mail e siga as instruções para recuperar a sua senha</p>
                        
                        </div>

                        

                        <div class="clear"></div>

                    </form> 

                    </div>




                </div>





            </div><!--col-->

        </div><!--row-->

    </div><!--container-->


</section>

