<section id="gifts-list" class="site">


	<div class="container text-center">


		<div class="row centralizer">


			<div class="col-md-10 col-12">





				<div class="bottom2">

					<h1>Lista de Presentes</h1>

				</div>

				<div class="bottom2 blue">

					<h2>Sua Lista de Casamento convertida em dinheiro!</h2>

				</div>



				<div class="bottom2">
					<p>A Lista de Presentes do Bem Casei é super prática, moderna e elegante:</p>
				</div>


				<div class="bottom3 centralizer">

					<ul> 

						<li><i class="fa fa-angle-right"></i>&nbsp; Personalize seus presentes</li> 

					    <li><i class="fa fa-angle-right"></i>&nbsp; Dezenas de itens pré-cadastrados</li> 

						<li><i class="fa fa-angle-right"></i>&nbsp; Painel Financeiro para acompanhar as transações</li>
						
						<li><i class="fa fa-angle-right"></i>&nbsp; Você decide quem arca com as tarifas: você ou o convidado</li>

					</ul>

				</div><!--gifts-section1-->



			</div><!--col-->

		</div><!--row-->





		






		<div class="row">


			<div class="col-md-12">



					<div class="table1 bottom2">

						<div class="bottom1">
							<strong>Simulação 1: Tarifa arcada pelo Casal:</strong>
						</div>


						<table>

							<thead>

								<tr> 

									<th><strong>Forma de pagamento</strong></th> 

									<th><strong>Valor do presente</strong></th> 

									<th><strong>Valor pago pelos convidados</strong></th> 

									<th><strong>Valor recebido pelos noivos</strong></th> 

								</tr>

							</thead> 

							<tbody> 

								<tr> 
								
									<td>Boleto Bancário e Cartão de Crédito à vista</td> 

									<td>R$ 100,00</td> 

									<td>R$ 100,00</td> 

									<td>R$ 95,01</td> 

								</tr>

							</tbody>

						</table>
					</div> 




					<div class="table1 bottom3">
						<div class="bottom1">
							<strong>Simulação 2: Tarifa arcada pelos Convidados:</strong> 
						</div>

						<table> 

							<thead> 

								<tr> 

									<th><strong>Forma de pagamento</strong></th>

									<th><strong>Valor do presente</strong></th> 

									<th><strong>Valor pago pelos convidados</strong></th> 

									<th><strong>Valor recebido pelos noivos</strong></th> 

								</tr> 

							</thead> 

							<tbody> 

								<tr> 

									<td>Boleto Bancário e Cartão de Crédito à vista</td> 

									<td>R$ 100,00</td> 

									<td>R$ 105,25</td> 

									<td>R$ 100,00</td> 


								</tr> 

							</tbody> 

						</table>
					</div>


			</div><!--col-->

		</div><!--row-->







		<div class="row bottom3">


			<div class="col-md-12">


				<div class="bottom2">
					
					<h3>Resgate dos Valores</h3>

				</div>


				<p>Os valores recebidos ficarão disponíveis em <span class="color1 weight1">15 dias</span>, no caso de pagamentos com Cartão, e <span class="color1 weight1">3 dias</span>, no caso de pagamentos em Boleto!</p>

				<p>Os saques são gratuitos e podem ser realizados quantas vezes o casal desejar.</p>

			</div><!--col-->

		</div><!--row-->






		<div class="row bottom2">


			<div class="col-md-12">

				
				<h3>Vantagens para o Casal</h3>


			</div><!--col-->

		</div><!--row-->






		<div class="row bottom3">



			<div class="col-md-6">


				<ul>

					<li><i class="fa fa-angle-right"></i>&nbsp; Transferências <span class="color1 weight1">gratuitas</span> pra sua conta bancária</li>

					<li><i class="fa fa-angle-right"></i>&nbsp; Mesmo que o presente seja parcelado você recebe o valor integralmente!</li>

									

				</ul> 


			</div><!--col-->





			<div class="col-md-6">

				<ul>

					<li><i class="fa fa-angle-right"></i>&nbsp; Um dos menores tempos de repasse para compras com cartão <span class="color1 weight1"><strong>(15 dias)</strong></span> e boleto bancário <span class="color1 weight1"><strong>(3 dias)</strong></span></li>

					

				</ul>


			</div><!--col-->




		</div><!--row-->

  


		






		<div class="row centralizer bottom3">


			<div class="col-md-8 col-10">


				<div class="gifts-title3 purple">

					<p>Segurança e Credibilidade especialmente desenvolvidas pelo Bem Casei, para fazer do seu casamento e da sua lua de mel um sucesso</p>


				</div><!--gifts-section1-->


			</div><!--col-->


		</div><!--row-->






		<div class="row bottom2">


			<div class="col-md-12">

				
				<h3>Vantagens para os Convidados</h3> 


			</div><!--col-->

		</div><!--row-->




		<div class="row bottom3">


			<div class="col-md-6"> 

				<ul class="gifts-list2">    

					<li><i class="fa fa-angle-right"></i>&nbsp; Várias bandeiras de cartão de crédito disponíveis</li>

					<li><i class="fa fa-angle-right"></i>&nbsp; Pagamento com Boleto Bancário</li>

					<li><i class="fa fa-angle-right"></i>&nbsp; Podem parcelar em até 6 vezes</li>

				</ul> 



			</div>






			<div class="col-md-6">

				<ul class="gifts-list2">

					<li><i class="fa fa-angle-right"></i>&nbsp; Compra em poucos cliques</li>

					<li><i class="fa fa-angle-right"></i>&nbsp; Segurança total, ambiente com páginas criptografadas</li>

					<li><i class="fa fa-angle-right"></i>&nbsp; Suporte total de nossa equipe para qualquer dúvida ou orientação</li>

				</ul>

			</div><!---->




		</div><!--row-->








		<div class="row">


			<div class="col-md-12">


				<div class="follow1 bottom2">
					
					<a href="/tarifas-condicoes"><h4>Ir Para Tarifas e Condições</h4></a>

				</div>

				
				<div class="follow2 bottom2">
					
					<a href="/criar-site"><h4>Criar Lista de Presentes</h4></a>

				</div>



			</div><!--col-->

		</div><!--row-->




	</div><!--container-->


</section>
