<!DOCTYPE html>
<html lang="pt-br">


<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{function="getSitePageConfig('metadescription')"}">
    {if="getSitePageConfig('noindex') == 1"}
    <meta name="robots" content="noindex">
    {/if}



    <meta property="og:title" content="{function="getSitePageConfig('pagetitle')"}">
    <meta property="og:description" content="{function="getSitePageConfig('metadescription')"}">
    <meta property="og:url" content='https://{function="getHttpHost()"}'>
    <meta property="og:site_name" content="Bem Casei">
    <meta property="og:type" content="website">
    <meta property="og:image"
        content='https://{function="getHttpHost()"}/res/images/logo/bem-casei-logo-square.jpg'>


    <title>{function="getSitePageConfig('pagetitle')"}</title>
    <link rel="stylesheet" type="text/css" href="/res/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/res/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="/res/css/site/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/res/css/site/stylesheet-mobile.css">
    <link rel="stylesheet" type="text/css" href="/res/css/site/print.css" media="print">

    <link rel="icon" type="image/png" href="/res/images/favicon/site/favicon.png" />



    <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "Service",
      "serviceType": "Software as a Service",
      "logo": "https://bemcasei.com.br/res/images/logo/bem-casei-logo-square.jpg",
      "termsOfService": "https://bemcasei.com.br/termos-uso",
      "category": "Service",
      "areaServed": {
        "@type": "Country",
        "name": "BR"
      },
      "audience": {
        "@type": "PeopleAudience",
        "geographicArea": {
          "@type": "Country",
          "name": "BR"
        }
      },
      "brand": {
        "@type": "Organization",
        "name": "Bem Casei Site de Casamento"
      },
      "provider": {
        "@type": "Organization",
        "name": "Bem Casei Site de Casamento"
      }
    }
    </script>


    <script src="https://www.google.com/recaptcha/api.js" async defer></script>


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-152061464-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-152061464-1');
    </script>


    
</head>



<body>


    <header>

        <div class="container-fluid">


            <div id="header-device">


                <div class="row centralizer">


                    <div class="col-2 text-center">



                        <div id="logo">


                            <a href="/"><img id="logotipo" src="/res/images/logo/logo-main.png" alt="Logotipo"></a>

                            <!--<img id="logotipo" src="/res/images/logo/logo-main.png" width="203" height="65" alt="Logotipo">-->

                        </div>


                    </div>
                    <!--col-md-->






                    <div class="col-10 text-center">


                        <div id="menu">
                            <ul>
                                <li><a href="/site-casamento">SITE DE CASAMENTO</a></li>
                                <li><a href="/lista-presentes">LISTA DE PRESENTES</a></li>
                                <li><a href="/planos">PLANOS</a></li>
                                <li><a href="/modelos-templates">TEMPLATES</a></li>
                                <!--<li><a href="https://blog.amarcasar.com/" target="_blank">BLOG</a></li> -->
                                <!--<li><a href="/buscar">BUSCAR CASAL</a></li>-->

                                <li><a href="/criar-site"><button id="nav-free">TESTE GRÁTIS</button></a></li>

                                <li><a href="/login"><button id="nav-login">LOGIN</button></a></li>
                            </ul>
                        </div>



                    </div>
                    <!--col-md-->


                </div>
                <!--row-->


            </div>
            <!--header-device-->



            <div id="header-mobile">

                <div class="row">



                    <div class="col-md-12">




                        <div id="menu-condensed">

                            <button id="btn-bars" type="button"><i class="fa fa-bars"></i></button>

                        </div>






                        <div id="menu-mobile">

                            <ul>
                                <li><a href="/">INICIO</a></li>
                                <li><a href="/site-casamento">SITE DE CASAMENTO</a></li>
                                <li><a href="/lista-presentes">LISTA DE PRESENTES</a></li>
                                <li><a href="/planos">PLANOS</a></li>
                                <li><a href="/modelos-templates">TEMPLATES</a></li>
                                <!--<li><a href="https://blog.amarcasar.com/" target="_blank">BLOG</a></li>  -->
                                <!--<li><a href="/buscar">BUSCAR CASAL</a></li>-->

                                <li><a href="/criar-site"><button id="nav-free">TESTE GRÁTIS</button></a></li>

                                <li><a href="/login"><button id="nav-login">LOGIN</button></a></li>
                            </ul>

                            <div class="bar-close">
                                <button type="button" class="btn btn-close"><i class="fa fa-close"></i></button>
                            </div>

                        </div>


                        <div id="menu-mobile-mask"></div>



                    </div>
                    <!--col-->



                </div>
                <!--row-->

            </div>
            <!--header-mobile-->






        </div>
        <!--container-fluid-->


    </header>