<section id="banner">

    <div class="container">


        <div class="row centralizer">


            <div class="col-md-10">

                <div class="text-center">

                    <div class="bottom1">
                        <h1>Bem Casei Site de Casamento</h1>

                    </div>
                    <!--inner-text-introduction-->

                    <div class="bottom2">
                        <h3>Com um site desses, não vai ter como não casar.</h3>
                    </div>

                    <a href="/criar-site"><button type="button" class="button1">Criar meu Site 10 Dias Grátis</button></a>

                </div>
                <!--textIntroduction_-->

            </div>
            <!--col-md-12-->

        </div>

    </div>
    <!--container-->


</section>















<section id="site-features" class="site">

    <div class="container">
        
        <div class="row bottom2 centralizer">
     
            <div class="col-md-6 text-center">
                
                <div class="bottom2">
                    <h2>
                        O QUE É O BEM CASEI?
                    </h2>
                </div>
                
                               
                

            </div><!--col-->
            
        </div><!--row-->













        <div class="row centralizer">
     
            <div class="col-md-8 text-center">
                
                <p>O Bem Casei é uma plataforma onde você pode criar o seu site de casamento de uma forma simples e rápida!</p>

             
                               
                <p>É uma ferramenta super útil para quem está planejando seu casamento ou já está prestes a se casar!</p>

            </div><!--col-->
            
        </div><!--row-->




    </div><!--container-->

</section>



















<section id="section2">

    <div class="container centralizer text-center">


        <div class="col-md-10 col-12">
            

            <div class="row bottom2 centralizer">
     
                <div class="col-md-12 text-center">
                    
                    <div class="bottom2">
                        <h2>
                            COMO O BEM CASEI FUNCIONA?
                        </h2>
                    </div>
                    
                                   
                    

                </div><!--col-->
                
            </div><!--row-->




            
            <div class="row">



                <div class="col-md-6 col-12 text-center centralizer bottom2">

                    <div class="box1">

                        <!--<div class="bottom2">
                            <i class="fa fa-play"></i>
                        </div>

                        <h3>Lindas Galerias para Postar Suas Fotos e Vídeos</h3>-->



                        <div class="number1 bottom1">
                            <h3>1.</h3>
                        </div>

                        <h3>Faça Login com seu E-mail e Senha</h3>

                    </div>

                </div>



                <div class="col-md-6 col-12 text-center centralizer bottom2">


                    <div class="box1">

                        <!--
                        <div class="bottom2">
                            <i class="fa fa-desktop"></i>
                        </div>

                        <h3>Sessão de Coaching Por Video-Conferência</h3>
                    -->





                        <div class="number1 bottom1">
                            <h3>2.</h3>
                        </div>

                        <h3>Escolha um domínio para o seu site</h3>

                    </div>


                </div>




                





            </div>













            <div class="row">



                




                <div class="col-md-6 col-12 text-center centralizer bottom2">

                    <div class="box1">

                        <!--
                        <div class="bottom2">
                            <i class="fa fa-calendar"></i>
                        </div>

                        <h3>Acesso por 12 Meses (+6 Meses de Bônus)</h3>
                    -->


                        <div class="number1 bottom1">
                            <h3>3.</h3>
                        </div>

                        <h3>Personalize seu site com informações do casamento, fotos, vídeos, crie uma lista de presentes e muito mais!</h3>

                    </div>

                </div>








                



                <!--
                <div class="col-md-6 col-12 text-center centralizer bottom2">


                    <div class="box1">

                        <div class="bottom2">
                            <i class="fa fa-signal"></i>
                        </div>

                        <h3>Plataforma 100% On-Line</h3>

                    </div>


                </div>
            -->




                <div class="col-md-6 col-12 text-center centralizer bottom2">

                    <div class="box1">

                        <!--
                        <div class="bottom2">
                            <i class="fa fa-signal"></i>
                        </div>

                        <h3>Funciona no celular, tablet e notebook</h3>
                    -->




                        <div class="number1 bottom1">
                            <h3>4.</h3>
                        </div>

                        <h3>Envie o domínio que você escolheu para seus amigos e parentes</h3>

                    </div>

                </div>








            </div>























            <div class="row centralizer">



                




                <div class="col-md-6 col-12 text-center centralizer bottom2">

                    <div class="box1">

                        


                        <div class="number1 bottom1">
                            <h3>5.</h3>
                        </div>

                        <h3>Eles vão acessar seu site de casamento e se encantar com tudo que você postou!</h3>

                    </div>

                </div>









                








            </div>



        </div>












    </div>
    <!--container-->
    <!-- # End / Contet Text #  -->
</section>














<section id="site-features" class="site">

    <div class="container">
        
        <div class="row bottom2 centralizer">
     
            <div class="col-md-8 col-12 text-center">
                
                <div class="bottom3">
                    <h2>
                        O QUE TEM NO BEM CASEI?
                    </h2>
                </div>



                <div class="bottom1">
                    <p>O Bem Casei é super completo e tem mais de 20 funcionalidades e serviços!</p>
                </div>
                
                               
                

            </div><!--col-->
            
        </div><!--row-->









        <div class="row">
            
            <div class="col-md-6">

                <div class="bottom3">

                    <ul>


                        <li class="table-simulate grey"><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i>&nbsp; Galeria Pra Você Postar Suas Fotos</li>

                        
                        
                        <li><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i>&nbsp; Lista de Presentes Convertida em Dinheiro</li>

                        <li class="table-simulate grey"><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i>&nbsp; Galeria Pra Você Colocar Seus Vídeos do YouTube</li>

                        <li><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i>&nbsp; Divulgue detalhes do Seu Casamento (Data, Local, Horário, Trajes etc.)</li>


                        <li class="table-simulate grey"><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i>&nbsp; Templates Lindos e Modernos</li>

                        <li><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i>&nbsp; Funciona no celular, tablet e notebook</li> 
                        

                        <li class="table-simulate grey"><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i>&nbsp; Habilitar e Desabilitar Páginas</li>

                        

                    </ul>

                </div><!--gifts-section1-->


            </div>

            


            <div class="col-md-6">

                <div class="bottom3">

                    <ul> 
                        

                        <li class="table-simulate grey"><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i>&nbsp; Eventos (Chá Bar, Chá da Casa Nova, Ensaios Pra Valsa, entre outros)</li> 
                        <li><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i>&nbsp; Traça Rotas para os Convidados com Google Maps URL</li>
    
                        <li class="table-simulate grey"><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i>&nbsp; Contagem Regressiva pra Data do Casamento</li>
                        
                        
                        <li><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i>&nbsp; Mural de Mensagens dos Amigos e Família</li>
                        <li class="table-simulate grey"><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i>&nbsp; Coloque Suas Redes Sociais no Rodapé</li>
                        <li><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i>&nbsp; Página de Padrinhos e Madrinhas</li>
                        <li class="table-simulate grey"><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i>&nbsp; Fornecedores e Listas de Fora</li>
    
                    </ul>
    
                </div><!--col-->

            </div><!--col-->


          
       
               
            
        </div><!--row-->






    </div><!--container-->

</section>











<section id="site-features" class="site">

    <div class="container">
        
        <div class="row bottom2 centralizer">
     
            <div class="col-md-10 text-center">
                
                <div class="bottom2">
                    <h2>
                        PRETENDO ADIAR MEU CASAMENTO POR CAUSA DA QUARENTENA, POSSO USAR O BEM CASEI?
                    </h2>
                </div>
                
                               
                

            </div><!--col-->
            
        </div><!--row-->













        <div class="row centralizer">
     
            <div class="col-md-8 text-center">
                
                <p>Sim, pode sim, pois você pode postar as fotos do seu casamento civil ou de uma celebração íntima na Galeria de Fotos!</p>


                <p>Se você fez vídeos e postou no YouTube pode incorporá-los na Galeria de Vídeos para seus amigos e parentes assistirem de forma fácil e prática!</p>

             
                               
                <p>Além disso, você pode utilizar a Lista de Presentes Convertida em Dinheiro para ganhar um dinheirinho e organizar melhor seu casamento pra quando a Quarentena acabar!</p>

                <p>Tudo de uma forma que priorize o isolamento social e a segurança e saúde dos seus entes queridos!</p>

            </div><!--col-->
            
        </div><!--row-->




    </div><!--container-->

</section>







<section id="create-list">

    <div class="container">

        <div class="row">

            <div class="col-md-6 text-center">

            

                <div class="row bottom1 centralizer">
                    <p>
                        Crie uma Lista e receba seus presentes em <span style="color:#ec656d;font-weight:500;">dinheiro</span> para usar como quiser!
                    </p>

                </div>

                <div class="row bottom3 centralizer">
    
                    <p>Praticidade total para ajudar a tornar seu casamento um sucesso!</p>
                </div>


                <div class="row bottom2">

                    <div class="col-md-12">

                        <a href="/lista-presentes"><button type="button" class="button1">Lista de Presentes</button></a>

                    </div>

                </div>

            </div>
            <!--col-->


            <div class="col-md-6 text-center">


                <div class="row bottom3 centralizer">

                    <p><i class="fa fa-arrow-right"></i></i>&nbsp; Tarifa Total de <span style="color:#ec656d;font-weight:500;">4,99%</span></p>
                    
                    
                    <p><i class="fa fa-arrow-right"></i></i>&nbsp; Transferências <span style="color:#ec656d;font-weight:500;">GRATUITAS</span> para Conta Bancária</p>

                    

                    <p><i class="fa fa-arrow-right"></i></i>&nbsp; Escolha Quem Arca com as Tarifas: Você ou o Convidado</p>

                </div>


                

                <div class="row bottom2">

                    <div class="col-md-12">

                        <a href="/planos"><button type="button" class="button1">Ver Planos</button></a>

                    </div>

                </div>

            </div>
            <!--col-->

        </div>
        <!--row-->

    </div>
    <!--container-->

</section>










<section id="advantages">

    <div class="container">

        <div class="row bottom3">

            <div class="col-md-12 text-center">

                <h2>VANTAGENS</h2>

            </div>
            <!--col-lg-12-->

        </div>
        <!--row-->

        <div class="row">

            <div class="col-lg-8 col-12">

                <h3>TEMPLATES EXCLUSIVOS PARA</h3>

                <h3>QUEM QUER BEM CASAR!</h3>

                <p>&nbsp;</p>

                <p>Seu site de casamento merece um design exclusivo Bem Casei. </p>

                <p>Escolha seu template e personalize do seu jeito! </p>

                <!--<p>&nbsp;</p>

                <div class="template-banner-image">
                    <a href="/modelos-templates">
                        <img src="/res/images/banner-templates.png" alt="Miniaturas dos Banners">
                    </a>
                </div>-->

                <p>&nbsp;</p>

                <a href="/modelos-templates"><button type="button" class="btn btn-md btn-advantage btn-advantage1">
                        VER TEMPLATES
                    </button></a>
                
                <a href="/site-casamento"><button type="button" class="btn btn-md btn-advantage btn-advantage2">
                        VER FUNCIONALIDADES
                    </button></a>
                

            </div>
            <!--col-lg-8-->

            <div class="col-lg-4 col-12">

                <div id="box-price">

                    <div id="box-price-logo">
                        <img src="/res/images/logo/logo-white.png">
                    </div>


                    <ul id="advantages-features">

                        <li id="box-header">Tenha acesso a um sistema on-line que irá lhe auxiliar a promover seu
                            casamento</li>

                        <li><i class="fa fa-check"></i>&nbsp;&nbsp;Receba Presentes em Dinheiro</li>

                        <li><i class="fa fa-check"></i>&nbsp;&nbsp;Saques Gratuitos</li>

                        <li><i class="fa fa-check"></i>&nbsp;&nbsp;Templates Modernos</li>

                        <li><i class="fa fa-check"></i>&nbsp;&nbsp;Confirmação de Presença On-line</li>

                        

                        

                        <li>&nbsp;&nbsp;<b>E muito mais!</b></li>

                    </ul>


                    <div id="box-footer">

                        <a href="/planos"><strong>COMECE JÁ</strong></a>

                    </div>
                    <!--active-->

                </div>
                <!--price_block-->

            </div>
            <!--col-md-4-->

        </div>
        <!--row-->

</section>








<section id="confirmation">

    <div class="container text-center">





        <div class="row">

            <div class="col-md-6 col-12 text-center centralizer">

                <h2>Olá, você é Convidado?</h2>

            </div>

            <div class="col-md-6 col-12 text-center">


                <div class="row bottom2">

                    <div class="col-12">

                        <a href="/buscar"><button type="button" class="button1">

                                Presenteie o Casal

                            </button></a>
                    </div>
                </div>


                <div class="row bottom2">

                    <div class="col-12">

                        <h3>ou</h3>
                    </div>
                </div>


                <div class="row bottom2">

                    <div class="col-12">

                        <a href="/buscar"><button type="button" class="button1">

                                Confirme sua Presença

                            </button></a>
                    </div>
                </div>


            </div>
            <!--col-md-6-->

        </div>
        <!--row-->

    </div>
    <!--container-->
    <!-- # End / Contet Text #  -->
</section>