
<section id="checkout">
    
    <div class="container-fluid">
        


    	<div class="checkout-accounts-rows row">
    			
    		<div class="col-md-12">
    			
    			<div class="payment-warn">
    				
    				<h2>{$user.desperson}, escolha sua forma de Pagamento<h2>

    			</div>

    		</div><!--col-->

    	</div><!--row-->



    	<div id="payment-option-row" class="checkout-accounts-rows row">
    			
    		<div class="payment-option-row col-md-6">
    			   				
    				<a id="block1" href="#">
						<div id="round-block1" class="roundblock">
						</div>
                    </a><br>
                    <p id="paragraph-block1">
                        Cartão de Crédito
                    </p>

    		</div><!--col-->

    		<div class="payment-option-row col-md-6">
    			
    			<a id="block2" href="#">
					<div id="round-block2" class="roundblock">
					</div>
                </a><br>
                <p id="paragraph-block2">
                    Gerar Boleto
                </p>	

    		</div><!--col-->

    	</div><!--row-->



    </div><!--container-->
    

</section>
