<section id="register" class="site">

    <div class="container">


        <div class="row">


            <div class="col-md-6 text-center">



                <form action="/criar-site" method="post">

                    <h3><a href="/"><img alt="Logo Bem Casei" src="/res/images/logo/logo-main.png" width="200"
                                class="media-object"></a></h3>

                    <p class="center-text font-18 font-type-color-3">Crie o seu site, você vai amar!</p>

                    <p id="phrase2" class="center-text font-14"></p>

                    {if="$errorRegister != ''"}
                    <div class="alert alert-danger">
                        {$errorRegister}
                    </div>
                    {/if}

                    <div class="form-row input2 bottom1">
                        <input type="text" id="name1" name="name" class="input-text" value="{$registerValues.name}"
                            placeholder="Nome Completo">
                    </div>


                    <div class="form-row input2 bottom1">
                        <input type="email" id="email1" name="email" class="input-text" value="{$registerValues.email}"
                            placeholder="E-mail">
                    </div>


                    <div class="form-row input2 bottom1">
                        <input type="password" id="password" name="password" class="input-text" placeholder="Senha">
                    </div>

                    <div class="form-row input2 bottom1 form-row-last">
                        <input type="password" id="confirmation-register" name="confirmation-register"
                            class="input-text" placeholder="Confirmar Senha">
                    </div>


                    <div class="form-row input2 bottom1">
                        <input type="hidden" name="plano" class="input-text" value="{$inplancode}">
                    </div>

                    <div class="g-recaptcha" data-sitekey="6LeBVMIUAAAAAAyDl6xPCkFSSQlDL2QXpkbRnWpM"></div>


                    <div class="form-row top3 bottom1">

                        <input type="submit" id="site-register" name="site-register" class="button3 width100"
                            value="Criar Conta">
                        <div class="load" id="load1"></div>
                    </div>

                    <p class="center-text font-12">Ao se registrar, você aceita os nossos <a style="color:#03a9f4"
                            href="/termos-uso" target="_blank">Termos de Uso</a>.</p>

                    <div class="clear"></div>

                </form>

            </div>
            <!--col-md-12-->






            <div class="col-md-6">

                <div class="register-image">
                    <img alt="Banner" src="/res/images/banner/banner5.jpg">
                </div>

            </div>

        </div>

    </div>
    <!--container-->


</section>