
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Páginas
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a href="/{function="getDesdomain()"}" class="list-group-item list-group-item-action">Home</a>

        {if="setTemplateMenu('wedding')"}<a href="/{function="getDesdomain()"}/cerimonia" class="list-group-item list-group-item-action">Cerimônia</a>{/if}

        {if="setTemplateMenu('party')"}<a href="/{function="getDesdomain()"}/festa" class="list-group-item list-group-item-action">Festa</a>{/if}



        {if="setTemplateMenu('bestfriend')"}<a href="/{function="getDesdomain()"}/padrinhos-madrinhas" class="list-group-item list-group-item-action">Padrinhos e Madrinhas</a>{/if}

        


        {if="setTemplateMenu('rsvp')"}<a href="/{function="getDesdomain()"}/rsvp" class="list-group-item list-group-item-action">RSVP</a>{/if}

        
    

        {if="setTemplateMenu('message')"}<a href="/{function="getDesdomain()"}/mural-mensagens" class="list-group-item list-group-item-action">Mensagens</a>{/if}

        

        {if="setTemplateMenu('store')"}<a href="/{function="getDesdomain()"}/loja" class="list-group-item list-group-item-action">Loja</a>{/if}

        

        {if="setTemplateMenu('event')"}<a href="/{function="getDesdomain()"}/eventos" class="list-group-item list-group-item-action">Eventos</a>{/if}
        
        

        {if="setTemplateMenu('album')"}<a href="/{function="getDesdomain()"}/album" class="list-group-item list-group-item-action">Album</a>{/if}
        
        

        {if="setTemplateMenu('video')"}<a href="/{function="getDesdomain()"}/videos" class="list-group-item list-group-item-action">Vídeos</a>  {/if}

         

        {if="setTemplateMenu('stakeholder')"}<a href="/{function="getDesdomain()"}/fornecedores" class="list-group-item list-group-item-action">Fornecedores</a> {/if}
        
          

        {if="setTemplateMenu('outerlist')"}<a href="/{function="getDesdomain()"}/listas-de-fora" class="list-group-item list-group-item-action">Listas de Fora</a>{/if}
  </div>
</div>

