@page {
  size: A4;
}
@media print {
	*{
		background: transparent;
		color: #000;
		text-shadow: none; 
		filter: none;
		-ms-filter: none;
		margin: 0;
		padding: 0;
	}
	header{
		display: none;
	}
	footer{
		display: none;
		page-break-after: always;
	}
	h1{
		font-size: 1.5rem;
		color: #000;
	}
	a:link, a:visited{
		color: #333; text-decoration: underline;
	}
	a[href]:after{
		content: "(" attr(href) ")";
	}
	
	#terms {
	    width: 100%;
	    padding: 4%;
	    margin: 1%;
	    font-size: 1rem;
	}
	
	#print-wrapper{
		display: none;
	}
	.title h1{
		color: #000;
	}

}/*@media print*/