<section id="banner2">

    <div class="container">


        
        <div class="row centralizer">
            
            <div class="col-md-10 col-12 text-center">
                
                <div class="bottom2">
                    <h1>Obrigado!</h1>

                </div>

            </div>

        </div>


        <div class="row centralizer">



            <div class="col-md-8 col-12 text-center">

                

                <div class="bottom2">
                    <h3>Você receberá o E-book em seu E-mail em até 60 minutos!</h3>
                </div>

                {if="$error != ''"}
                <div class="alert alert-danger">
                    {$error}
                </div>
                {/if}

            </div>
           


        </div>

    </div>
    <!--container-->


</section>











<section id="advantages2">

    <div class="container">


        <div class="row">

            <div class="col-md-5 col-12 bottom2">

                <div class="lead-img2">
                    
                    <img src="/res/images/leads/banner4.jpg" alt="Imagem de Noivos  ">
                </div>  
                

            </div>
            <!--col-lg-8-->

            <div class="col-md-7 col-12">

                <div class="bottom3">
                    <h3>APROVEITE ESTA OFERTA!</h3>
                </div>

                <div class="bottom2">
                    <p>Em breve nós faremos o lançamento do <strong>Casamento Pocket</strong>, um pacote super especial para você começar a jornada de casada da forma mais rápida e segura nestes tempos de Pandemia!</p>
                </div>

                <div class="bottom2">
                    <p>Você não pode ficar de fora dessa porque é uma oferta super especial! Mas para visualizá-la é preciso estar dentro da nossa na nossa <strong>Lista Bem Casei VIP no WhatsApp</strong>.</p>
                </div>

                <div class="bottom2">
                    <p>Então clique no botão abaixo e entre agora mesmo!</p>
                </div>

                <div class="bottom2">
                    <a target="_blank" href="/"><button type="button" class="button7">Sim! Quero Entrar Na Lista!</button></a>
                </div>

            </div>
            <!--col-md-4-->

        </div>
        <!--row-->

</section>








