<section id="dash-login">
    
    <div class="container">



        <div class="row">
            

            <div class="col-md-12">
                
                <h2 class="title">Fale Conosco</h2>

            </div><!--col-->


           
        </div><!--row-->




        
        <div class="row">
            


            

            <div class="col-md-6">
                
                <h3 style="color: #dd716f">Precisa de ajuda?</h3>
                <br>
                <p>Teve dúvidas a respeito do site? Envie-nos sua questão ou fale  conosco pelo chat, que iremos lhe atender!</p>
                <p>Muitas dúvidas já estão resolvidas na Central de Ajuda. Visite-a  para obter sua resposta!<br><br>
                <a href="#" class="btn-amarcasar4">Central de Ajuda</a>
                <br><br><br><br>
                O Amar Casar está à sua inteira disposição! Para críticas,  sugestões e comentários, use o formulário ao lado:</p>

            </div><!--col-->





            <!--<div class="col-md-6">
                
                <div class="contacts-form-bg">
                    <div class="contacts-form">


                        <h2 class="text-center text-gray no-line-height">Formulário</h2>
            

                        <form method="post" action="" name="contactform" id="contactform">
                            <fieldset>


                                <label for="name" accesskey="U" title="Digite Seu Nome"><i class="fa fa-user"></i></label>
                                <input name="name" type="text" id="name" size="30" title="Digite Seu Nome" required/>


                                <label for="email" accesskey="E" title="Digite Seu E-mail"><i class="fa fa-envelope-o"></i></label>
                                <input name="email" type="text" id="email" size="30" title="Digite Seu E-mail" required/>


                                <label for="phone" accesskey="P"><i class="fa fa-phone"></i></label>
                                <input name="phone" pattern="[0-9]{10,11}" title="Digite DDD + Número. Ex:11987654321" type="text" id="phone" size="30" value="" />



                                <label for="texto" accesskey="C" title="Escreva Sua Mensagem"><i class="fa fa-pencil-square-o"></i></label>
                                <textarea name="texto" id="comments" title="Escreva Sua Mensagem" required></textarea>


                              


                                <input type="submit" class="btn-amarcasar4 enviar-vlk" id="submit" value="Enviar" />

                            </fieldset>
                        </form>
                        <div class="twelve columns">
                            <div id="message"></div>
                        </div>

                    </div>
                </div>

            </div>



        </div>  -->





    </div><!--container-->




</section>

