<section id="banner">

    <div class="container">


        <div class="row centralizer">


            <div class="col-md-8 col-12 bottom2">

                <div class="text-center">

                    <div class="bottom2">
                        <h2>Casamento Pocket</h2>
                    </div>

                    <div class="bottom3">
                        <h1>Dê Início a Sua Vida a Dois da Forma Mais Segura e Simples Durante a Quarentena!</h1>
                    </div>
                    <!--
                    <div class="bottom1">
                        <h1>Bem Casei Pocket</h1>

                    </div>
                    -->

                    <div class="bottom2">
                        <!--
                        <h3>Você quer dar um fim à sua angústia e realizar seu casamento da maneira mais rápida e segura durante a pandemia?</h3>
                        -->

                        <h3>Uma Alternativa Incrível Para Se Casar No Momento Atual!</h3>
                    </div>

                    

                    <div class="button-centralizer">
                        <a href="/promocao"><button type="button" class="button8">Sim! Quero Iniciar Minha Vida A Dois!</button></a>
                    </div>

                </div>
                <!--textIntroduction_-->

            </div>




            <div class="col-md-4 col-12 centralizer bottom2">
                
                <div class="img-promotion bottom2">
                    <img src="/res/images/promotions/banner2.png" alt="Imagem de um Casal">
                </div>

            </div>

        </div>

    </div>
    <!--container-->


</section>


























<section id="site-features" class="site">

    <div class="container">
        
        <div class="row bottom2 centralizer">
     
            <div class="col-md-6 text-center">
                
                <div class="bottom2">
                    <h2>
                        O QUE É O CASAMENTO POCKET?
                    </h2>
                </div>
                
                               
                

            </div><!--col-->
            
        </div><!--row-->








        <div class="row bottom2 centralizer">
     
            <div class="col-md-8 text-center">
                
                <div class="bottom1">
                    <P>Nós acreditamos que, mais importante do que as coisas, são as experiências que vivemos.</P>
                </div>


                <div class="bottom2">
                    <P>O Casamento Pocket é um pacote que inclui vários serviços, onde você terá acesso a:</P>
                </div>
                
                               
                

            </div><!--col-->
            
        </div><!--row-->









        <div class="row">
            
            <div class="col-md-6">

                <div class="bottom3">

                    <ul> 

                        <li><i class="fa fa-check"></i>&nbsp; Plano Gold na plataforma Bem Casei por 12 meses para fazer seu site de casamento</li> 
                        

                        <li><i class="fa fa-check"></i>&nbsp; Um Ensaio Fotográfico Profissional para fazer fotos de extrema qualidade e postar no seu site</li> 


                        <li><i class="fa fa-check"></i>&nbsp; Uma Sessão com um Coach de Finanças para definir e organizar as metas financeiras do casal</li>

                        
                        

                    </ul>

                </div><!--gifts-section1-->


            </div>

            


            <div class="col-md-6">

                <div class="bottom3">

                    <ul> 


                        <li><i class="fa fa-check"></i>&nbsp; Lista de Presentes Convertida em Dinheiro com conndições e tarifas incríveis</li>
                        
                        <li><i class="fa fa-check"></i>&nbsp; Ferramenta para enviar e-mail para meus convidados</li>
    
                        <li><i class="fa fa-check"></i>&nbsp; Um bônus de 6 meses a mais de acesso para usar o seu site!</li>
                        
                        

                        
    
                    </ul>
    
                </div><!--col-->

            </div><!--col-->


          
       
               
            
        </div><!--row-->






    </div><!--container-->

</section>














<section id="confirmation2">

    <div class="container centralizer text-center">


        <div class="col-md-8 col-12">
            

            <div class="row bottom2 centralizer">
     
                <div class="col-md-6 text-center">
                    
                    <div class="bottom2">
                        <h2>
                            COMO O CASAMENTO POCKET FUNCIONA?
                        </h2>
                    </div>
                    
                                   
                    

                </div><!--col-->
                
            </div><!--row-->




            
            <div class="row">



                <div class="col-md-6 col-12 text-center centralizer bottom2">

                    <div class="box1">

                        <!--<div class="bottom2">
                            <i class="fa fa-play"></i>
                        </div>

                        <h3>Lindas Galerias para Postar Suas Fotos e Vídeos</h3>-->



                        <div class="number1 bottom1">
                            <h3>1.</h3>
                        </div>

                        <h3>Agende o Ensaio Fotográfico pelo WhatsApp</h3>

                    </div>

                </div>



                <div class="col-md-6 col-12 text-center centralizer bottom2">


                    <div class="box1">

                        <!--
                        <div class="bottom2">
                            <i class="fa fa-desktop"></i>
                        </div>

                        <h3>Sessão de Coaching Por Video-Conferência</h3>
                    -->





                        <div class="number1 bottom1">
                            <h3>2.</h3>
                        </div>

                        <h3>Poste As Fotos do Ensaio no Seu Site de Casamento</h3>

                    </div>


                </div>




                





            </div>













            <div class="row">



                




                <div class="col-md-6 col-12 text-center centralizer bottom2">

                    <div class="box1">

                        <!--
                        <div class="bottom2">
                            <i class="fa fa-calendar"></i>
                        </div>

                        <h3>Acesso por 12 Meses (+6 Meses de Bônus)</h3>
                    -->


                        <div class="number1 bottom1">
                            <h3>3.</h3>
                        </div>

                        <h3>Agende a Sessão de Coaching pelo WhatsApp</h3>

                    </div>

                </div>








                



                <!--
                <div class="col-md-6 col-12 text-center centralizer bottom2">


                    <div class="box1">

                        <div class="bottom2">
                            <i class="fa fa-signal"></i>
                        </div>

                        <h3>Plataforma 100% On-Line</h3>

                    </div>


                </div>
            -->




                <div class="col-md-6 col-12 text-center centralizer bottom2">

                    <div class="box1">

                        <!--
                        <div class="bottom2">
                            <i class="fa fa-signal"></i>
                        </div>

                        <h3>Funciona no celular, tablet e notebook</h3>
                    -->




                        <div class="number1 bottom1">
                            <h3>4.</h3>
                        </div>

                        <h3>Faça a Sessão de Coaching pelo Skype por Video</h3>

                    </div>

                </div>








            </div>























            <div class="row">



                




                <div class="col-md-6 col-12 text-center centralizer bottom2">

                    <div class="box1">

                        


                        <div class="number1 bottom1">
                            <h3>5.</h3>
                        </div>

                        <h3>Acesso à Plataforma por 12 Meses (+6 Meses de Bônus)</h3>

                    </div>

                </div>









                <div class="col-md-6 col-12 text-center centralizer bottom2">

                    <div class="box1">

                       




                        <div class="number1 bottom1">
                            <h3>6.</h3>
                        </div>

                        <h3>Funciona no celular, tablet e notebook</h3>

                    </div>

                </div>








            </div>



        </div>












    </div>
    <!--container-->
    <!-- # End / Contet Text #  -->
</section>



















<section id="site-features" class="site">

    <div class="container">
        
        <div class="row bottom2 centralizer">
     
            <div class="col-md-6 text-center">
                
                <div class="bottom2">
                    <h2>
                        O CASAMENTO POCKET SERVE PARA QUAIS NOIVAS?
                    </h2>
                </div>
                
                               
                

            </div><!--col-->
            
        </div><!--row-->





        <div class="row">
            
            <div class="col-md-6">

                <div class="bottom3">

                    <ul> 

                        <li><i class="fa fa-female"></i>&nbsp; Noivas que pretendem adiar ou já adiaram o seu casamento</li> 
                        

                        <li><i class="fa fa-female"></i>&nbsp; Noivas que pretendem realizar apenas o Casamento Civil</li> 


                        <li><i class="fa fa-female"></i>&nbsp; Noivas que necessitam de uma ferramenta para comunicar seus convidados sobre o adiamento do seu casamento</li>

                        
                        

                    </ul>

                </div><!--gifts-section1-->


            </div>

            


            <div class="col-md-6">

                <div class="bottom3">

                    <ul> 


                        <li><i class="fa fa-female"></i>&nbsp; Noivas que desejam iniciar a vida a dois com a segurança de um planejamento financeiro personalizado</li>
                        
                        <li><i class="fa fa-female"></i>&nbsp; Noivas que cancelaram seu casamento por causa da quarentena</li>
    
                        <li><i class="fa fa-female"></i>&nbsp; Noivas que necessitam de uma Lista de Presentes que seja convertida em dinheiro</li>
                        
                        

                        
    
                    </ul>
    
                </div><!--col-->

            </div><!--col-->


          
       
               
            
        </div><!--row-->






    </div><!--container-->

</section>













<!--
<section id="create-list">

    <div class="container">

        <div class="row">

            <div class="col-md-6 text-center">

            

                <div class="row bottom1 centralizer">
                    <p>
                        Crie uma Lista e receba seus presentes em <span style="color:#f0ff00;font-weight:normal;">dinheiro</span> para usar como quiser!
                    </p>

                </div>

                <div class="row bottom3 centralizer">
    
                    <p>Praticidade, segurança e confiabilidade para ajudar a tornar seu casamento um sucesso!</p>
                </div>


                <div class="row bottom2">

                    <div class="col-md-12">

                        <a href="/lista-presentes"><button type="button" class="button1">Lista de Presentes</button></a>

                    </div>

                </div>

            </div>


            <div class="col-md-6 text-center">


                <div class="row bottom3 centralizer">

                    <p><i class="fa fa-arrow-right"></i></i>&nbsp; Tarifa Total de <span style="color:#f0ff00;font-weight:normal;">4,99%</span></p>
                    
                    
                    <p><i class="fa fa-arrow-right"></i></i>&nbsp; Transferências <span style="color:#f0ff00;font-weight:normal;">GRATUITAS</span> para Conta Bancária</p>

                    

                    <p><i class="fa fa-arrow-right"></i></i>&nbsp; Escolha Quem Arca com as Tarifas: Você ou o Convidado</p>

                </div>


                

                <div class="row bottom2">

                    <div class="col-md-12">

                        <a href="/planos"><button type="button" class="button1">Planos</button></a>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>
-->









<!--

<section id="confirmation2">

    <div class="container text-center">


        <div class="row bottom2 centralizer">
     
            <div class="col-md-6 text-center">
                
                <div class="bottom2">
                    <h2>
                        COMO O CASAMENTO POCKET FUNCIONA?
                    </h2>
                </div>
                
                               
                

            </div>
            
        </div>




        <div class="row">




            <div class="col-md-3 col-12 text-center centralizer bottom2">




                <button type="button" class="button7">

                    <div class="bottom2">
                        <i class="fa fa-desktop"></i>
                    </div>

                    <h3>Acesso 100% On-Line à Plataforma Por 12 Meses (+ 12 Meses de Bônus)</h3>

                </button>

            </div>




            <div class="col-md-3 col-12 text-center centralizer bottom2">

                <button type="button" class="button7">

                    <div class="bottom2">
                        <i class="fa fa-camera-retro"></i>
                    </div>

                    <h3>Ensaio Fotográfico Com Os Melhores Profissionais</h3>

                </button>

            </div>





            <div class="col-md-3 col-12 text-center centralizer bottom2">

                <button type="button" class="button7">

                    <div class="bottom2">
                        <i class="fa fa-check-square"></i>
                    </div>

                    <h3>Lista de Presentes Convertida em Dinheiro</h3>

                </button>

            </div>





            <div class="col-md-3 col-12 text-center centralizer bottom2">

                <button type="button" class="button7">

                    <div class="bottom2">
                        <i class="fa fa-envelope-square"></i>
                    </div>

                    <h3>Comunicar Seus Convidados Sobre o Adiamento</h3>

                </button>

            </div>







        </div>




    </div>

</section>

-->









<section id="confirmation2">

    <div class="container text-center">


        <div class="row centralizer">
     
            <div class="col-md-12 text-center">
                
                <h2>
                    AQUI ESTÃO ALGUMAS VANTAGENS E BENEFÍCIOS QUE VOCÊ VAI RECEBER AO ADQUIRIR O CASAMENTO POCKET
                </h2>
                
                               
                

            </div><!--col-->
            
        </div><!--row-->






    </div>
    <!--container-->
    <!-- # End / Contet Text #  -->
</section>







<section id="advantages">

    <div class="container">



        <!--


        <div class="row bottom3">

            <div class="col-md-12 text-center">

                <h2>AQUI ESTÃO ALGUMAS VANTAGENS E BENEFÍCIOS QUE VOCÊ VAI RECEBER AO ADQUIRIR O CASAMENTO POCKET</h2>

            </div>

        </div>

    -->





        <div class="row bottom2">



            <div class="col-md-4 col-12 bottom2">

                <div class="img-promotion2 bottom2">
                    <img src="/res/images/promotions/banner1.jpg" alt="Imagem de um Casal">
                </div>
                

            </div>





            <div class="col-md-8 col-12 bottom1">

                <div class="bottom1">
                    <h2>Ensaio Fotográfico</h2>
                </div>

                <div class="bottom1">
                    <h3>Faça um Ensaio Fotográfico com os melhores profissionais de Belo Horizonte e coloque no seu site para que seus familiares e amigos possam ver e se encantar!</h3>
                </div>

                <div class="bottom1">
                    <h3>Em tempos de quarentena esta é maneira mais elegante e segura de registrar esse momento lindo e histórico!</h3>
                </div>


                

            </div>


        </div>




                <!--
        <div class="hr1 bottom4">
                    <hr>
                </div>
                -->















        <div class="row bottom2">



            <div class="col-md-4 col-12 bottom2">

                <div class="img-promotion2 bottom2">
                    <img src="/res/images/promotions/banner9.jpg" alt="Imagem de um Casal">
                </div>
                

            </div>





            <div class="col-md-8 col-12 bottom1">

                <div class="bottom1">
                    <h2>Coaching de Finanças</h2>
                </div>

                <div class="bottom1">
                    <h3>Faça uma sessão personalizada com um Coach de Finanças para traçar suas metas e objetivos financeiros.</h3>
                </div>

                <div class="bottom1">
                    <h3>A melhor forma de iniciar sua vida a dois é sem dívidas e com sua vida financeira bem organizada!</h3>
                </div>


                

            </div>


        </div>




                <!--
        <div class="hr1 bottom4">
                    <hr>
                </div>
                -->
















        <div class="row bottom2">



            <div class="col-md-4 col-12 bottom2">

                <div class="img-promotion2 bottom2">
                    <img src="/res/images/promotions/banner8.jpg" alt="Imagem de um Casal">
                </div>
                

            </div>





            <div class="col-md-8 col-12 bottom1">

                <div class="bottom1">
                    <h2>Lista de Presentes Convertida em Dinheiro</h2>
                </div>

                <div class="bottom1">
                    <h3>Crie uma Lista de Presentes e receba os valores em Dinheiro para usar como quiser!</h3>
                </div>

                <div class="bottom1">
                    <h3>Tarifas Absurdamente Baixas e Transferências <span style="color:#ec656d;font-weight:normal;">GRATUITAS</span> para a Conta Bancária</h3>
                </div>

            </div>

        </div>




                <!--
        <div class="hr1 bottom4">
                    <hr>
                </div>
                -->













        <div class="row bottom2">



            <div class="col-md-4 col-12 bottom2">

                <div class="img-promotion2 bottom2">
                    <img src="/res/images/promotions/banner4.jpg" alt="Imagem de um Casal">
                </div>
                

            </div>





            <div class="col-md-8 col-12 bottom1">

                <div class="bottom1">
                    <h2>Comunique Seus Convidados Sobre o Adiamento</h2>
                </div>

                <div class="bottom1">
                    <h3>Se você já enviou os convites e tomou a decisão de adiar a data do seu casamento por causa da Quarentena, precisa avisar os seus convidados!</h3>
                </div>

                <div class="bottom1">
                    <h3>O Bem Casei tem uma ferramenta que possibilita você enviar e-mails com aviso de adiamento de forma fácil e descomplicada!</h3>
                </div>

            </div>

        </div>




                <!--
        <div class="hr1 bottom4">
                    <hr>
                </div>
                -->




















        <div class="row bottom2">



            <div class="col-md-4 col-12 bottom2">

                <div class="img-promotion2 bottom2">
                    <img src="/res/images/promotions/banner5.jpg" alt="Imagem de um Casal">
                </div>
                

            </div>





            <div class="col-md-8 col-12 bottom1">

                <div class="bottom1">
                    <h2>Divulgue o Seu Casamento Civil</h2>
                </div>

                <div class="bottom1">
                    <h3>Divulgue detalhes do Seu Casamento Civil em lindos templates e Encante os Seus Amigos e Familiares!</h3>
                </div>

                

            </div>

        </div>




                <!--
        <div class="hr1 bottom4">
                    <hr>
                </div>
                -->







</section>













<section id="confirmation">

    <div class="container">



        <!--

            <div class="row centralizer">
                
                <div class="col-md-10 col-12 text-center">
                    
                    <div class="bottom2">
                        <h3>Adquira já o seu Casamento Pocket, a Maneira Mais Simples e Segura De Realizar Seu Casamento Durante a Pandemia</h3>

                    </div>

                </div>

            </div>

        -->


        <div class="row centralizer">



            <div class="col-md-8 col-12">

                

                <div class="lead2 text-center">

                    
                    <div class="bottom2">
                        <h3>Realize o Seu Casamento da Maneira Mais Segura e Simples Durante a Quarentena!</h3>
                    </div>

                    <div class="bottom3">

                        <ul> 

                            <li><i class="fa fa-check"></i>&nbsp; Acesso à Plataforma por 12 Meses (+6 Meses de Bônus)</li> 
                            
                            <li><i class="fa fa-check"></i>&nbsp; Um Ensaio Fotográfico</li>

                            <li><i class="fa fa-check"></i>&nbsp; Uma Sessão Com um Coach de Finanças</li>

                            <li><i class="fa fa-check"></i>&nbsp; Lista de Presentes Convertida em Dinheiro</li> 


                            <li><i class="fa fa-check"></i>&nbsp; Comunique seus Convidados do Adiamento do Casamento</li>

                            
                            

                        </ul>

                    </div><!--gifts-section1-->


                    <div class="bottom1">
                        <h4>Por</h4>
                        
                    </div>

                    

                    <div class="bottom3">
                        <h3>R$ 1.597,00</h3>
                    </div>

                    

                    

                    <div class="bottom2">
                        <h4>Uma Alternativa Incrível Para Se Casar No Momento Atual!</h4>
                    </div>

                    <a href="/promocao"><button type="button" class="button8">Sim! Quero Realizar Meu Casamento!</button></a>


                </div>
                <!--textIntroduction_-->

            </div>









            



        </div>


    </div>
    <!--container-->
    <!-- # End / Contet Text #  -->
</section>























<section id="advantages">

    <div class="container-fluid">            
            
            
        <div class="row bottom2">

            <div class="col-md-12 text-center">

                <h2>CONFIRA NOSSOS ENSAIOS</h2>

            </div>
            <!--col-lg-12-->

        </div>



    



        <div class="row">

            <div class="col-12">
                 

                <div class="card-wrapper">


                    {loop="$album"}


                    <div class="card1">
                        

                       
                            
                        


                        <div class="body-header">

                            <div class="card-image">
                            
                                <img alt="Bem Casei Site de Casamento" src="/res/images/promotions/photo/{$value.desphoto}">

                            </div><!--card-photo-->

                        </div><!--card-header-->


                        
                        <!--

                        <div class="card-body">
                            


                            <div class="title">


                                <h5>{$value.desalbum}</h5>

                                <hr>


                            </div>





                            <div class="body-row">

                                <textarea readonly="readonly" class="description">{$value.desdescription}</textarea>

                            </div>






                            <div class="body-footer buttons-wrapper">
                                
                                <a target="_blank" href="/res/images/template/photo/{$value.desphoto}">
                                
                                    <i class="fa fa-eye"></i>&nbsp;&nbsp;&nbsp;<span>Ver</span>

                                </a>

                            </div>





                        </div>
                    -->
                        
                            
                        
                    </div><!--card1-->

                                
                    {/loop}






                </div><!--wrapper-->

            </div><!--col-->
    
        </div><!--row-->


        



    </div><!--container-->

</section>
































<section id="advantages2">

    <div class="container">





        <div class="row">



            <div class="col-md-4 col-12 vertical-centralizer bottom1">

                <div class="img-promotion bottom2">
                    <img src="/res/images/promotions/banner6.png" alt="Selo de Garantia">
                </div>
                

            </div>





            <div class="col-md-8 col-12 bottom1">

                <div class="bottom1">
                    <h2>Garantia Blindada 10 Dias</h2>
                </div>

                <div class="bottom1">
                    <h3>Sua Compra do Casamento Pocket está 100% Coberto Por Uma Garantia De 10 Dias!</h3>
                </div>

                <div class="bottom1">
                    <h3>Se neste período você não estiver satisfeito com o seu investimento, tudo o que você tem que fazer é entrar no Chat na Área de <strong>Central de Ajuda</strong> e pedir a evolução da sua compra!</h3>
                </div>


                

            </div>


        </div>




                <!--
        <div class="hr1 bottom4">
                    <hr>
                </div>
                -->



</section>






























<section id="testimonial1">

    <div class="container">

        <div class="row bottom2">
     
            <div class="col-md-12 text-center">
                
                <div class="bottom1">
                    <h2>
                        PERGUNTAS FREQUENTES
                    </h2>
                </div>
                
                               
                

            </div><!--col-->
            
        </div><!--row-->

        <div class="row">

            <div class="col-md-12 text-center">

                <div class="accordion" id="accordion-testimonial1">






                    <div class="card">
                      <div class="card-header" id="headingOneTwenty">
                        <h2 class="mb-0">
                          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOneTwenty" aria-expanded="true" aria-controls="collapseOneTwenty">
                            Quanto Tempo o Meu Site Ficará On-Line?
                          </button>
                        </h2>
                      </div>
                  
                      <div id="collapseOneTwenty" class="collapse" aria-labelledby="headingOneTwenty" data-parent="#accordion-testimonial1">
                        <div class="card-body">
                          Seu Site Ficará no Ar por 12 meses + 6 meses de Bônus, totalizando 18 meses ininterruptos no ar!

                          <br><br>

                          Caso necessite, você pode a qualquer momento comprar renovação de plano por mais 1,3,4,6,9 ou 12 meses, quantas vezes quiser.
                        </div>
                      </div>
                    </div>








                    <div class="card">
                      <div class="card-header" id="headingTwoTwenty">
                        <h2 class="mb-0">
                          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwoTwenty" aria-expanded="false" aria-controls="collapseTwoTwenty">
                            E se Eu quiser manter o site no Ar por mais tempo, mesmo depois da Festa ter acontecido?
                          </button>
                        </h2>
                      </div>
                      <div id="collapseTwoTwenty" class="collapse" aria-labelledby="headingTwoTwenty" data-parent="#accordion-testimonial1">
                        <div class="card-body">
                          Caso você precise, antes de terminar o seu plano, você pode fazer a Renovação do mesmo pelo período de mais 1, 3, 4, 6, 9 ou 12 meses, mantendo assim seu site no ar, mesmo depois da festa já ter acontecido.
                        </div>
                      </div>
                    </div>




                    <!---
                    <div class="card">
                      <div class="card-header" id="headingThreeTwenty">
                        <h2 class="mb-0">
                          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThreeTwenty" aria-expanded="false" aria-controls="collapseThreeTwenty">
                            Existe um período para Experimentar o Site?
                          </button>
                        </h2>
                      </div>
                      <div id="collapseThreeTwenty" class="collapse" aria-labelledby="headingThreeTwenty" data-parent="#accordion-testimonial1">
                        <div class="card-body">
                          Existe, sim. Você pode experimentar o site por 10 Dias grátis, com quase todos os recursos liberados, antes de se decidir a comprar um plano.
                        </div>
                      </div>
                    </div>
                -->





                












                      <div class="card">
                        <div class="card-header" id="headingSevenTewenty">
                          <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSevenTwenty" aria-expanded="false" aria-controls="collapseSevenTwenty">
                              Os Valores que eu ganhar nos presentes que meus convidados comprarem são garantidos mesmo?
                            </button>
                          </h2>
                        </div>
                        <div id="collapseSevenTwenty" class="collapse" aria-labelledby="headingSevenTewenty" data-parent="#accordion-testimonial1">
                          <div class="card-body">
                            Sim, somos uma empresa idônea, responsável, que quer fornecer um serviço de qualidade no ramo de Site de Debutantes, e preza pela melhoria contínua. Nossa sede é na cidade de Belo Horizonte, capital de Minas Gerais, no bairro de Lourdes, coração da cidade. Nosso CNPJ é o 34.700.513/0001-27, e somos uma equipe de desenvolvedores e empreendedores que atua em Serviços Na Internet e WebDesign.

                            <br><br>
                            Todos as nossas transações de Cartão e Boleto são integrados com a Wirecard (www.wirecard.com.br), testadas exaustivamente, e atendem a todas as melhores práticas de segurança, além, é claro, da utilização de plataformas robustas, rápidas e seguras.

                            <br><br>

                            Em qualquer hipótese, será resguardado e garantido o acesso da Debutante ou de seu Responsável aos valores recebidos através da compra de presentes por seus convidados e amigos. Em última instância, qualquer dúvida ou problema, temos o atendimento pelo Chat que fica no rodapé, das 10:00 às 22:00, todos os dias da semana. Basta entrar em contato com a gente, e qualquer situação de problema será prontamente resolvida.
                          </div>
                        </div>
                      </div>





                      <div class="card">
                        <div class="card-header" id="headingTenTwenty">
                          <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTenTwenty" aria-expanded="false" aria-controls="collapseTenTwenty">
                              As Informações são Editáveis?
                            </button>
                          </h2>
                        </div>
                        <div id="collapseTenTwenty" class="collapse" aria-labelledby="headingTenTwenty" data-parent="#accordion-testimonial1">
                          <div class="card-body">
                            Sim, todas as informações e funcionalidades são totalmente editáveis.
                          </div>
                        </div>
                      </div>








                      <div class="card">
                        <div class="card-header" id="headingOneThirty">
                          <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOneThirty" aria-expanded="false" aria-controls="collapseOneThirty">
                              A empresa Bem Casei fornecerá álcool em gel?
                            </button>
                          </h2>
                        </div>
                        <div id="collapseOneThirty" class="collapse" aria-labelledby="headingOneThirty" data-parent="#accordion-testimonial1">
                          <div class="card-body">
                            Sim, nós forneceremos dois frascos de 200ml de álcool gem gel 70% cheio e novo para ser consumido durante o ensaio: um para uso exclusivo do casal, outro para uso exclusivo da equipe de fotografia.

                            <br><br>

                            O frasco será levado pela equipe de fotografia para o local do ensaio e entregue para os noivos que poderão, inclusive, levar consigo para sua residência ao término do ensaio.


                          </div>
                        </div>
                      </div>














                      <div class="card">
                        <div class="card-header" id="headingTwoThirty">
                          <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwoThirty" aria-expanded="false" aria-controls="collapseTwoThirty">
                               A empresa Bem Casei fornecerá as máscaras de proteção facial?
                            </button>
                          </h2>
                        </div>
                        <div id="collapseTwoThirty" class="collapse" aria-labelledby="headingTwoThirty" data-parent="#accordion-testimonial1">
                          <div class="card-body">
                            Não, nós não forneceremos as máscaras faciais por um motivo bem simples: higiene pessoal.

                            <br><br>

                            As máscaras são um utensílio extremamente pessoal, que entra em contato com partes muito importantes do aparelho digestivo e respiratório de cada indivíduo e, portanto, é de bom senso que cada um lave, utilize e transporte a sua própria.



                          </div>
                        </div>
                      </div>












                      <div class="card">
                        <div class="card-header" id="headingThreeThirty">
                          <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThreeThirty" aria-expanded="false" aria-controls="collapseThreeThirty">
                               Quantas máscaras devo levar para o ensaio?
                            </button>
                          </h2>
                        </div>
                        <div id="collapseThreeThirty" class="collapse" aria-labelledby="headingThreeThirty" data-parent="#accordion-testimonial1">
                          <div class="card-body">
                            Como o ensaio terá uma duração de até 2 horas, fora o tempo de deslocamento para ir e voltar, e, pelo fato de muitas pessoas poderem suar bastante durante o ensaio, nós aconselhamos levar de 3 a 4 máscaras.



                          </div>
                        </div>
                      </div>











                      




                      <div class="card">
                        <div class="card-header" id="headingElevenTwenty">
                          <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseElevenTwenty" aria-expanded="false" aria-controls="collapseElevenTwenty">
                              A empresa Bem Casei levará o casal para o ensaio?
                              
                            </button>
                          </h2>
                        </div>
                        <div id="collapseElevenTwenty" class="collapse" aria-labelledby="headingElevenTwenty" data-parent="#accordion-testimonial1">
                          <div class="card-body">
                           Não. É de responsabilidade de cada casal providenciar os meios necessários para ir e voltar para o local escolhido para o ensaio.
                          </div>
                        </div>
                      </div>








                      








                  </div>

            </div>
            <!--col-->


          

        </div>
        <!--row-->

    </div>
    <!--container-->

</section>