    <!DOCTYPE html>
<html lang="pt-br">


<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Bem Casei, o site de casamento mais lindo do Brasil! Ajudamos você a promover este evento máximo em sua vida!">
    <meta name="robots" content="noindex">


    <title>{function="getDashPageConfig('pagetitle')"}</title>
    <link rel="icon" type="image/png" href="/res/images/favicon/dashboard/favicon.ico"/>
    <link rel="stylesheet" media="screen" type="text/css" href="/res/colorpicker/css/colorpicker.css" />
    <link rel="stylesheet" type="text/css" href="/res/css/bootstrap.min.css">
    
    <!-- <link rel="stylesheet" type="text/css" href="/res/css/font-awesome.min.css"> -->
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/res/css/dashboard/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/res/css/dashboard/stylesheet-mobile.css">
    <link rel="stylesheet" type="text/css" href="/res/css/dashboard/print.css" media="print">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144014663-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-144014663-1');
    </script>


    <!-- Start of bemcasei Zendesk Widget script -->
    <script id="ze-snippet"
        src="https://static.zdassets.com/ekr/snippet.js?key=565637ed-1709-4f89-b406-1ce62941de4b"> </script>
    <!-- End of bemcasei Zendesk Widget script -->


    <!--BEM CASEI PIXEL-->
    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '421933245424870');
      fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=421933245424870&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->

</head>



<body>
    

    <header>

        <div id="header-device" class="container-fluid">
            

            <div class="row">
                

                <div class="col-md-3">
                    


                    <div id="logo">

                        <img id="logotipo" src="/res/images/logo/logo-white.png" alt="Logotipo">

                    </div>
         

                </div><!--col-md-->






                <div class="col-md-9">
                                       
                        
                    <div id="menu-header">
                        <ul>



                                <li><a href="/painel"><i class="fa fa-user"></i> {function="getLeadDesemail()"}</a></li>

                                <li><a href="/painel/logout"><i class="fa fa-sign-out"></i> Sair</a></li>

                            
                        </ul>
                    </div>



                </div><!--col-md-->


            </div><!--row-->


        </div>



    <div id="header-mobile" class="container-fluid">

        <div class="row">



            <div class="col-md-12">
                



                <div id="menu-condensed">
                        
                    <button id="btn-bars" type="button"><i class="fa fa-bars"></i></button>
                    
                </div>




                

                <div id="menu-mobile">
                    
                    <ul>

                            <li><a href="/painel"><i class="fa fa-user"></i> {function="getLeadDesemail()"}</a></li>






                            {if="getInlead() == '1' "}

                                <div class="list-group">





                                    <div class="menu-main-pages">
                                        
                                        <a href="/painel" class="list-group-item list-group-item-action">Início</a>



                                    </div>



                                    





                                    <div class="menu-main-pages">


                                        <a href="/painel/mudar-senha" class="list-group-item list-group-item-action">Alterar Senha</a>  
                                        
                                        <a href="/painel/logout" class="list-group-item list-group-item-action">Sair</a>

                                    </div><!--menu-main-pages-->




                                </div><!--list-group-->

                            {/if}

                        








                    </ul>

                    <div class="bar-close">
                        <button type="button" class="btn btn-close"><i class="fa fa-close"></i></button>
                    </div>

                </div>


                <div id="menu-mobile-mask"></div>



            </div><!--row-->



        </div><!--container-->

    </div><!--header-mobile-->
        
             
</header>
